<%
  model_class_name = controller.model_class.name.underscore.downcase
  model_name = I18n.t("forms.record_types.#{model_class_name}")
%>
<li>
<a data-open=<%= "approve-#{approval_type}-modal" %> class=<%= "approve_#{approval_type}_show_action" %>>
  <%= t("buttons.approve_#{approval_type}", model: model_name) %>
</a>

<div id=<%= "approve-#{approval_type}-modal" %> class="reveal-modal tiny" data-reveal>
<a class="close-reveal-modal">&#215;</a>
<div class=<%= "approve_#{approval_type}_form_container row"%> >
  <div class="large-11">
    <%= form_tag(url_for(:action => 'approve_form', :id => (defined?(instance) ? instance.id : nil), :approval_type => approval_type), {:multipart => true, :method => 'post', :autocomplete => "off"}) do %>
      <div class="row">
        <div class="medium-12 columns">
          <label for="format"><%= t("approvals.approve_#{approval_type}_label") %></label>
          <%= check_box_tag('approval', 'true') %>
          <label form="format"><%= t('true') %></label>
        </div>
      </div>

      <label><%=I18n.t("approvals.comments_label")%>
        <%= text_area_tag("comments") %>
      </label>
      <div class="import_button">
        <%= submit_tag(t("buttons.submit"), class: 'green-button right') %>
      </div>
    <% end %>
  </div>
  <div class="large-1">
  </div>
</div>
</div>
</li>