<div class="reveal tiny" id="<%= "#{approval_type}_approvals" %>" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class="row">
    <div class="large-12 columns">
      <%= t("approvals.approve_#{approval_type}") %>
    </div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="large-12 columns">
      <a class="button hollow right"
         id="approve_action"
         data-id="<%= instance.id %>"
         data-form_action="<%= send("#{model.name.underscore.downcase}_request_approval_path", instance) %>"
         data-submit_error_message="<%# t("#{model.name.underscore.downcase}.record_status_error_message")%>"
         data-status="Pending"
         data-approval_type="<%= approval_type %>"
         href=""><%= t("buttons.ok") %>
      </a>
      <a class="close-reveal-modal button hollow right gray"><%= t("buttons.cancel") %></a>
    </div>
  </div>
</div>