<% selectable_approval_types = approval_type == Approvable::CASE_PLAN && instance.module.present? && instance.module.selectable_approval_types %>
<div class="reveal tiny" id="<%= "#{approval_type}_approvals" %>" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class="row collapse">
    <div class="large-12 columns copy">
      <% if selectable_approval_types  %>
        <%= t('approvals.approve_case_plan_with_selectable_type') %>
      <% else %>
        <%= t("approvals.approve_#{approval_type}") %>
      <% end %>
    </div>
  </div>
  <% if selectable_approval_types %>
    <div class="row collapse">
      <div class="large-12 columns">
        <div class="error"><%= t('approvals.error_select_an_approval_type') %></div>
        <form>
          <label><%= t('approvals.case_plan_type_label') %></label>
          <select class="chosen-select" data-populate="lookup-approval-type"></select>
        </form>
      </div>
    </div>
  <% end %>
  <div class="space"></div>
  <div class="row">
    <div class="button-group">
      <a class="button right"
         id="approve_action"
         data-id="<%= instance.id %>"
         data-form_action="<%= send("#{model.name.underscore.downcase}_request_approval_path", instance) %>"
         data-submit_error_message="<%# t("#{model.name.underscore.downcase}.record_status_error_message")%>"
         data-status="pending"
         data-approval_type="<%= approval_type %>"
         href=""><%= t("buttons.ok") %>
      </a>
      <button class="button gray" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true"><%= t("buttons.cancel") %></span>
      </button>
    </div>
  </div>
</div>
