<li>
  <%= link_to t("buttons.request_approval"), '#', class: 'has_sub', onclick: 'return false;' %>
  <ul class="menu">
    <li>
      <% if can?(:request_approval_bia, controller.model_class) %>
        <%= link_to t("approvals.bia"), '#', data: {"open" => "bia_approvals"} %>
        <%= render partial: 'approvals/approve_record', locals: {approval_type: "bia", model: model, instance: instance} %>
      <% end %>
    </li>
    <li>
      <% if can?(:request_approval_case_plan, controller.model_class) %>
        <%= link_to t("approvals.case_plan"), '#', data: {"open" => "case_plan_approvals"} %>
        <%= render partial: 'approvals/approve_record', locals: {approval_type: "case_plan", model: model, instance: instance} %>
      <% end %>
    </li>
    <li>
      <% if can?(:request_approval_closure, controller.model_class) %>
        <%= link_to t("approvals.closure"), '#', data: {"open" => "closure_approvals"} %>
        <%= render partial: 'approvals/approve_record', locals: {approval_type: "closure", model: model, instance: instance} %>
      <% end %>
    </li>
  </ul>
</li>