<li>
  <a><%= t("buttons.request_approval") %></a>
  <ul class="menu">
    <li>
      <% if can?(:request_approval_bia, controller.model_class) %>
        <a data-open="bia_approvals"><%= t("approvals.bia") %></a>
        <%= render partial: 'approvals/approve_record', locals: {approval_type: "bia", model: model, instance: instance} %>
      <% end %>
    </li>
    <li>
      <% if can?(:request_approval_case_plan, controller.model_class) %>
        <a data-open="case_plan_approvals"><%= t("approvals.case_plan") %></a>
        <%= render partial: 'approvals/approve_record', locals: {approval_type: "case_plan", model: model, instance: instance} %>
      <% end %>
    </li>
    <li>
      <% if can?(:request_approval_closure, controller.model_class) %>
        <a data-open="closure_approvals"><%= t("approvals.closure") %></a>
        <%= render partial: 'approvals/approve_record', locals: {approval_type: "closure", model: model, instance: instance} %>
      <% end %>
    </li>
  </ul>
</li>