<% editing ||= false %>
<% content_for :record_sub_nav do %>
  <div class="button-group">
    <%= discard_button(form_sections_path) %>
    <%= submit_button t("buttons.save") %>
  </div>
<% end %>

<div class="row">
  <div class="column">
    <%= form_for @lookup, :html => { :class => 'default-form', :autocomplete => "off" } do |f| %>
      <fieldset class="no-border">
        <%= f.error_messages :header_tag => :h2 %>
        <% if editing %>
          <div class="row">
            <div class="medium-4 medium-offset-8 columns">
              <div class="lang_title">
                <%= select_tag("locale", options_for_select(Primero::Application::LOCALES_WITH_DESCRIPTION.select { |option| option[1] != I18n.default_locale.to_s }), :class => 'locale') %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :name, t("lookup.name"), :class => "key inline" %>
          </div>
          <div class="<%= editing ? 'medium-4' : 'medium-9' %> columns">
            <%= f.text_field :name %>
          </div>
          <% if editing %>
            <% Primero::Application::LOCALES.each do |new_locale| %>
              <% if I18n.default_locale.to_s != new_locale %>
                <div class="<%= editing ? 'medium-4' : 'medium-9' %> columns <%= "translation_forms #{new_locale}"%> hide_element">
                  <%= f.text_field "name_#{new_locale}" || [] %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="row section_seperator">
          <div class="column shrink">
            <%= f.label :lookup_values, t("lookup.values"), :class => "key" %>
          </div>
          <div class="column">
            <div id="lookup_values">
              <% if @lookup.lookup_values.present? %>
                <% @lookup.lookup_values.each_with_index do |lookup_value, index| %>
                  <%= render :partial => 'lookups/lookup_value', :locals => {lookup_value: lookup_value, given_locale: I18n.default_locale, option_index: index, editing: editing} %>
                <% end %>
              <% else %>
                  <%= render :partial => 'lookups/lookup_value', :locals => {lookup_value: {}, given_locale: I18n.default_locale, option_index: 0, editing: editing} %>
                  <%= render :partial => 'lookups/lookup_value', :locals => {lookup_value: {}, given_locale: I18n.default_locale, option_index: 1, editing: editing} %>
              <% end %>
            </div>
            <%# Add button %>
            <div>
              <a id="lookup_values_add_button" class="button lookup_value_add right <%= editing ? 'edit_lookup' : '' %>" data-lang="<%= Primero::Application::LOCALES %>" data-remove="<%= t('lookup.remove')%>"><%= t('lookup.add_value') %></a>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  </div>