<%
  given_locale = @lookups.first.base_language
%>

<table id="list_table_2" class="list_table_2 dataTable in_content_area">
  <thead>
  <tr>
    <th><%= t "lookup.name" %></th>
    <th><%= t "lookup.values" %></th>
    <th ><%= t "lookup.actions" %></th>
  </tr>
  </thead>

  <tbody>
      <% lookups.each do |lkp| %>
          <tr>
            <td><%= lkp["name_#{given_locale}"] %></td>
            <td><%= lkp["lookup_values_#{given_locale}"].try(:map){|r| r['display_text'] }.try(:join,', ') %></td>
            <td>
              <% if lkp.editable? %>
                <%= link_to t("buttons.edit"), edit_lookup_path(lkp) %>
              <% end %>
              <% unless lkp.is_being_used? || lkp.locked %>
                <br>
                <%= link_to t("buttons.delete"), lookup_path(lkp), data: {confirm: t("lookup.confirm_delete")}, method: :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
  </tbody>
</table>
