<%
  editing ||= false
  option_index ||= 0
  given_locale ||= I18n.default_locale.to_s
%>
<div class="row lookup_value">
  <div class="column">
    <%= text_field_tag "lookup[lookup_values_#{given_locale}][][display_text]", lookup_value['display_text'] %>
    <%= hidden_field_tag "lookup[lookup_values_#{given_locale}][][id]", lookup_value['id'] %>
    <p class="help"><%= t("lookup.initial_lang_help_text", :lang => t("home.#{given_locale}")) %></p>
  </div>
  <% if editing %>
    <% Primero::Application::locales.each do |new_locale| %>
      <% if given_locale != new_locale %>
        <div class="column <%= "translation_forms #{new_locale}"%> hide_element">
          <% locale_options = @lookup.send("lookup_values_#{new_locale}") || [] %>
          <% locale_option_text = locale_options[option_index].present? && locale_options[option_index]['display_text'].present? ? locale_options[option_index]['display_text'] : ''%>
          <%= text_field_tag "lookup[lookup_values_#{new_locale}][][display_text]", locale_option_text %>
          <%= hidden_field_tag "lookup[lookup_values_#{new_locale}][][id]", lookup_value['id'] %>
          <p class="help"><%= t("lookup.initial_lang_help_text", :lang => t("home.#{new_locale}")) %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="column shrink">
    <%= link_to t('lookup.remove'), '', class: "lookup_value_remove button gray" %>
  </div>
</div>