<div class="login_page">
  <%= form_tag sessions_path, :class => 'default-form', :autocomplete => "off" do %>
      <%= error_messages_for :session %>
      <div class="login_panel">
        <h1><%= t("login.details") %></h1>

        <%= text_field_tag "user_name", nil, placeholder: t("login.username")  %>

        <%= password_field_tag "password", nil, placeholder: t("login.password.label")  %>

        <div class="btn_panel">
          <%= submit_button t("buttons.login"), 'large' %>
        </div>
        <% if false %>
        <%= link_to t("login.password.reset"), :controller => "password_recovery_requests", :action => "new" %>
        <% end %>
      </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    Turbolinks.clearCache();
  });
</script>