<tr>
  <% if false %>
  <td class="select_record">
    <input type="checkbox" class="select_record" value="<%= record.id %>" id="<%= record.name %>">
  </td>
  <% end %>
  <td id="bulk_export_<%= record.id %>" class="id_column">
    <% if record.status == BulkExport::COMPLETE %>
      <%= link_to record.file_name, rails_blob_path(record.export_file), class: 'id_link bulk_export_download', :'data-turbolinks' => 'false' %>
    <% elsif record.status == BulkExport::PROCESSING %>
      <%= record.file_name %>
      <i class="fa fa-refresh fa-spin"></i>
    <% else %>
      <%= record.file_name %>
      <i class="fa fa-exclamation"></i>
    <% end %>
  </td>
  <td><%= I18n.t('forms.record_types.' + record.record_type) %></td>
  <td><%= field_format_date(record.started_on) %></td>
</tr>
