<div class="panel">
  <form id="index_filter_form">
    <% @scope = params["scope"] || {"child_status" => "open"} %>
    <%= build_filter_checkboxes('Flagged:', 'flag', [
      {flag: 'flagged?'}
    ]) %>
    <%= build_filter_checkboxes('Field/Case/Social Worker:', 'users', @associated_users, false, false) %>
    <%= build_filter_checkboxes('Status:', 'child_status', [
      'open',
      'closed',
      'duplicate',
      'transferred'
    ]) %>
    <%= build_filter_checkboxes('Age Range:', 'age', [
      '0-5',
      '5-11',
      '12-17',
      '18+'
    ]) %>
    <%= build_filter_checkboxes('Sex:', 'sex', [
      'male',
      'female'
    ]) %>
    <%= build_filter_checkboxes('Protection Status:', 'protection_status', [
      'unaccompanied',
      'separated',
    ]) %>
    <%= build_filter_checkboxes('Urgent Protection Concern:', 'urgent_protection_concern', [
      'yes',
      'no',
    ]) %>
    <%= build_filter_checkboxes('Risk Level:', 'risk_level', [
      'high',
      'medium',
      'low'
    ]) %>
    <%= build_filter_checkboxes('Current Location:', 'current_location', [
      'location1',
      'location2',
      'location3'
    ]) %>
    <% # TODO: create helper to generate this %>
    <div class="filter">
      <h3>Registration Date:</h3>
      <div class="filter-controls">
        <div class="row">
          <div class="medium-2 columns">
            <label class="has_date">From</label>
          </div>
          <div class="medium-10 columns">
            <input type="text" id="registration_date_to" class="form_date_field" name="registration_date" />
          </div>
        </div>
        <br>
        <div class="row">
          <div class="medium-2 columns">
            <label class="has_date">To</label>
          </div>
          <div class="medium-10 columns">
            <input type="text" id="registration_date_from" class="form_date_field" name="registration_date" />
          </div>
        </div>
      </div>
    </div>
    <%= build_filter_checkboxes('Record State:', 'record_state', [
      { valid_record: 'valid' },
      { invalid_record: 'invalid' }
    ]) %>
  </form>
</div>