<div class="row collapse_expand_subform_header">
  <div class="medium-7 columns">
    <span class="subform_header">
      <%= label_tag subform.name, subform.display_name, :class=>'key' %><%= unique_id %><%= violation_status(formObject, form_group_name, subform_name, i) %>
    </span>
  </div>
  <div class="medium-5 columns">
    <div class="button-group align-right">
      <% if subform_instance.present? && subform_name == "incident_details" %>
        <% link_for_current_details = formObject.incident_links.find{|link| link["incident_details"] == subform_instance.unique_id} %>
        <% if link_for_current_details.present? %>
          <%= render :partial =>"children/incident_links_cp",
            locals: {
              :formObject => formObject,
              :associated_incident_id => link_for_current_details["incident_id"],
              :incident_short_id => link_for_current_details["incident_short_id"]
            } %>
        <% else %>
          <%= render :partial => "children/create_incident",
            locals: {
              :incident_detail_id => subform_instance.unique_id
            } %>
        <% end %>
      <% end %>
      <% if !subform.disabled %>
        <%= link_to t('fields.remove'), '', class: "subform_remove button grey tiny", style: disable_action_buttons,
            data: { message: t('fields.subform_remove_message') } if current_actions(action: ['update', 'edit', 'new', 'create']) %>
      <% end %>
      <% if !formObject.new_record? && subform.name == "individual_details_subform_section" && can?(:create, Child) && params[:action] == 'show'%>
        <%= link_to I18n.t("buttons.create_case"), create_cp_case_from_individual_details_path(formObject.id, i), {class: "button grey small"} %>
      <% end %>
      <span class="collapse_expand_subform expanded <%=summary_section_class%>" style="<%=disable_action_buttons%>">-</span>
    </div>
  </div>
</div>
