<div>
  <div class="row separator_field">
    <div class="large-12 columns separator" id="<%= subform_name %>">
      <span>
        <%= t('case.incident_details_separator') %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= form_tag(form_link, :method => :put, :multipart => true, :class => "edit-profile default-form data-form", :autocomplete => "off", "data-abide" => '', :remote => true) do %>
        <fieldset id="subform_<%= subform_name %>_template" class="<%= subform_name %> subform no-border">
          <% (subform_section.fields.select {|field| field.visible? }).each do |field| %>
            <% fk = field_keys(subform_name, 'template', field.name, form_group_name) %>
            <%= render partial: field_template_path(field, false), object: field, locals: {
              field_keys: fk,
              value: "",
              formObject: child
            } %>
          <% end %>
          <div class="space"></div>
          <div class="row">
            <div class="large-12">
              <div class="row align-right">
                  <div class="button-group">
                    <%= submit_tag(t("buttons.save"), class: 'button right') %>
                  </div>
                </div>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>