<div class="create_subform">
  <div class="row separator_field">
    <div class="large-12 columns separator" id="<%= subform_name %>">
      <span>
        <%= t("case.#{subform_name}_separator") %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= form_tag(form_link, :method => :put, :multipart => true, :class => "", :autocomplete => "off", "data-abide" => '', :remote => true) do %>
        <div class="row">
          <div class="callout small alert">
            <p><%= t('error_message.notice') %></p>
          </div>
        </div>
        <fieldset id="subform_<%= subform_name %>_template" class="<%= subform_name %> subform no-border">
          <% (subform_section.fields.select {|field| field.visible? }).each do |field| %>
            <% fk = field_keys(subform_name, 'template', field.name, form_group_id) %>

            <%= render partial: field_template_path(field, false), object: field, locals: {
              field_keys: fk,
              value: "",
              formObject: child,
              is_modal_subform: true,
              is_mobile: is_mobile
            } %>
          <% end %>
          <div class="row">
            <div class="callout small alert">
              <p><%= t('error_message.notice') %></p>
            </div>
          </div>
          <div class="row">
            <div class="large-12">
              <div class="row align-right">
                <div class="row">
                  <div class="button-group">
                    <%= submit_tag(t("buttons.save"), class: 'button right create_subform_submit') %>
                    <%= render 'record_shared/save_and_add_provision' if can_save_and_add_provision %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>