<% if current_actions(action: ['show']) %>
  <a class="button create_cp_incident" data-open="incident-modal"><%= t("buttons.create_incident") %></a>
  <div id=<%= "incident-modal" %> class="reveal" data-reveal>
    <%= render 'shared/modal_close' %>
    <div class="space"></div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= t('incident.create_incident_cp') %>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="large-12">
        <div class="row align-right">
          <div class="button-group">
            <%= link_to t("yes_label"), child_create_incident_cp_path(@child, :params => {:incident_id => incident_id}), class: "button create_cp_incident", "data-open" => "incident-modal" %>
            <button class="button gray" data-close aria-label="Close reveal" type="button">
              <span aria-hidden="true"><%= t("buttons.cancel") %></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>