<div class="panel">
  <%= render 'record_shared/filter_buttons', do_saved_search: true %>
  <%= render 'record_shared/saved_search_modal' %>
  <form id="index_filter_form" autocomplete="off">
    <% if filters_to_show.include? 'Flagged' %>
      <%= build_filter_checkboxes(t("cases.filter_by.flag"), 'flag', [
        {flag: t("cases.filter_by.flag_label")}
      ], nil, nil, 'single') %>
    <% end %>
    <% if filters_to_show.include? 'Mobile' %>
      <%= build_filter_checkboxes(t("cases.filter_by.mobile"), 'marked_for_mobile', [
        {true: t("cases.filter_by.mobile_label")}
      ], nil, nil, 'single') %>
    <% end %>
    <% if filters_to_show.include? 'Social Worker' %>
      <%= build_filter_checkboxes(t("cases.filter_by.social_worker"), 'owned_by', @associated_users, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Agency Office' && @agency_offices.present? %>
      <%= build_filter_checkboxes(t("user.agency_office"), 'created_agency_office', @agency_offices, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'User Group' %>
      <%= build_filter_checkboxes(t("permissions.permission.user_group"), 'owned_by_groups', @user_group_ids, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Reporting Location' %>
      <%= build_filter_checkboxes(t("location.base_types.#{@reporting_location_label}"), "#{@reporting_location}#{@admin_level}",
                                  @options_reporting_locations, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'My Cases'
      filters = []
      filters << {:owned_by => {:label => t("cases.filter_by.my_cases"), :value => @current_user.user_name }}
      filters << {:assigned_user_names => {:label => t("cases.filter_by.referred_cases"), :value => @current_user.user_name }}
      %>
      <%= build_filter_checkboxes_group(t("cases.filter_by.my_cases"), filters, "my_cases") %>
    <% end %>
    <% if filters_to_show.include? 'Workflow' %>
      <%= build_filter_checkboxes(t("cases.filter_by.workflow"), 'workflow', Child.workflow_statuses(@current_modules, @lookups), { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Approvals' %>
      <% [Child::APPROVAL_STATUS_PENDING, Child::APPROVAL_STATUS_APPROVED, Child::APPROVAL_STATUS_REJECTED].each do |status| %>
        <%
          approval_filters =  []
          approval_filters << {:approval_status_bia => {:id => "#{status}_bia", :label => t("approvals.bia"), :value => status}} if filters_to_show.include? 'cp_bia_form'
          approval_filters << {:approval_status_case_plan => {:id => "#{status}_case_plan", :label => t("approvals.case_plan"), :value => status}} if filters_to_show.include? 'cp_case_plan'
          approval_filters << {:approval_status_closure => {:id => "#{status}_closure", :label => t("approvals.closure"), :value => status}} if filters_to_show.include? 'closure_form'
        %>
        <%= build_filter_checkboxes_group(t("cases.filter_by.approvals.#{status}"), approval_filters, "approval_status") %>
      <% end %>
    <% end %>
    <% # If user is only associated with 1 agency, there is no need to display the Agency Filter %>
    <% if (filters_to_show.include? 'Agency') && @associated_agencies.present? && @associated_agencies.count > 1 %>
      <%= build_filter_checkboxes(t("cases.filter_by.agency"), 'owned_by_agency', @associated_agencies, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Status' %>
      <%= build_filter_checkboxes(t("cases.filter_by.status"), 'child_status', Lookup.values('lookup-case-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Age Range' %>
      <%= build_filter_checkboxes(t("cases.filter_by.age_range"), 'age', @age_ranges, nil, nil, 'range') %>
    <% end %>
    <% if filters_to_show.include? 'Sex' %>
      <%= build_filter_checkboxes(t("cases.filter_by.sex"), 'sex', Lookup.values('lookup-gender', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'GBV Displacement Status' %>
      <%= build_filter_checkboxes(t("cases.filter_by.displacement_status"), 'gbv_displacement_status',
                                  Lookup.values('lookup-displacement-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Protection Status' %>
      <%= build_filter_checkboxes(t("cases.filter_by.protection_status"), 'protection_status',
                                  Lookup.values('lookup-protection-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Urgent Protection Concern' %>
      <%= build_filter_checkboxes(t("cases.filter_by.urgent_protection_concern"), 'urgent_protection_concern',
                                  Lookup.values('lookup-yes-no', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Protection Concerns' %>
      <%= build_filter_checkboxes(t("cases.filter_by.protection_concerns"), 'protection_concerns',
                                  Lookup.values('lookup-protection-concerns', @lookups, locale: I18n.locale), { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Type of Risk' %>
      <%= build_filter_checkboxes(t("cases.filter_by.type_of_risk"), 'type_of_risk', Lookup.values('lookup-risk-type', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include?('Risk Level') && @display_assessment %>
      <%= build_filter_checkboxes(t("cases.filter_by.risk_level"), 'risk_level', Lookup.values('lookup-risk-level', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Current Location' %>
      <%= build_filter_location(t("cases.filter_by.current_location"), 'location_current') %>
    <% end %>
    <% if filters_to_show.include? 'Dates' %>
      <%= render "record_shared/filter_date", record: 'cases' %>
    <% end %>
    <% if filters_to_show.include? 'No Activity'
      inactivity_filters = []
      inactivity_filters << {:last_updated_at => {:label => t("cases.filter_by.3month_inactivity"), :value => @inactive_range }}
      %>
      <%= build_filter_checkboxes(t("cases.filter_by.no_activity"), 'last_updated_at', inactivity_filters, nil, nil, 'date_range') %>
    <% end %>
    <% if filters_to_show.include? 'Record State' %>
      <%= build_filter_checkboxes(t("cases.filter_by.record_state"), 'record_state',
                                  [{'true' => t("valid")}, {'false' => t("invalid")}]) %>
    <% end %>
    <% if filters_to_show.include? 'Photo' %>
      <%= build_filter_checkboxes(t("cases.filter_by.photo"), 'has_photo', [
        {photo: t("cases.filter_by.photo_label")}
      ], nil, nil, 'single') %>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
