<div class="panel">
  <form id="index_filter_form">
    <% if filters_to_show.include? 'Photo' %>
      <%= build_filter_checkboxes(t("cases.filter_by.photo"), 'has_photo', [
        {photo: 'Has photo?'}
      ]) %>
    <% end %>
    <% if filters_to_show.include? 'Flagged' %>
      <%= build_filter_checkboxes(t("cases.filter_by.flag"), 'flag', [
        {flag: 'flagged?'}
      ]) %>
    <% end %>
    <% if filters_to_show.include? 'Social Worker' %>
      <%= build_filter_checkboxes(t("cases.filter_by.social_worker"), 'users', @associated_users, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Status' %>
      <%= build_filter_checkboxes(t("cases.filter_by.status"), 'child_status', Lookup.values('Case Status', @lookups)) %>
    <% end %>
    <% if filters_to_show.include? 'Age Range' %>
      <%= build_filter_checkboxes(t("cases.filter_by.age_range"), 'age', [
        '0-5',
        '6-11',
        '12-17',
        '18+'
      ], nil, nil, 'range') %>
    <% end %>
    <% if filters_to_show.include? 'Sex' %>
      <%= build_filter_checkboxes(t("cases.filter_by.sex"), 'sex', [t("cases.filter_by.male"), t("cases.filter_by.female")]) %>
    <% end %>
    <% if filters_to_show.include? 'GBV Displacement Status' %>
      <%= build_filter_checkboxes(t("cases.filter_by.displacement_status"), 'gbv_displacement_status', Lookup.values('Displacement Status', @lookups)) %>
    <% end %>
    <% if filters_to_show.include? 'Protection Status' %>
      <%= build_filter_checkboxes(t("cases.filter_by.protection_status"), 'protection_status', Lookup.values('Protection Status', @lookups)) %>
    <% end %>
    <% if filters_to_show.include? 'Urgent Protection Concern' %>
      <%= build_filter_checkboxes(t("cases.filter_by.urgent_protection_concern"), 'urgent_protection_concern', [t("true"), t("false")]) %>
    <% end %>
    <% if filters_to_show.include? 'Risk Level' %>
      <%= build_filter_checkboxes(t("cases.filter_by.risk_level"), 'risk_level', Lookup.values('Risk Level', @lookups)) %>
    <% end %>
    <% if filters_to_show.include? 'Current Location' %>
      <%= build_filter_location(t("cases.filter_by.current_location"), 'location_current') %>
    <% end %>

    <% if filters_to_show.include? 'Registration Date' %>
      <%= render "record_shared/filter_date", date_field_title: 'registration_date', date_field: 'registration_date' %>
    <% end %>

    <% if filters_to_show.include? 'Case Open Date' %>
      <%= render "record_shared/filter_date", date_field_title: 'case_open_date', date_field: 'created_at' %>
    <% end %>

    <% if filters_to_show.include? 'Record State' %>
      <%= build_filter_checkboxes(t("cases.filter_by.record_state"), 'record_state', Lookup.values('Record State', @lookups)) %>
    <% end %>

  </form>
</div>