<div class="spacer"></div>
<% if (can_view_photo && child.photo_keys.present?) %>
  <div class="row">
    <%= thumbnail_tag(child, child.current_photo_key) %>
  </div>
<% end %>
<div class="row">
  <div class="columns small-12 ">
    <% view_data(child, form_sections).each do |field| %>
      <div class="row data">
        <div class="columns small-5 key">
          <strong><%= field[:display_name] %></strong>
        </div>
        <div class="columns small-6 value">
          <%= field[:value] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if (can_request_transfer && user.user_name != child.owned_by) %>
    <div class="spacer"></div>
    <div class="row">
      <div class="columns small-12 ">
        <a class="request-transfer-modal button" data-record="<%= child.id %>">
          <%= I18n.t('buttons.request_transfer') %>
        </a>
      </div>
    </div>
<% end %>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>