
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
<div class="spacer"></div>
<div class="row request_transfer_modal">
  <div class="columns small-12 ">
    <div class="row data">
      <div class="columns small-5 key">
        <strong><%= I18n.t('case.owned_by') %></strong>
      </div>
      <div class="columns small-6 value">
        <%= child.owned_by %>
      </div>
    </div>
    <div class="row data">
      <div class="columns small-5 key">
        <strong><%= I18n.t('case.owned_by_agency') %></strong>
      </div>
      <div class="columns small-6 value">
        <%= child.owned_by_agency %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <%= form_tag('/cases/request_transfer', :method => :put, :multipart => true, :class => "transfer_request_form", :autocomplete => "off", "data-abide" => '', :remote => true) do %>
      <label for="request_transfer_notes"><%= I18n.t('request_transfer.notes_label') %></label>
      <%= hidden_field_tag :id, child.id %>
      <%= text_area_tag :request_transfer_notes %>
      <div class="space"></div>
      <div class="row">
        <div class="large-12">
          <div class="row align-right">
              <div class="button-group">
                <%= submit_tag(I18n.t('request_transfer.submit_label'), class: 'button submit_transfer_request') %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

