<li>
    <%= link_to t("child.change_log"), cases_history_path(@child), class: 'green-button' %>
</li>

<% if can? :update, child %>
    <%#
        TODO: We are taking out the "investigated" and "reunied" buttons.
        Unlikely that we will put them back in. Delete the code in the future.
    %>
    <% if false %>
    <% if @child.flag? %>
        <li>
            <div class="dropdown_btn dropdown_form">
                <%= render 'investigated', child: @child %>
            </div>
        </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'reunited', child: @child %>
        </div>
    </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'suspect_flag', child: @child %>
        </div>
    </li>
<% end %>

<% if Exporters::ACTIVE_EXPORTERS.any?{|exporter| can?("export_#{exporter.id}".to_sym, Child)} %>
    <li>
        <div class="btn dropdown_btn btn_export">
            <%= render 'export' %>
        </div>
    </li>
<% end %>
