<%# TODO: Refactor this toolbar to be shared by all record types. %>
<% if can? :flag, child %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @child %>
        </div>
    </li>
<% end %>
<% if can? :update, child %>
    <%= ctl_create_incident_button(@child) %>
<% end %>
<% if controller.action_name != 'edit' %>
<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%= link_to content_tag(:span, t("actions.button")), '#', class: 'btn green-button action_btn' %>
    <ul>
        <%= render partial: 'exports/button', locals: {model: Child, instance: @child} %>
        <% if can? :edit, @child %>
            <%= render partial: 'record_shared/enable_disable_record', locals: {model: Child, instance: @child} %>
        <% end %>
    </ul>
  </li>
</ul>
<% end %>
