<li>
    <%= link_to t("child.change_log"), cases_history_path(@child), class: 'green-button' %>
</li>

<% if can? :update, child %>
    <%#
        TODO: We are taking out the "investigated" and "reunied" buttons.
        Unlikely that we will put them back in. Delete the code in the future.
    %>
    <% if false %>
    <% if @child.flagged? %>
        <li>
            <div class="dropdown_btn dropdown_form">
                <%= render 'investigated', child: @child %>
            </div>
        </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'reunited', child: @child %>
        </div>
    </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @child %>
        </div>
    </li>
    <%= ctl_create_incident_button(@child) %>
<% end %>
<% if controller.action_name != 'edit' %>
<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%= link_to content_tag(:span, t("actions.button")), '#', class: 'btn green-button action_btn' %>
    <ul>
        <%= render partial: 'exports/button', locals: {model: Child, instance: @child} %>
        <%= render partial: 'record_shared/enable_disable_record', locals: {model: Child, instance: @child} %>
    </ul>
  </li>
</ul>
<% end %>
