<tr>
  <td class="select_record"><input type="checkbox" class="select_record" value="<%= record.id %>" id="<%= text_to_identify_child record %>"></td>
  <% if fields_to_show.include? 'short_id' %>
    <td id="child_<%= record.id %>" class="id_column">
      <% if @tracing_request.present? && @match_request.present?%>
        <%= link_to text_to_identify_child(record), case_path(record, match: "#{@tracing_request.id}::#{@match_request.unique_id}"), class: 'id_link' %>
      <% else %>
        <%= link_to text_to_identify_child(record), case_path(record), class: 'id_link' %>
      <% end %>
      <% #content_tag(:div, nil, :class => 'flag reunited') if record.reunited? %>
      <% if record.flagged? && record.flag_count > 0 %>
        <div class="flag_icon">
          <%= record.flag_count %>
        </div>
      <% end %>
    </td>
  <% end %>
  <% if fields_to_show.include? 'sortable_name' %>
    <%
      # child_name = index_highlighted_case_name(@highlighted_fields, record)
      child_name = index_case_name(record)
    %>
    <td><%= child_name %></td>
  <% end %>
  <% if fields_to_show.include? 'survivor_code_no' %>
    <td><%= record.survivor_code_no %></td>
  <% end %>
  <% if fields_to_show.include? 'age' %>
    <td><%= record.age %></td>
  <% end %>
  <% if fields_to_show.include? 'sex' %>
    <td><%= record.sex %></td>
  <% end %>
  <% if fields_to_show.include? 'registration_date' %>
    <td><%= field_format_date(record.registration_date) %></td>
  <% end %>
  <% if fields_to_show.include? 'created_at' %>
    <td><%= field_format_date(record.created_at) %></td>
  <% end %>
  <% if fields_to_show.include? 'photo' %>
    <td class="photos_<%= record.id %>">
      <div class="icon"><%= icon('camera') if record.photo_keys.present? %></div>
      <div class="photo">
      <% record.photos.each_with_index do |photo,index| %>
          <% photo_path = send("#{record.class.name.underscore.downcase}_resized_photo_path", record, photo.name || record.current_photo_key, 328, :ts => record.last_updated_at) %>
            <div class="photo_link" style="display: none" ><%= link_to ' ', photo_path%></div>
      <% end %>
      </div>
    </td>
  <% end %>
  <% if fields_to_show.include? 'owned_by' %>
    <% #TODO - Get name or code.  Prob should be in helper. Should this be owned_by_text?%>
    <td><%= record.owned_by %></td>
  <% end %>
</tr>
