<!-- BEGIN: item -->
<tr <% if child.flag? %>class="red_text"<% end %>>
  <td id="child_<%= child.id %>" class="child_summary_panel">
    <%= link_to text_to_identify_child(child), child_path(child), class: "view_child_link" %>

    <!--<%= content_tag(:div, nil, :class => 'flag suspect') if child.flag? %>
    <%= content_tag(:div, nil, :class => 'flag reunited') if child.reunited? %>-->
  </td>
  <td>
    <% sorted_highlighted_fields.each do |relevant_field| %>
      <% if relevant_field.visible? %>
        <%= child[relevant_field[:name]] %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if child.age_is %>
        <%= child.age_is %>
    <% end %>
  </td>
  <td>
    <% if child.sex %>
        <%= child.sex %>
    <% end %>
  </td>
  <td>
    <% if child.created_at %>
        <%= child.created_at %>
    <% end %>
  </td>
  <td>
    <% if child.status %>
        <%= child.status %>
    <% end %>
  </td>
</tr>
<!-- END: item -->