<div class="row">
  <div class="large-12 columns">
    <%= render :partial => "children/header" %>
    <div class="clearfix"></div>

    <%#
      TODO: For now the filter and order-by have been removed as per PRIMRO-105.
      We will need to put them back in.
    %>
    <div class="filter_bar" style="display: none;">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <%= render :partial => "children/filter_box" %>
        </div>
        <div class="large-6 medium-6 columns">
          <%= render :partial => "children/order_by_box" %>
        </div>
      </div>
    </div>
    <div class="scope_bar">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <form class="cases_scope_bar_form">
            <ul class="inline-list">
              <%= render :partial => "children/scopes" %>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <table width="100%" class="list_view" cellpadding=0 cellspacing=0>
      <thead>
        <tr>
          <th></th>
          <th class="id_column">
            <%= t("child.id") %>
          </th>
          <th>
            <%= t("child.name") %>
          </th>
          <th>
            <%= t("child.age") %>
          </th>
          <th>
            <%= t("child.sex") %>
          </th>
          <th>
            <%= t("child.registration_date") %>
          </th>
          <th>
            <%= t("child.status") %>
          </th>
        </tr>
      </thead>
      <tbody>
      <%= render :partial => "children/summary_row", :collection => @children, :as => :child, :locals => { :checkbox => false, :highlighted_fields => FormSection.sorted_highlighted_fields  }  %>
      </tbody>
    </table>

    <%= render :partial => 'shared/pagination', :locals => { :results => @children } %>
  </div>
</div>
