<% content_for :breadcrumbs do %>
  <%= t("cases.register_new_case") %>
<% end %>

<% content_for :record_sub_nav_controls do %>
  <%= render_controls(@child, 'cases') %>
<% end %>

<%= form_tag children_path, :multipart => true, :class => "default-form data-form", :autocomplete => "off", "data-abide" => '' do %>
    <div class="page-content-new row">
      <%= render :partial => 'children/required_fields' %>
      <div class="large-3 medium-3 columns close-side-tab side-tab-container">
        <div class="side-tab">
          <%= render :partial => 'form_section/tabs', :object => @form_sections %>
        </div>
      </div>
      <div class="large-9 medium-9 columns side-tab-content-container">
        <div class="side-tab-content">
          <% @form_sections.each do |form_group_id, form_list| %>
            <%= render :partial => 'form_section/form_section', :collection => form_list,  :locals => {:formObject => @child, :form_group_id => form_group_id} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
<% end %>



