<% content_for :javascript do %>
<script type="text/javascript" language="javascript">
function show_tools() {
  var $profile_tools = $(".profile-tools");
  $(".photo-link .image a").click( function(event){
    $('.thumbnails .thumbnail a')[0].click();
    return false;
  });

  $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });

  $profile_tools.find(".mark-as-form").hide();

  $profile_tools.find(".flag a").click(function() {
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });

  $profile_tools.find(".reunited a").click(function() {
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });
  $profile_tools.find(".investigated a").click(function() {
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });
};

$(show_tools);
</script>
<% end %>

<% content_for :record_sub_nav do %>
  <div class="column shrink">
    <%= render 'show_child_toolbar', child: @child %>
  </div>
<% end %>

<% if can?(:find_tracing_match, Child) && @child.consent_for_tracing %>
    <% content_for :record_sub_nav_controls do %>
        <div class="column shrink">
          <%= link_to t("buttons.find_tracing_match"),
                      potential_matches_path(match: @child.id, type: 'case'),
                      class: 'button'
          %>
        </div>
    <% end %>
<% end %>

<% if can? :edit, @child %>
  <% content_for :record_sub_nav_controls do %>
    <div class="column shrink">
      <%= render_controls(@child, 'cases') %>
    </div>
  <% end %>
<% end %>

<% if can?(:add_note, @child) %>
  <% content_for :add_notes do %>
    <div class="column">
      <%= render 'record_shared/notes_button', record: @child %>
    </div>
  <% end %>
<% end %>

<% content_for :record_status do %>
  <% if @child.module.workflow_status_indicator.present? %>
    <%= display_workflow_status(@child, @lookups) %>
  <% end %>
<% end %>


<% content_for :breadcrumbs do %>
  <div class="label"><%= t("case.label") %></div>
  #<%= text_to_identify_child(@child) %>
  <% if @child.photos.present? && @has_photo_form %>
    <div class="photo-link">
      <div class='image'>
        <%= link_to icon('camera'), child_resized_photo_path(@child, @child.primary_photo_id, 640) %>
      </div>
    </div>
  <% end %>
  <% if @child.module.agency_code_indicator.present? %>
    <div class="record_agency_code">
      <%= "#{@child.owner.try(:agency).try(:agency_code)} #{t('forms.record_types.case')}" %>
    </div>
  <% end %>
<% end %>

<% content_for :stylesheet do %>
    <%#= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>

<div class="page-content-new row">
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <div class="side-tab">
      <%= render :partial => 'form_section/tabs', :object => @form_sections %>
    </div>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      <%= render :partial => 'form_section/show_form_section', :locals => {:formObject => @child, :lookups => @lookups} %>
    </div>
    <%= render 'record_shared/header_message', record: @child, model: 'case' %>
  </div>
</div>
