<div class="btn_panel">
  <div class="row">
    <%= form_for @replication, :html => { :class => 'default-form' } do |f| %>

      <%= f.error_messages :header_tag => :h3 %>
      <div class="clearfix"></div>

      <div class="btn_panel">
        <div class="row">
          <div class="medium-12 columns">
            <%= cancel_button replications_path %>
            <%= submit_button t("buttons.save") %>
          </div>
        </div>
      </div>

      <fieldset>
        <p>
          <%= f.label :description, t("replication.description"), :class => "key" %>
          <%= f.text_field :description %>
        </p>

        <p>
          <%= f.label :remote_app_uri, t("replication.remote_app_uri"), :class => "key" %>
          <%= f.text_field :remote_app_uri %>*
        </p>
        <p>
          <%= f.label :username, t("login.username"), :class => "key" %>
          <%= f.text_field :username %>*
        </p>
        <p>
          <%= f.label :password, t("login.password.label"), :class=>'key'  %>
          <%= f.password_field :password, :autocomplete => "off" %>*
        </p>
        <p>
          <%= f.label :is_continuous, t("replication.is_continuous"), :class=>'key'  %>
          <%= f.check_box :is_continuous, :autocomplete => 'off' %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>
