<% content_for :record_sub_nav do %>
  <div class="button-group">
    <%= discard_button(replications_path) %>
    <%= submit_button t("buttons.save") %>
  </div>
<% end %>


  <%= form_for @replication, :html => { :class => 'default-form', :autocomplete => "off" } do |f| %>
    <fieldset class="no-border">
    <%= f.error_messages :header_tag => :h2 %>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :description, t("replication.description"), :class => "key inline" %>
        </div>
        <div class="medium-8 columns">
          <%= f.text_field :description %>
        </div>
        <div class="medium-1 columns required_field">
        *
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :remote_app_uri, t("replication.remote_app_uri"), :class => "key inline" %>
        </div>
        <div class="medium-8 columns">
          <%= f.text_field :remote_app_uri %>
        </div>
        <div class="medium-1 columns required_field">
        *
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :username, t("login.username"), :class => "key inline" %>
        </div>
        <div class="medium-8 columns">
          <%= f.text_field :username %>
        </div>
        <div class="medium-1 columns required_field">
        *
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :password, t("login.password.label"), :class=>'key inline'  %>
        </div>
        <div class="medium-8 columns">
          <%= f.password_field :password, :autocomplete => "off" %>
        </div>
        <div class="medium-1 columns required_field">
        *
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :is_continuous, t("replication.is_continuous"), :class=>'key inline'  %>
        </div>
        <div class="medium-8 columns">
          <%= f.check_box :is_continuous, :autocomplete => 'off', :class => "tick_box" %>
        </div>
        <div class="medium-1 columns">
        </div>
      </div>
    </fieldset>
  <% end %>

