<%
  given_locale = @system_settings.base_language
  system_locale = I18n.locale
%>
<% content_for :breadcrumbs do %>
  <%= I18n.t("system_settings.label") %>
<% end %>

<% content_for :record_sub_nav do %>
  <%= render_controls(@system_settings, 'system_setting') %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="medium-3 large-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'system_settings'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <div class="row">
        <div class="large-12 columns">
          <%= form_for @system_settings, :html => {:class => 'default-form', :autocomplete => "off"} do |f| %>
            <fieldset class="no-border">
              <div class="row">
                <div class="medium-9 medium-offset-3 columns">
                  <%= render 'shared/locale_select', current_locale: "en" %>
                </div>
              </div>
              <%= resource_edit_field(@system_settings, 'primero_version', 'system_settings.primero_version', 'text_field', false, true) %>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <label class="key" for="default_locale" ><%= t("home.language") %></label>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.select :default_locale, Primero::Application::locales_with_description, {class: 'chosen-select', data: {value: I18n.default_locale}}, {disabled: true} %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :notification_email_enabled, t("email_notification.enabled_label"), :class=>'key inline' %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.check_box :notification_email_enabled, {}, "true", "false" %>
                </div>
                <div class="medium-1 columns"></div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :welcome_email_enabled, t("user.welcome_email.enabled_label"), :class=>'key inline' %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.check_box :welcome_email_enabled, {}, "true", "false" %>
                </div>
                <div class="medium-1 columns"></div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                    <%= f.label :welcome_email_text, t("user.welcome_email.text_label", :locale => system_locale), :class => 'key inline' %>
                </div>
                <div class="medium-8 columns">
                    <%= f.text_area "welcome_email_text_#{given_locale}", :id => "welcome_email_text" %>
                </div>
              </div>
              <% Primero::Application::locales.each do |new_locale| %>
                <% unless new_locale == "en" %>
                  <div class="<%= "translation_forms #{new_locale}"%> hide_element">
                    <div class="row"><div class="large-offset-3"><small><%= t("home.#{new_locale}")  %></small></div></div>
                    <%= resource_edit_field(@system_settings, "welcome_email_text_#{new_locale}", nil, 'text_area') %>
                  </div>
                <% end %>
              <% end %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
