<div class="panel">
  <%= render 'record_shared/filter_buttons', do_saved_search: true %>
  <%= render 'record_shared/saved_search_modal' %>
  <form id="index_filter_form" autocomplete="off">
    <% if filters_to_show.include? 'Flagged' %>
      <%= build_filter_checkboxes(t("tracing_requests.filter_by.flag"), 'flag', [
        {flag: t("tracing_requests.filter_by.flag_label")}
      ], nil, nil, 'single') %>
    <% end %>
    <% if filters_to_show.include? 'Field/Case/Social Worker' %>
      <%= build_filter_checkboxes(t("tracing_requests.filter_by.social_worker"), 'owned_by', @associated_users, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Dates' %>
      <%= render "record_shared/filter_date", record: 'tracing_requests' %>
    <% end %>
    <% if filters_to_show.include? 'Inquiry Status' %>
      <%= build_filter_checkboxes(t("tracing_requests.filter_by.inquiry_status"), 'inquiry_status', Lookup.values('lookup-inquiry-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Separation Location' %>
      <%= build_filter_location(t("tracing_requests.filter_by.location_separation"), 'location_separation') %>
    <% end %>
    <% if filters_to_show.include? 'Separation Cause' %>
      <%= build_filter_checkboxes(t("tracing_requests.filter_by.separation_cause"), 'separation_cause', Lookup.values('lookup-separation-cause', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Record State' %>
      <%= build_filter_checkboxes(t("tracing_requests.filter_by.record_state"), 'record_state',
                                  [{'true' => t("valid")}, {'false' => t("invalid")}]) %>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
