<% if can? :update, tracing_request %>
    <%#
        TODO: We are taking out the "investigated" and "reunied" buttons.
        Unlikely that we will put them back in. Delete the code in the future.
    %>
    <% if false %>
    <% if @tracing_request.flagged? %>
        <li>
            <div class="dropdown_btn dropdown_form">
                <%= render 'investigated', tracing_request: @tracing_request %>
            </div>
        </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'reunited', tracing_request: @tracing_request %>
        </div>
    </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @tracing_request %>
        </div>
    </li>
<% end %>

<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%= link_to content_tag(:span, t("actions.button")), '#', class: 'btn green-button action_btn' %>
    <ul>
        <%#TODO: Make exports work for tracing requests %>
        <% if false %>
            <%# if can?(:export, tracing_request) %>
            <%= render partial: 'exports/button', locals: {model: TracingRequest, instance: @tracing_request} %>
        <% end %>
        <%= render partial: 'record_shared/enable_disable_record', locals: {model: TracingRequest, instance: @tracing_request}%>
    </ul>
  </li>
</ul>
