<div class="button-group">
    <% if can? :flag, tracing_request %>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @tracing_request %>
        </div>
    <% end %>
    <% unless ["edit", "update"].include? controller.action_name %>
    <ul id="menu" class="dropdown menu" data-dropdown-menu>
    <li class="init_btn">
        <a class="button"><%= content_tag(:span, t("actions.button")) %></a>
        <ul class="menu">
            <%= render partial: 'exports/button', locals: {model: TracingRequest, instance: @tracing_request} %>
            <% if can? :export_custom, @tracing_request %>
            <%= render 'exports/custom_exports_link', model: TracingRequest, export_type: 'custom' %>
            <% end %>
            <% if can? :edit, @tracing_request %>
                <%= render partial: 'record_shared/enable_disable_record', locals: {model: TracingRequest, instance: @tracing_request}%>
            <% end %>
        </ul>
    </li>
    </ul>
    <% end %>
</div>