<li>
    <%= link_to t("tracing_request.change_log"), tracing_request_history_path(@tracing_request), class: 'green-button' %>
</li>

<% if can? :update, tracing_request %>
    <%#
        TODO: We are taking out the "investigated" and "reunied" buttons.
        Unlikely that we will put them back in. Delete the code in the future.
    %>
    <% if false %>
    <% if @tracing_request.flag? %>
        <li>
            <div class="dropdown_btn dropdown_form">
                <%= render 'investigated', tracing_request: @tracing_request %>
            </div>
        </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'reunited', tracing_request: @tracing_request %>
        </div>
    </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @tracing_request %>
        </div>
    </li>
<% end %>
<%#TODO: Make exports work for tracing requests %>
<% if false %>
<%# if can?(:export, tracing_request) %>
    <li>
      <%= render partial: 'exports/button', locals: {model: TracingRequest, instance: @tracing_request} %>
    </li>
<% end %>
