<tr>
  <td><input type="checkbox" class="select_record" value="<%= record.id %>"></td>
  <td id="tracing_request_<%= record.id %>" class="id_column">
    <%= link_to text_to_identify_tracing_request(record), tracing_request_path(record), class: 'id_link' %>
    <% if record.flagged? && record.flag_count > 0 %>
      <div class="flag_icon">
        <%= icon('bookmark fa-rotate-270') %>
        <span><%= record.flag_count %></span>
      </div>
    <% end %>
  </td>
  <td><%= record.relation_name %></td>
  <td><%= field_format_date(record.inquiry_date) %></td>
</tr>
