<% content_for :header_sub_nav do %>
    <ul class="inline-list">
        <%= render 'show_tracing_request_toolbar', tracing_request: @tracing_request %>
    </ul>
<% end %>

<% content_for :breadcrumbs do %>
    <h2 class="float_left no_border">
        <%= link_to t("tracing_requests.label"), tracing_requests_path %> &gt; <%= text_to_identify_tracing_request(@tracing_request) %>
    </h2>
<% end %>

<% content_for :header_message do %>    
    <% if @tracing_request.flag? %>
        <div class="header_message">
        <h3 class="flag-message"><%= flag_message%></h3>
        </div>
    <% end %>
<% end %>

<div class="clearfix"></div>

<%= form_tag tracing_request_path(@tracing_request), :method => :put, :multipart => true, :class => "edit-profile default-form" do %>
  <div class="page-content-new row">
    <div class="large-4 medium-4 columns close-side-tab">
      <div class="side-tab">
        <%= render :partial => 'form_section/tabs', :object => @form_sections %>
      </div>
    </div>

    <div class="side-tab-content large-8 medium-8 columns">
      <%= hidden_field_tag('tracing_request[revision]', @tracing_request._rev) %>
      <% @form_sections.each do |form_group_name, form_list| %>
        <%= render :partial => 'form_section/form_section', :collection => form_list,  :locals => {:formObject => @tracing_request, :form_group_name => form_group_name} %>
      <% end %>
      <div class="btn_panel">
        <%= discard_button tracing_requests_path %>
        <%= submit_button %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

<% end %>
