<% content_for :record_sub_nav do %>
  <%= render 'show_tracing_request_toolbar', tracing_request: @tracing_request %>
<% end %>

<% content_for :record_sub_nav_controls do %>
  <%= render_controls(@tracing_request, "tracing_requests") %> 
<% end %>

<% content_for :breadcrumbs do %>
  <%= t("tracing_request.label") %> #<%= text_to_identify_tracing_request(@tracing_request) %>
<% end %>

<% content_for :header_message do %>
  <%= render 'record_shared/header_message', record: @tracing_request, model: 'tracing_request' %>
<% end %>

<div class="clearfix"></div>

<%= form_tag tracing_request_path(@tracing_request), :method => :put, :multipart => true, :class => "edit-profile default-form data-form" do %>
  <div class="page-content-new row collapse" data-equalizer>
    <div class="large-4 medium-4 columns close-side-tab side-tab-container">
      <div class="side-tab" data-equalizer-watch>
        <%= render :partial => 'form_section/tabs', :object => @form_sections %>
      </div>
    </div>
    <div class="large-8 medium-8 columns side-tab-content-container">
      <div class="side-tab-content" data-equalizer-watch>
        <%= hidden_field_tag('tracing_request[base_revision]', @tracing_request._rev) %>
        <% @form_sections.each do |form_group_name, form_list| %>
          <%= render :partial => 'form_section/form_section', :collection => form_list,  :locals => {:formObject => @tracing_request, :form_group_name => form_group_name} %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
