<% content_for :javascript do %>
<script type="text/javascript" language="javascript">
function profile_tools() {
  var $profile_tools = $(".profile-tools");

  $(".accordion").accordion({
    header: "h2",
    autoHeight: false,
    collapsible: true,
    active: false
  });

  $profile_tools.find(".mark-as-form").hide();

  $profile_tools.find(".flag a").click( function(){
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });

  $profile_tools.find(".reunited a").click( function(){
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });
  $profile_tools.find(".investigated a").click( function(){
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });

  $('.sub_export_record').hide();

  $('.export_record_link').click( function(e) {
    e.preventDefault();
  });

  $('.export_record').click( function(e) {
    var $sub = $(this).find(".sub_export_record");

    if ( $sub.is(":hidden") ) {
      $sub.slideDown("slow");
    }
    else {
      $sub.hide();
    }
  });
}

$(profile_tools);
</script>
<% end %>

<% content_for :record_sub_nav do %>
  <%= render 'show_tracing_request_toolbar', tracing_request: @tracing_request %>
<% end %>

<% if can? :edit, @tracing_request %>
  <% content_for :record_sub_nav_controls do %>
    <%= render_controls(@tracing_request) %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <div class="label"><%= t("tracing_request.label") %></div>
  #<%= text_to_identify_tracing_request(@tracing_request) %>
<% end %>

<div class="clearfix"></div>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <div class="side-tab" data-equalizer-watch>
      <%= render :partial => 'form_section/tabs', :object => @form_sections %>
    </div>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <%# Removed for demo deploy %>
      <%= render :partial => 'form_section/show_form_section', :locals => {:formObject => @tracing_request.data, :lookups => @lookups} %>
    </div>
    <%= render 'record_shared/header_message', record: @tracing_request, model: 'tracing_request' %>
  </div>
</div>
