<%
    model_class_name = controller.model_class.name.underscore.downcase
    model_name = I18n.t("forms.record_types.#{model_class_name}")
    module_users = @module_users || []
    transition_type = type || "referral"

    if transition_type == "referral"
      transition_role_options = @referral_roles.map {|r| [r.name, r.id]}
      no_consent_count = ((@referral_consent.present? && @referral_consent == true) ? 0 : 1)
      #TODO how i18n?
      type_of_export_options = ["Primero", "Non-Primero", "PDF export"]
    elsif transition_type == "transfer"
      transition_role_options = @transfer_roles.map {|r| [r.name, r.id]}
      no_consent_count = ((@transfer_consent.present? && @transfer_consent == true) ? 0 : 1)
      #TODO how i18n?
      type_of_export_options = ["Primero", "Non-Primero"]
    else
      transition_role_options = []
      no_consent_count = 0
      type_of_export_options = []
    end
%>
<% if can?(transition_type.to_sym(), controller.model_class) %>
<li>
  <a data-consent_count_url="<%= "/#{model_name.downcase.underscore.pluralize}/consent_count" %>"
     data-open=<%= "#{transition_type}-modal" %> class=<%= (defined?(instance) ? "#{transition_type}_show_action" : "#{transition_type}_index_action") %>>
     <%= t("buttons.#{transition_type}", model: model_name) %>
  </a>

  <div id=<%= "#{transition_type}-modal" %> class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div class=<%= "#{transition_type}_form_container row"%> >
      <div class="large-11">
        <%= form_tag(url_for(:action => 'transition', :id => (defined?(instance) ? instance.id : nil)), {:multipart => true, :method => 'post', :autocomplete => "off"}) do %>
          <%= hidden_field_tag "selected_records"%>
          <%= hidden_field_tag "transition_type", transition_type%>
          <% if transition_type == Transition::TYPE_REASSIGN %>
            <%= t("reassign.reassign_case_title") %>
          <% else %>
          <label class="consent">
            <span class="consent_count"><%= no_consent_count%></span>
            <%=I18n.t("#{transition_type}.consent_label")%><br />
            <% if can?(:consent_override, controller.model_class) %>
              <%=I18n.t("#{transition_type}.consent_override_label")%>
              <%= check_box_tag("consent_override", "true") %>
            <% else %>
              <br />
            <% end %>
          </label>
          <label><%=I18n.t("#{transition_type}.is_remote_label")%>
            <%= check_box_tag("is_remote", "true") %>
          </label>
          <% end %>
          <div class="local_toggle">
            <div class='local_user_flash hide'><p class='error'></p></div>
            <label><%=I18n.t("#{transition_type}.existing_user_label")%>
              <%= select_tag("existing_user", options_for_select(module_users, ''), :include_blank => true) %>
            </label>
          </div>
          <div class="remote_toggle" style="display:none">
            <label><%=I18n.t("#{transition_type}.type_label")%>
              <%= select_tag("transition_role", options_for_select(transition_role_options, '')) %>
            </label>
            <div class='remote_user_flash hide'><p class='error'></p></div>
            <label><%=I18n.t("#{transition_type}.other_user_label")%>
              <%= text_field_tag("other_user") %>
            </label>
            <label><%=I18n.t("#{transition_type}.other_user_agency_label")%>
              <%= text_field_tag("other_user_agency") %>
            </label>
          </div>
          <% if transition_type == "referral" %>
            <label><%=I18n.t("referral.service_label")%>
              <%= select_tag("service", options_for_select(Lookup.values("lookup-service-type", @lookups), ''), :include_blank => true) %>
            </label>
          <% end %>
          <label><%=I18n.t("#{transition_type}.notes_label")%>
            <%= text_area_tag("notes") %>
          </label>
          <div class="remote_toggle" style="display:none">
            <label><%=I18n.t("#{transition_type}.type_of_export")%>
              <%= select_tag("type_of_export", options_for_select(type_of_export_options)) %>
            </label>
            <div class='password_flash hide'><p class='error'></p></div>
            <label><%=I18n.t("encrypt.password_label")%>
              <%= password_field_tag("password") %>
            </label>
            <small><%= t("encrypt.password_extra_info") %></small>
            <label><%=I18n.t("encrypt.file_name")%>
              <%= text_field_tag("file_name") %>
            </label>
          </div>
          <div class="import_button">
            <%= submit_tag(t("buttons.submit"), class: 'green-button right') %>
          </div>
        <% end %>
      </div>
      <div class="large-1">
      </div>
    </div>
  </div>
</li>
<% end %>
