<a data-open="transition-status-<%= dialog_key %>-modal" class="transition_status_<%= dialog_key %>_show_action green-button"><%= button_label %></a>
<div id="transition-status-<%= dialog_key %>-modal" class="reveal tiny" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class="transition_status_<%= dialog_key %>_form_container row">
    <div class="large-11">
      <%= form_tag(child_transfer_status_path, :method => 'post') do %>
        <%= hidden_field_tag("transition_id", transition_id) %>
        <%= hidden_field_tag("transition_status", transition_status) %>
        <label><%= transfer_dialog_text %></label>
        <% if dialog_key == "reject" %>
        <label><%=I18n.t("transfer.reject")%>
          <%= text_area_tag("rejected_reason") %>
        </label>
        <% end %>
        <div class="row align-right">
          <div class="button-group">
            <%= submit_tag(t("buttons.import"), class: 'button hollow right') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
