<a data-open="transition-done-modal" class="transition_done_show_action button hollow"><%= t('buttons.done') %></a>
<div id="transition-done-modal" class="reveal tiny" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class="transition_done_form_container row">
    <div class="large-11">
      <div class="row">
        <div class="medium-12 columns">
          <label><%= t("referral.complete_referral_label") %></label>
        </div>
      </div>
      <%= form_tag(child_relinquish_referral_path, :method => 'post') do %>
        <%= hidden_field_tag("transition_id", transition_id) %>
        <div class="import_button">
            <%= submit_tag(t("buttons.ok"), class: 'button hollow right') %>
          </div>
      <% end %>
    </div>
  </div>
</div>