<tr>
  <% if false %>
  <td class="select_record">
    <input type="checkbox" class="select_record" value="<%= record.id %>" id="<%= record.name %>">
  </td>
  <% end %>
  <td class="id_column">
    <% if can? :read, record.parent_case %>
      <%= link_to text_to_identify_child(record.parent_case), case_path(record.parent_case), class: 'id_link' %>
    <% else %>
      <%= text_to_identify_child(record.parent_case) %>
    <% end %>
    <% if record.overdue? %>
      <i class="fa fa-exclamation stress-error"></i>
    <% elsif record.upcoming_soon? %>
      <i class="fa fa-clock-o stress-warning"></i>
    <% end %>
  </td>
  <td><%= Lookup.display_value('lookup-risk-level', record.priority, @lookups) %></td>
  <td><%= record.type_display %></td>
  <td <%= record.overdue? ? "class=stress-error" : '' %> >
    <%= field_format_date(record.due_date.try(:to_date)) %>
  </td>
</tr>