<tr>
  <td><%= record.user_name %></td>
  <td><%= I18n.t("logger.#{record.action_name}") %></td>
  <td><%= record.record_type %></td>
  <td><%= record.record_id %></td>
  <td><%= field_format_date(record.timestamp) %></td>
</tr>