<% #All options need to be translated %>
<div class="panel">
  <form id="index_filter_form">
    <% if filters_to_show.include? 'Flagged' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.flag"), 'flag', [{flag: t("incidents.filter_by.flag_label")}]) %>
    <% end %>
    <% if filters_to_show.include? 'Violation' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.violation"), 'violations', violation_type_list, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Violence Type' %>
      <%
        #TODO
      %>
      <%= build_filter_checkboxes(t("incidents.filter_by.violence_type"), 'gbv_sexual_violence_type', Lookup.values('Gbv Sexual Violence Type', @lookups)) %>
    <% end %>
    <% if filters_to_show.include? 'Social Worker' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.social_worker"), 'users', @associated_users, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Status' %>
      <%
        #TODO - handle translations and/or lookups
      %>
      <%= build_filter_checkboxes('Status:', 'status', [
        'open',
        'closed',
        'duplicate',
        'transferred'
      ]) %>
    <% end %>
    <% if filters_to_show.include? 'Age Range' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.age_range"), 'age', [
        '0-5',
        '5-11',
        '12-17',
        '18+'
      ]) %>
    <% end %>
    <% if filters_to_show.include? 'Children' %>
      <%
        #TODO
      %>
    <% end %>
    <% if filters_to_show.include? 'Verification Status' %>
      <%
        #TODO - handle translations and/or lookups
      %>
      <%= build_filter_checkboxes('Verification Status:', 'verification_status', [
        'unaccompanied',
        'separated'
      ]) %>
    <% end %>
    <% if filters_to_show.include? 'Incident Location' %>
      <%= build_filter_location('Current Location', 'incident_location') %>
    <% end %>
    <% if filters_to_show.include? 'Incident Date' %>
      <%= render "record_shared/filter_date", date_field_title: 'incident_date', date_field: 'date_of_incident' %>
    <% end %>
    <% if filters_to_show.include? 'Protection Status' %>
       <%
        #TODO
      %>
    <% end %>
    <% if filters_to_show.include? 'Armed Force or Group' %>
       <%
        #TODO
      %>
    <% end %>
    <% if filters_to_show.include? 'Armed Force or Group Type' %>
       <%
        #TODO
      %>
    <% end %>
  </form>
</div>