<% #All options need to be translated %>
<div class="panel">
  <%= render 'record_shared/filter_buttons', do_saved_search: true %>
  <%= render 'record_shared/saved_search_modal' %>
  <form id="index_filter_form" autocomplete="off">
    <% if filters_to_show.include? 'Flagged' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.flag"), 'flag', [{flag: t("incidents.filter_by.flag_label")}], nil, nil, 'single') %>
    <% end %>
    <% if filters_to_show.include? 'Mobile' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.mobile"), 'marked_for_mobile', [{true: t("incidents.filter_by.mobile_label")}], nil, nil, 'single') %>
    <% end %>
    <% if filters_to_show.include? 'Violation' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.violation"), 'violations', violation_type_list, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Violence Type' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.violence_type"), 'gbv_sexual_violence_type', Lookup.values('lookup-gbv-sexual-violence-type', @lookups, locale: I18n.locale),
        { multi: true }) %>
    <% end %>
    <% if filters_to_show.include? 'Social Worker' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.social_worker"), 'owned_by', @associated_users, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'User Group' %>
      <%= build_filter_checkboxes(t("permissions.permission.user_group"), 'owned_by_groups', @user_group_ids, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include?('Agency Office') && @agency_offices.present? %>
      <%= build_filter_checkboxes(t("user.agency_office"), 'created_agency_office', @agency_offices, { multi: true }, false) %>
    <% end %>
    <% if filters_to_show.include? 'Status' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.status"), 'status', Lookup.values('lookup-incident-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Age Range' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.age_range"), 'age', @age_ranges, nil, nil, 'range') %>
    <% end %>
    <% if filters_to_show.include? 'Children' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.children"), 'child_types', [
        {boys: t("incidents.filter_by.boys")},
        {girls: t("incidents.filter_by.girls")},
        {unknown: t("incidents.filter_by.unknown")}
      ]) %>
    <% end %>
    <% if filters_to_show.include? 'Verification Status' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.verification_status"), 'verification_status', Lookup.values('lookup-incident-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Incident Location' %>
      <%= build_filter_location(t("incidents.filter_by.incident_location"), 'incident_location') %>
    <% end %>
    <% if filters_to_show.include? 'Dates' %>
      <%= render 'record_shared/filter_date', record: 'incidents' %>
    <% end %>
    <% if filters_to_show.include? 'Protection Status' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.unaccompanied_separated_status"), 'unaccompanied_separated_status', Lookup.values('lookup-unaccompanied-separated-status', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Armed Force or Group' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.armed_force_group_name"), 'armed_force_group_names', Lookup.values('lookup-armed-force-group-name', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Armed Force or Group Type' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.armed_force_group_type"), 'perpetrator_sub_categories', Lookup.values('lookup-armed-force-group-type', @lookups, locale: I18n.locale),
        { multi: true }) %>
    <% end %>
    <% if filters_to_show.include? 'Record State' %>
      <%= build_filter_checkboxes(t("incidents.filter_by.record_state"), 'record_state',
                                  [{'true' => t("valid")}, {'false' => t("invalid")}]) %>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
