<div class="panel">
  <div class="header_message">
    <% if incident.reunited? %>
        <div class="reunited-message"><%= reunited_message %></div>
    <% end %>
    <% if incident.flagged? %>
        <p class="flag-message"><%= incident.flag_message_flagged_by %></p>
    <% end %>
    <% if incident.duplicate? %>
        <p class="duplicate-message"><%= duplicate_message %></p>
    <% end %>
    <% if duplicates.present? %>
        <p class="duplicate-message"><%= t("incident.another_duplicate_before_link") %>
        <%= link_to 'here', incident_path(duplicates.first) %><%= t("incident.another_duplicate_after_link") %></p>
    <% end %>

    <div id='interviewer_details'>
      <p><strong><%= t("incident.registered_by") %></strong><br>
        <%= incident['created_by'] %> <%= link_to_incident_update_info(incident) %><br>
        <%= current_user.localize_date(incident['created_at']) %>
      </p>
        <% if incident['last_updated_at']%>
          <p>
            <strong><%= t("incident.last_updated") %></strong><br>
            <%= current_user.localize_date(incident['last_updated_at']) %> 
          </p>
        <% end %>
        <% if incident['posted_from']=="Mobile" %>
          <p>
            <strong><%= t("incident.posted_from_mobile")  %></strong><br>
            <%= current_user.localize_date(incident['posted_at']) %>
          </p>
        <% end %>
    </div>
  </div>
</div>