<div class="button-group">
<% if can? :flag, incident %>
    <div class="dropdown_btn dropdown_form">
        <%= render 'record_shared/suspect_flag', record: @incident %>
    </div>
<% end %>
<% if has_show_actions(@incident) %>
    <% unless ["edit", "update"].include? controller.action_name %>
    <ul id="menu" class="dropdown menu" data-dropdown-menu>
      <li class="init_btn">
        <%= link_to content_tag(:span, t("actions.button")), '#', class: 'btn button action_btn' %>
        <ul class="menu">
            <%= render partial: 'exports/button', locals: {model: Incident, instance: @incident} %>
            <% if can? :edit, @incident %>
                <%= render partial: 'record_shared/enable_disable_record', locals: {model: Incident, instance: @incident} %>
            <% end %>
            <% if can?(:sync_mobile, controller.model_class) %>
              <%= render 'record_shared/mark_for_mobile_button', instance: @incident, mobile_value: true  %>
              <%= render 'record_shared/mark_for_mobile_button', instance: @incident, mobile_value: false  %>
            <% end %>
        </ul>
      </li>
    </ul>
    <% end %>
<% end %>
</div>
