<li>
    <%= link_to t("incident.change_log"), incident_history_path(@incident), class: 'green-button' %>
</li>

<% if can? :update, incident %>
    <%#
        TODO: We are taking out the "investigated" and "reunied" buttons.
        Unlikely that we will put them back in. Delete the code in the future.
    %>
    <% if false %>
    <% if @incident.flagged? %>
        <li>
            <div class="dropdown_btn dropdown_form">
                <%= render 'investigated', incident: @incident %>
            </div>
        </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'reunited', incident: @incident %>
        </div>
    </li>
    <% end %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @incident %>
        </div>
    </li>
<% end %>
<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%= link_to content_tag(:span, t("actions.button")), '#', class: 'btn green-button action_btn' %>
    <ul>
        <%= render partial: 'exports/button', locals: {model: Incident, instance: @incident} %>
        <%= render partial: 'record_shared/enable_disable_record', locals: {model: Incident, instance: @incident} %>
    </ul>
  </li>
</ul>
