<tr>
  <td class="select_record"><input type="checkbox" class="select_record" value="<%= record.id %>" id="<%= text_to_identify_incident record %>"></td>
  <% if fields_to_show.include? 'short_id' %>
    <td id="incident_<%= record.id %>" class="id_column">
      <%= link_to text_to_identify_incident(record), incident_path(record), class: 'id_link' %>
      <% #content_tag(:div, nil, :class => 'flag reunited') if record.reunited? %>
      <% if record.flagged? && record.flag_count > 0 %>
        <div class="flag_icon">
          <%= record.flag_count %>
        </div>
      <% end %>
    </td>
  <% end %>
  <% if fields_to_show.include? 'date_of_first_report' %>
    <td><%= field_format_date(record.date_of_first_report) %></td>
  <% end %>
  <% if fields_to_show.include? 'incident_date_derived' %>
    <td><%= field_format_date(record.incident_date_derived) %></td>
  <% end %>
  <% if fields_to_show.include? 'gbv_sexual_violence_type' %>
    <td><%= record.display_field('gbv_sexual_violence_type') %></td>
  <% end %>
  <% if fields_to_show.include? 'incident_location' %>
    <%# TODO - i18n can this use display_field? %>
    <td><% Location.get_by_location_code(record.incident_location).try(:placename) %></td>
  <% end %>
  <% if fields_to_show.include? 'violations' %>
    <td><%= render 'summary_row_violations', incident: record %></td>
  <% end %>
  <% if fields_to_show.include? 'owned_by' %>
    <% #TODO - Get name or code.  Prob should be in helper. Should this be owned_by_text?%>
    <td><%= record.owned_by %></td>
  <% end %>
</tr>
