<!-- BEGIN: item -->
  <tr class="incident_summary_panel table_row<% if incident.flag? %> red_text<% end %>">
    <div class="summary_panel">
      <td id="incident_<%= incident.id %>" class="id_column">
        <div class="summary_item">
          <%= link_to text_to_identify_incident(incident), incident_path(incident), class: 'id_link' %>
        </div>
      </td>
      <td>
        <div class="summary_item">
          <%= incident.survivor_code %>
        </div>
      </td>
      <td>
        <div class="summary_item">
          <%= incident.caseworker_code %>
        </div>
      </td>
      <td>
        <div class="summary_item">
          <%= incident.date_of_first_report %>
        </div>
      </td>
      <td>
        <div class="summary_item">
          <%= incident.status %>
        </div>
      </td>
    </div>
  </tr>
<!-- END: item -->