<% content_for :record_sub_nav_controls do %>
  <%= render_controls(@incident) %> 
<% end %>

<% content_for :record_sub_nav do %>
  <%= render 'show_incident_toolbar', incident: @incident %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= t("incident.label") %> #<%= text_to_identify_incident(@incident) %>
<% end %>

<% content_for :header_message do %>
  <div class="panel">
    <div class="header_message">
    <% if @incident.flag? %>
      <p class="flag-message"><%= @incident.flag_message_flagged_by %></p>
    <% end %>
    </div>
  </div>
<% end %>

<div class="clearfix"></div>

<%= form_tag incident_path(@incident), :method => :put, :multipart => true, :class => "edit-profile default-form data-form" do %>
  <div class="page-content-new row collapse" data-equalizer>
    <div class="large-4 medium-4 columns close-side-tab side-tab-container">
      <div class="side-tab" data-equalizer-watch>
        <%= render :partial => 'form_section/tabs', :object => @form_sections %>
      </div>
    </div>

    <div class="large-8 medium-8 columns side-tab-content-container">
      <div class="side-tab-content" data-equalizer-watch>      
        <% @form_sections.each do |form_group_name, form_list| %>
          <%= render :partial => 'form_section/form_section', :collection => form_list,  :locals => {:formObject => @incident, :form_group_name => form_group_name} %>
        <% end %>
      </div>
    </div>

    <div class="hidden_params">
      <% (params["delete_child_photo"] || {}).each do |key, value| %>
        <%= hidden_field_tag "delete_incidents_photo[#{key}]", value %>
      <% end %>
    </div>
  </div>

<% end %>
