<% content_for :breadcrumbs do %>
  <%= t("incidents.register_new_incident") %>
<% end %>

<% content_for :record_sub_nav_controls do %>
  <%= render_controls(@incident) %>
<% end %>

<%= form_tag incidents_path, :multipart => true, :class => "default-form data-form new-incident-form", :autocomplete => "off" do %>
    <div class="page-content-new row collapse">
      <%= render :partial => 'incidents/required_fields' %>
      <div class="large-4 medium-4 columns close-side-tab side-tab-container">
        <div class="side-tab">
          <%= render :partial => 'form_section/tabs', :object => @form_sections %>
        </div>
      </div>
      <div class="large-8 medium-8 columns side-tab-content-container">
        <div class="side-tab-content">
          <% @form_sections.each do |form_group_name, form_list| %>
            <%= render :partial => 'form_section/form_section', :collection => form_list,  :locals => {:formObject => @incident, :form_group_name => form_group_name} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
<% end %>



