<% content_for :javascript do %>
<script type="text/javascript" language="javascript">
function profile_tools() {
  var $profile_tools = $(".profile-tools");

  $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });

  $profile_tools.find(".mark-as-form").hide();

  $profile_tools.find(".flag a").click( function(){
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });

  $profile_tools.find(".reunited a").click( function(){
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });
  $profile_tools.find(".investigated a").click( function(){
    $(this).parent().siblings('form').children('.mark-as-form').toggle();
  });
}

$(profile_tools);
</script>
<% end %>

<% content_for :record_sub_nav do %>
  <%= render 'show_incident_toolbar', incident: @incident %>
<% end %>

<% if can? :edit, @incident %>
  <% content_for :record_sub_nav_controls do %>
    <%= render_controls(@incident) %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <div class="label"><%= t("incident.label") %></div>
  #<%= text_to_identify_incident(@incident) %>
<% end %>

<div class="clearfix"></div>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>

<div class="page-content-new row">
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <div class="side-tab">
      <%= render :partial => 'form_section/tabs', :object => @form_sections, locals: { show_summary: true } %>
    </div>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      <%= render :partial => 'form_section/show_form_section', :locals => {:formObject => @incident.data, :lookups => @lookups} %>
    </div>
    <%= render 'record_shared/header_message', record: @incident, model: 'incident' %>
  </div>
</div>
