<tr>
  <td class="id_column"><%= link_to text_to_identify_potential_match_child(detail), case_path(detail["child_id"]), class: 'id_link' %></td>
  <td><%= detail["age"] %></td>
  <td><%= detail["sex"] %></td>
  <td><%= detail["registration_date"] %></td>
  <td><%= detail["owned_by"] %></td>
  <td><%= detail["average_rating"].round(5) %></td>
</tr>