<div class="row">
  <div class="columns small-12 header_section">
    <div class="row data">
      <div class="columns small-6">
        <h2>
          <span class="match-header"><%= I18n.t('potential_match.case') %>:</span>
          #<%= potential_match.case_id_display%>
        </h2>
      </div>
      <div class="columns small-6">
        <h2>
          <span class="match-header"><%= I18n.t('potential_match.trace') %>:</span>
          #<%= text_to_identify_potential_match_tracing_request(potential_match) %>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns small-12 ">
    <% potential_match.compare_names.each do |f| %>
      <div class="row data value-comparison">
        <div class="columns small-2 key">
          <strong><%= I18n.t("potential_match.#{f[:field]}") %></strong>
        </div>
        <div class="columns small-4">
          <%= f[:child_name] %>
        </div>
        <div class="columns small-6">
          <%= f[:trace_name] %>
        </div>
      </div>
    <% end %>
    <div class="row data value-comparison">
      <div class="columns small-2 key">
        <strong><%= I18n.t('potential_match.child_gender') %></strong>
      </div>
      <div class="columns small-4">
        <%= potential_match.child_sex %>
      </div>
      <div class="columns small-6">
        <%= potential_match.tracing_request_sex %>
        <%= comparison_symbol(special_comparison['sex']) %>
      </div>
    </div>
    <div class="row data value-comparison">
      <div class="columns small-2 key">
        <strong><%= I18n.t('potential_match.child_age') %></strong>
      </div>
      <div class="columns small-4">
        <%= potential_match.child_age %>
      </div>
      <div class="columns small-6">
        <%= potential_match.tracing_request_age %>
        <%= comparison_symbol(special_comparison['age']) %>
      </div>
    </div>
    <div class="row data value-comparison">
      <div class="columns small-2 key">
        <strong><%= I18n.t('potential_match.child_date_of_birth') %></strong>
      </div>
      <div class="columns small-4">
        <%= field_format_date(potential_match.child_date_of_birth) %>
      </div>
      <div class="columns small-6">
        <%= field_format_date(potential_match.tracing_request_date_of_birth) %>
        <%= comparison_symbol(special_comparison['date_of_birth']) %>
      </div>
    </div>
    <% comparison[:case].each do |case_form| %>
      <div class="data">
        <br><span><%=  case_form[:form_name] %></span><hr />
      </div>
      <% case_form[:case_values].each do |comparison_field| %>
        <% unless special_comparison_fields.include?(comparison_field[:case_field].name) %>
          <div class="row data value-comparison">
            <div class="columns small-2 key">
              <strong><%= comparison_field[:case_field].display_name %></strong>
            </div>
            <div class="columns small-4">
              <%= comparison_value(comparison_field[:case_value]) %>
            </div>
            <div class="columns small-6">
              <%= comparison_value(comparison_field[:trace_value]) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% comparison[:case_subform].each do |case_form| %>
      <div class="data">
        <br><span><%=  case_form[:form_name] %></span><hr />
      </div>
      <% case_form[:case_values].each do |comparison_field| %>
        <div class="row data value-comparison">
          <div class="columns small-2 key">
            <strong><%= comparison_field[:case_field].display_name %></strong>
          </div>
          <div class="columns small-4">
            <%= comparison_value(comparison_field[:case_value]) %>
          </div>
          <div class="columns small-6">
            <%= comparison_value(comparison_field[:trace_value]) %>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>