<%
  #Get match detail from the first potential match record
  # record.first is the key [tracing_request_id, tr_subform_id]
  # record.last is the list of potential_match records
  match_record = record.last.first
%>

<table style="width:100%" class="pm_table record_list_view dont_page">
  <thead>
  <tr>
    <th><%= t("potential_match.inquirer_id") %></th>
    <th><%= t("potential_match.inquirer_name") %></th>
    <th><%= t("potential_match.inquiry_date") %></th>
    <th><%= t("potential_match.inquirer_tr_name") %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="id_column"><%= link_to text_to_identify_potential_match_tracing_request(match_record), tracing_request_path(match_record.tracing_request.id), class: 'id_link ' %></td>
    <td><%= match_record.tracing_request_relation_name %></td>
    <td><%= field_format_date(match_record.tracing_request_inquiry_date) %></td>
    <td><%= match_record.tracing_request_name %></td>
  </tr>
  </tbody>
</table>
<table style="width:100%; border-bottom: #86a05d 1px solid;" class="pm_table record_list_view dont_page" id="myTable_<%= match_record.tr_subform_id %>">
  <thead>
  <tr>
    <th><%= t("potential_match.child_id") %></th>
    <th><%= t("potential_match.child_age") %></th>
    <th><%= t("potential_match.child_gender") %></th>
    <th><%= t("potential_match.social_worker") %></th>
    <th><%= t("potential_match.social_worker_agency") %></th>
    <th><%= t("potential_match.score") %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => "potential_matches/summary_row_detail_case", collection: record.last, as: :detail %>
  </tbody>
</table>