<tr>
  <td class="id_column">
    <% if detail.visible %>
      <%= link_to text_to_identify_potential_match_child(detail), case_path(detail.child_id), class: 'id_link' %>
    <% else %>
      <%= detail.case_id.last 7 %>
    <% end %>
  </td>
  <td><%= detail.case_age %></td>
  <td><%= detail.case_sex %></td>
  <td><%= detail.case_registration_date %></td>
  <td><%= detail.case_owned_by %></td>
  <td><%= detail.average_rating.round(5) %></td>
</tr>