<%
  #Get match detail from the first potential match record
  match_record = record.last.first
%>

<table style="width:100%" class="pm_table record_list_view dont_page">
  <thead>
  <tr>
    <th><%= t("potential_match.child_id") %></th>
    <th><%= t("potential_match.child_age") %></th>
    <th><%= t("potential_match.child_gender") %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="id_column"><%= link_to match_record.case_id_display, case_path(match_record.child.id), class: 'id_link' %></td>
    <td><%= match_record.child_age %></td>
    <td><%= match_record.child.try(:display_field, 'sex', @lookups) %></td>
  </tr>
  </tbody>
</table>
<table style="width:100%; border-bottom: #86a05d 1px solid;" class="pm_table record_list_view dont_page" id="myTable_<%= match_record.child.id %>">
  <thead>
  <tr>
    <th><%= t("potential_match.inquirer_id") %></th>
    <th><%= t("potential_match.inquirer_name") %></th>
    <th><%= t("potential_match.inquiry_date") %></th>
    <th><%= t("potential_match.inquirer_tr_name") %></th>
    <th><%= t("potential_match.score") %></th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => "potential_matches/summary_row_detail_tracing_request", collection: record.last, as: :detail %>
  </tbody>
</table>