<tr>
  <td class="id_column">
    <% if detail.visible %>
      <%= link_to text_to_identify_potential_match_child(detail), case_path(detail.child_id), class: 'id_link' %>
    <% else %>
      <%= detail.case_id.last 7 %>
    <% end %>
  </td>
  <td><%= detail.case_age %></td>
  <td><%= detail.case_sex %></td>
  <td><%= field_format_date(detail.case_registration_date) %></td>
  <td><%= detail.case_owned_by %></td>
  <td><%= I18n.t("potential_match.likelihood.#{detail.likelihood}") + " " + detail.average_rating.round(5).to_s + " " + detail.aggregate_average_score.round(5).to_s %></td>
</tr>