<%
  editing ||= false
  options = @field.send("option_strings_text_#{given_locale}") || []
%>
<div class="row fields_option_strings_text_list" data="<%=given_locale%>">
  <div class="large-3 medium-3 columns">
    <%= label_tag :option_strings_text, t("fields.option_strings_text") %>
  </div>
  <div class="large-9 medium-9 columns fields_option_strings_text_rows">
    <% options.each_with_index do |option, index| %>
      <div class="row fields_option_strings_text_row">
        <div class="column">
          <input type="hidden" name="<%= "field[option_strings_text_#{given_locale}][][id]" %>" value="<%= option['id'] %>" />
          <%= text_field_tag "field[option_strings_text_#{given_locale}][][display_text]", option['display_text'], class: "option_strings_text_input" %>
        </div>
        <% if editing %>
          <% Primero::Application::LOCALES.each do |new_locale| %>
            <% if I18n.default_locale.to_s != new_locale %>
              <% locale_options = @field.send("option_strings_text_#{new_locale}") || [] %>
              <% locale_option_text = locale_options[index].present? && locale_options[index]['display_text'].present? ? locale_options[index]['display_text'] : ''%>
              <input type="hidden" name="<%= "field[option_strings_text_#{new_locale}][][id]" %>" value="<%= option['id'] %>" />
              <div class="column hide_element">
                <%= text_field_tag "field[option_strings_text_#{new_locale}][][display_text]", locale_option_text, class: "option_strings_text_input" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="column">
          <% if given_locale.to_s == 'en' %>
            <a class="field_option_remove_button">
              <%= icon('close') %>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if given_locale.to_s == 'en' %>
      <div class="row options_row_controls">
        <div class="column">
          <a id="field_option_add_button" class="button add_option <%= editing ? 'edit_option' : '' %>" data-lang="<%= Primero::Application::LOCALES %>">
            <%= t('fields.option_strings_add_option') %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>