<%
  # Currently defaulting to 3 tally fields
  # The application can support more if we want to allow more
  editing ||= false;

  if @field.present? && @field["tally_#{given_locale}".to_sym].present?
    tally1 = @field["tally_#{given_locale}".to_sym].first || ""
    tally2 = @field["tally_#{given_locale}".to_sym].second || ""
    tally3 = @field["tally_#{given_locale}".to_sym].third || ""
  else
    tally1 = tally2 = tally3 = ""
  end
%>
<div class="row">
  <div class="large-4 medium-4 columns">
    <%= label_tag :tally_label, t("fields.tally_field", :locale => system_locale.to_sym)%>
  </div>
  <% if editing %>
    <div class="large-4 medium-4 columns">
      <%= text_field_tag "field[tally_#{given_locale}][]", tally1 %>
      <%= text_field_tag "field[tally_#{given_locale}][]", tally2 %>
      <%= text_field_tag "field[tally_#{given_locale}][]", tally3 %>
    </div>
    <% Primero::Application::LOCALES.each do |new_locale| %>
      <% if given_locale != new_locale %>
        <div class="large-4 medium-4 columns <%= "translation_forms #{new_locale}"%> hide_element">
          <%= text_field_tag "field[tally_#{new_locale}][]", tally1 %>
          <%= text_field_tag "field[tally_#{new_locale}][]", tally2 %>
          <%= text_field_tag "field[tally_#{new_locale}][]", tally3 %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="large-4 medium-4 columns">
      <%= text_field_tag "field[tally_#{given_locale}][]", tally1 %>
    </div>
    <div class="large-4 medium-4 columns">
      <%= text_field_tag "field[tally_#{given_locale}][]", tally2 %>
    </div>
    <div class="large-4 medium-4 columns">
      <%= text_field_tag "field[tally_#{given_locale}][]", tally3 %>
    </div>
  <% end %>
</div>
