<%
  editing ||= false
  options = @field.send("option_strings_text_#{given_locale}") || []
%>
<div class="row fields_option_strings_text_list" data="<%=given_locale%>">
  <div class="large-2 medium-2 columns">
    <%= label_tag :option_strings_text, t("fields.option_strings_text") %>
  </div>
  <div class="large-10 medium-10 columns fields_option_strings_text_rows">
    <% options.each_with_index do |option, index| %>
      <div class="row fields_option_strings_text_row">
        <div class="large-5 medium-5 columns">
          <input type="hidden" name="<%= "field[option_strings_text_#{given_locale}][][id]" %>" value="<%= option['id'] %>" />
          <%= text_field_tag "field[option_strings_text_#{given_locale}][][display_text]", option['display_text'], class: "option_strings_text_input" %>
          <span class='help-text'>
            <%= t("form_section.base_language_help_text", :lang => t("home.#{given_locale}")) %>
          </span>
        </div>
        <% if editing %>
          <% @system_settings.locales.each do |new_locale| %>
            <% if given_locale != new_locale %>
              <% locale_options = @field.send("option_strings_text_#{new_locale}") || [] %>
              <% locale_option_text = locale_options[index].present? && locale_options[index]['display_text'].present? ? locale_options[index]['display_text'] : ''%>
              <input type="hidden" name="<%= "field[option_strings_text_#{new_locale}][][id]" %>" value="<%= option['id'] %>" />
              <div class="large-5 medium-5 columns <%= "translation_forms #{new_locale}"%> hide_element">
                <%= text_field_tag "field[option_strings_text_#{new_locale}][][display_text]", locale_option_text, class: "option_strings_text_input" %>
                <span class='help-text'>
                  <%= t("form_section.translation") %>
                </span>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="large-2 medium-2 columns">
          <a class="field_option_remove_button">
            <%= icon('close') %>
          </a>
        </div>
      </div>
    <% end %>
    <div class="row options_row_controls">
      <div class="column">
        <% help = t("form_section.base_language_help_text", :lang => t("home.#{given_locale}")) %>
        <a id="field_option_add_button" class="button add_option <%= editing ? 'edit_option' : '' %>" data-given-lang="<%= "#{given_locale}" %>" data-lang="<%= @system_settings.locales %>" data-help-text="<%= "#{help}" %>">
          <%= t('fields.option_strings_add_option') %>
        </a>
      </div>
    </div>
  </div>
</div>
