<%
  #This is necessary because "name" on the form level is translated, "name" on the field level is not
  is_field_edit ||= false
  is_translation ||= false
%>
<% if is_field_edit %>
  <% unless is_translation %>
    <div class="row">
      <div class="large-2 medium-2 columns">
        <label class="key inline"><%= t("fields.db_name") %></label>
      </div>
      <div class="large-5 medium-5 columns hello">
        <% if fld.object.type != 'custom' %>
          <% if @field.new? %>
            <%= fld.text_field "name" %>
          <% else %>
            <%# TODO - add pattern matching %>
            <%# fld.text_field "name", required: '', pattern: '[a-z_]' %>
            <%= fld.text_field "name", required: '' %>
            <small class="form-error"><%= t('errors.models.field.name_presence') %></small>
          <% end %>
        <% else %>
          <div class="db_name"><%= fld.object["#{field_name}".to_sym] %></div>
        <% end %>
        <span class='help-text'>
          <%= t("form_section.field_db_help_text") %>
        </span>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="large-2 medium-2 columns">
      <label class="key inline"><%= t("form_section.name") %></label>
    </div>
    <div class="<%= is_field_edit ? 'large-5 medium-5' : 'large-10 medium-10' %> columns goodbye">
      <%= fld.send "#{field_type}", "#{field_name}_#{given_locale}".to_sym %>
      <span class='help-text'>
        <%= t("form_section.translation") %>
      </span>
    </div>
  </div>
<% end %>
