<%
   field_keys ||= []
   name = field_tag_name formObject, date_range, field_keys
   field_id = "#{date_range.form.name.dehumanize}_#{sanitize_to_id name}"
   value_from, value_to = field_value formObject, date_range, field_keys
   value_date_field = field_format_date(formObject[date_range[:name]]) || ""
   date_or_date_range = formObject["#{date_range[:name]}_date_or_date_range"] || "date_range"
   value_from, value_to = ["", ""] if date_or_date_range == "date"
   value_date_field = "" if date_or_date_range == "date_range"
   is_disabled = date_range.disabled
   disabled = (defined?(is_subform) && is_subform) ? true : is_disabled
%>

<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag field_id, date_range.display_name, :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <% unless date_range.disabled %>
      <div class="date_or_date_range_selector">
        <% ["date", "date_range"].each do |option| %>
          <% option_name = name.gsub(date_range[:name], "#{date_range[:name]}_date_or_date_range") %>
          <%= radio_button_tag option_name, option, date_or_date_range == option, :id => "#{date_range.form.name.dehumanize}_#{sanitize_to_id option_name}_#{option}"%>
          <%= label_tag "#{option_name}_#{option}", I18n.t("fields.date_range.#{option}") %>
        <% end %>
      </div>
    <% end %>
    <div class="date" style ="<%= "display:none;" if date_or_date_range == "date_range" %>">
      <%= text_field_tag name, value_date_field, :class => 'form_date_field has_help', :disabled => disabled, :is_disabled => is_disabled, :id => field_id %>
      <p class="help"><%= t("fields.date_help") %></p>
    </div>
    <div class="date_range" style ="<%= "display:none;" if date_or_date_range == "date" %>" data-on-errors="<%= t('errors.models.date_range_invalid', :field_name => date_range.display_name) %>">
      <span><%="#{I18n.t("fields.date_range.from")}:"%></span>
      <%= text_field_tag name.gsub(date_range[:name], "#{date_range[:name]}_from"), value_from, :class => 'form_date_field', :disabled => disabled, :is_disabled => is_disabled, :id => "#{field_id}_from" %>
      <span><%="#{I18n.t("fields.date_range.to")}:"%></span>
      <%= text_field_tag name.gsub(date_range[:name], "#{date_range[:name]}_to"), value_to, :class => 'form_date_field has_help', :disabled => disabled, :is_disabled => is_disabled, :id => "#{field_id}_to" %>
        <p class="help"><%= t("fields.date_help") %></p>
    </div>
  </div>
</div>
