<%
  # By having certain things derived from field name and form name
  # it'll be much easier now to load different types of document forms (BIA, BID, Other)
  documents = formObject[form_id] || []
  documents = documents.select { |document| document["file_name"].present? && document["attachment_key"].present? }
  record_class_name = formObject.class.name.underscore.downcase
  doc_type = field.upload_document_type || 'document'
%>
<div class="row">
  <p>
    <%= I18n.t("fields.file_upload_box.document_file_restrictions_message") %>
  </p>
</div>
<% if documents.present? && !formObject.new_record?%>
  <% documents.each do |document| %>
    <%= render 'form_section/document_upload_box_edit_fields', document: document, record_class_name: record_class_name, field: field, doc_type: doc_type %>
  <% end %>
<% end %>
<div id="file_container">
  <div id="file-group" class="document">
    <div class="file">
      <%= render 'form_section/document_upload_box_add_fields', record_class_name: record_class_name, field: field, doc_type: doc_type %>
    </div>
  </div>
  <div id="document_upload_box_file_extension_popup_message" title="PRIMERO" style="display:none">
    <p><%= I18n.t("errors.models.child.document_format") %></p>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="$(this).parent().parent().remove();">
    <span class="ui-button-text"><%= I18n.t("cases.ok") %></span>
    </button>
  </div>
  <div id="document_upload_box_file_size_popup_message" title="PRIMERO" style="display:none">
    <p><%= I18n.t("errors.models.child.document_size") %></p>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="$(this).parent().parent().remove();">
    <span class="ui-button-text"><%= I18n.t("cases.ok") %></span>
    </button>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= link_to I18n.t("fields.file_upload_box.#{doc_type}.add_button_text"), '', id: 'add-file-upload-field', class: 'green-button right' %>
    </div>
  </div>
</div>
