<div class="row"><hr></div>
<div class="row collapse">
  <% if @form_section.editable? %>
    <div class="large-12 medium-12 columns">
      <h4 class="left"><%= t("fields.label") %></h4>
      <a data-open="add_field_modal" class="button right add_field_button">
        <%=t("fields.add")%>
      </a>
    </div>
  <% else %>
    <div class="large-12 medium-12 columns">
      <h3>
        <i><%= t("forms.cannot_be_edited") %></i>
      </h3>
    </div>
  <% end %>
</div>

<div class="row collapse">
  <div class="large-12 medium-12 columns">
    <div class="form_info"><%= t("form_section.messages.drag_drop_help_text").html_safe %></div>
  </div>
</div>

<input type="hidden" id="toggle_url" value="<%= toggle_fields_form_section_fields_path(@form_section) %>">
<input type="hidden" id="edit_url" value="<%= edit_form_section_path(@form_section) %>">
<input type="hidden" id="move_url" value="<%= change_form_form_section_fields_path(@form_section) %>">
<input type="hidden" id="save_order_url" value="<%= save_order_form_section_fields_path(@form_section) %>">

<table id="form_sections" class="list_table_2 dataTable in_content_area">
  <thead>
    <tr>
      <th><%= t("fields.display_name") %>/<%= t("fields.db_name") %></th>
      <th><%= t("form_section.help_text") %></th>
      <th><%= t("fields.type") %></th>
      <th align="center"><%= t("form_section.hide") %></th>
      <th align="center"><%= t("fields.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @form_section.fields.each do |field| %>
      <% unless field.new? %>
        <tr data="<%= field.name %>" class="<%= field.visible? ? "rowEnabled" : "rowDisabled" %>">
          <td>
            <% if @form_section.editable? && field.editable? %>
              <%
                display_base_language = "display_name_#{field.base_language}".to_sym
                display_system_language = "display_name_#{I18n.default_locale}".to_sym
                translation_missing = t("form_section.translation_missing", :lang => t("home.#{I18n.locale}"))
                field_label = field[display_system_language] ? field[display_system_language]  : "#{field[display_base_language]} #{translation_missing}"
              %>
              <%= link_to field_label,
                          edit_form_section_field_path(form_section_id: @form_section.unique_id, id: field.name, module_id: @module_id),
                          :id => "#{field.name}_edit"
              %>            <% else %>
              <%= field.display_name %>
            <% end %>
            <br><span>(<%= field.name %>)</span>
          </td>
          <td>
            <%= field.help_text %>
          </td>
          <td><%= I18n.t("fields.#{field.type}") %><br><small><%= "(multi-select)" if field.multi_select %></small></td>
          <td align="center">
            <% if @form_section.editable? %>
              <%= check_box_tag "fields[]", field.name, !field.visible? , {:id => "fields_#{field.name}", :class => "field_hide_show"} %>
            <% end %>
          </td>
          <td class='field-buttons'>
            <ul class="table_actions">
              <% if @form_section.editable? && field.editable? %>
                <li>
                  <%= link_to t("buttons.edit"),
                            edit_form_section_field_path(form_section_id: @form_section.unique_id, id: field.name, module_id: @module_id, parent_form: @parent_form),
                            :id => "#{field.name}_edit" %>

                </li>
                <% if field.type == 'subform' %>
                  <li><%= link_to t("buttons.edit_subform"), edit_form_section_path(field.subform_section_id, module_id: @primero_module, parent_form: @parent_form) %></li>
                <% end %>
                <% if field.name.present? && field.type != 'custom' && field.deletable? %>
                  <li>
                    <%= render :partial => "form_section/delete_button", :locals => {:field => field, :url => delete_form_section_fields_path(@form_section.unique_id),
                                                                       :warning => I18n.t("messages.warning")} %> <%= hidden_field_tag "field_name" "#{field.name}" %>
                  </li>
                <% end %>
                <li>
                  <% if false %><a class="link_moveto"><%= t("fields.move_to") %></a><% end %>
                </li>
              <% end %>
            </ul>
            <% if @forms_for_move.present? %>
              <div class="move_to_panel hide_element">
                <%= form_tag change_form_form_section_fields_path(@form_section), :html => {:method => :post, :autocomplete => "off"} do -%>
                  <input type='hidden' name='id' value='<%= field.name %>' style="display:none;"/>
                  <input type='hidden' class="destination_form_id" name='destination_form_id' style="display:none;"/>
                <% end %>
                <%= select_tag "#{field.name}_destination_form_id", options_for_select(@forms_for_move, @form_section.unique_id), :class => "field_location"%>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div id="add_field_modal" class="reveal large" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class="sidebar_help">
    <%= @field.present? && @field.type.present? ? t("form_section.modal_sidebar_help_selected") : t("form_section.modal_sidebar_help") %>
  </div>
  <div class="row collapse has_form">
    <div class="medium-3 columns">
      <div class="modal-side-tab">
        <div class="scrolling_indicator up"><%= t('messages.scroll_up') %></div>
        <ul class="field_types side-nav modal-side-nav">
          <% if @field.present? && @field.type.present? %>
            <% type_field = @field.type == 'date_range' ? 'date_range_field' : @field.type %>
            <li class="current"><%= link_to t("fields.#{type_field}"),'', :id => "#{type_field}", :class => "field_links sel" %> </li>
          <% else %>
            <li class="current"><%= link_to t("fields.text_field"),'', :id => "text_field", :class => "field_links sel" %> </li>
            <li><%= link_to t("fields.text_area"),'', :id => "textarea", :class => "field_links" %></li>
            <li><%= link_to t("fields.tick_box"),'', :id => "tick_box", :class => "field_links" %></li>
            <li><%= link_to t("fields.select_box"),'', :id => "select_box", :class => "field_links" %></li>
            <li><%= link_to t("fields.radio_button"),'', :id => "radio_button", :class => "field_links" %></li>
            <li><%= link_to t("fields.numeric_field"),'', :id => "numeric_field", :class => "field_links" %></li>
            <li><%= link_to t("fields.tally_field"),'', :id => "tally_field", :class => "field_links" %></li>
            <li><%= link_to t("fields.date_field"),'', :id => "date_field", :class => "field_links" %></li>
            <li><%= link_to t("fields.date_range_field"),'', :id => "date_range", :class => "field_links" %></li>
            <li><%= link_to t("fields.separator"), '', :id => "separator", :class => "field_links" %></li>
            <% unless @form_section.is_nested %>
              <li><%= link_to t("fields.subform"),'', :id => "subform", :class => "field_links" %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="scrolling_indicator down"><%= t('messages.scroll_down') %></div>
      </div>
    </div>
    <div class="medium-9 columns side-tab-content-container">
      <div class="side-tab-content">
        <div class="row">
          <div class="medium-12 columns field_panel">
            <div class="space"></div>
            <%
              #TODO: BAD BAD BAD
              #This is woven into the logic to add new fields
              #Removing this is not a quick task
              #This needs to be addressed when a more extensive refactor of the form editor is done
              @field ||= Field.new(:type => 'text_field')
            %>
            <% if (@field.errors.any?) %>
              <fieldset class="no-border">
                <%= error_messages_for  :field,
                                        :header_tag => :h2,
                                        :header_message => t("form_section.messages.cannot_create"),
                                        :message => t('form_section.messages.correct_errors') %>
              </fieldset>
            <% end %>
            <%= render :partial => 'form_section/add_field', :locals => {:div_id => "field_details", :fields => [
                {:display_name => :text_field},
                {:name => :text_field},
                {:help_text => :text_area}
            ] } %>
            <%= render :partial => 'form_section/add_field', :locals => {:div_id => "field_details_options", :fields => [
                {:display_name => :text_field},
                {:name => :text_field},
                {:help_text => :text_area},
                {:option_strings_text => :options_box},
                {:option_strings_source => :select_box}
            ] } %>
            <%= render :partial => 'form_section/add_field', :locals => {:div_id => "field_details_select_box", :fields => [
                {:display_name => :text_field},
                {:name => :text_field},
                {:help_text => :text_area},
                {:option_strings_text => :options_box},
                {:option_strings_source => :select_box}
            ] } %>
            <%= render :partial => 'form_section/add_field', :locals => {:div_id => "field_details_tally", :fields => [
                {:display_name => :text_field},
                {:name => :text_field},
                {:help_text => :text_area},
                {:tally => :tally_field}
            ] } %>
            <%= render :partial => 'form_section/add_field', :locals => {:div_id => "field_details_tick_box", :fields => [
                {:display_name => :text_field},
                {:name => :text_field},
                {:help_text => :text_area},
                {:tick_box_label => :text_field}
            ] } %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
