<% documents = record.try(field.name) %>

<% if documents.present? %>
  <div class="uploaded-documents">
    <% documents.each do |document| %>
      <div class="row">
        <div class="medium-4 columns">
          <label class="key"><%= I18n.t("fields.#{field.name}") %></label>
        </div>
        <div class="medium-8 columns">
          <%= link_to document.document.filename.to_s, rails_blob_path(document.document, disposition: "attachment"),
            class: 'document download_attachment', data: { turbolinks: true } %>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label class="key"><%= I18n.t("fields.document.current") %></label>
        </div>
        <div class="medium-8 columns">
          <% value = document.is_current
             value = "false" if value.blank?
             %>
          <span class="value"><%= I18n.t(value) %></span>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label class="key"><%= I18n.t("fields.document.name") %></label>
        </div>
        <div class="medium-8 columns">
          <% value = document.document_description || "" %>
          <span class="value"><%= value %></span>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label class="key"><%= I18n.t("fields.document.date") %></label>
        </div>
        <div class="medium-8 columns">
          <% value = field_value_for_display document.date || "" %>
          <span class="value"><%= value %></span>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label class="key"><%= I18n.t("fields.document.comments") %></label>
        </div>
        <div class="medium-8 columns">
          <% value = document.comments || "" %>
          <span class="value"><%= value %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
