<!-- Photo fields are not shown inline-->

<% content_for :javascript do %>
<script type="text/javascript" language="javascript">
function thumbnails() {
  $('.thumbnails .thumbnail a').lightBox({fixedNavigation:true,
    imageLoading: '<%= image_url('lightbox-ico-loading.gif') %>',
    imageBtnPrev: '<%= image_url('lightbox-btn-prev.gif') %>',
    imageBtnNext: '<%= image_url('lightbox-btn-next.gif') %>',
    imageBtnClose: '<%= image_url('lightbox-btn-close.gif') %>',
    imageBlank: '<%= image_url('lightbox-blank.gif') %>'
  });
};

$(thumbnails);
</script>
<% end %>
<% photos = record.try(field.name) %>
<div class="clearfix"></div>
<div class="thumbnails photos">
  <% photos.each do |photo| %>
    <div class="thumbnail">
      <%= link_to(image_tag(photo.image.variant(resize: "100x100")), rails_representation_url(photo.image.variant(resize: "328").processed, only_path: true))%>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>