<%
   subform = field
   subform_section = field.subform_section
   shared_subform_section = FormSection.get_by_unique_id subform_section.shared_subform
   shared_subform_section_group = subform_section.shared_subform_group
   number_of_subforms = subforms_count formObject, subform, form_group_name
   data_shared_subform = ""

   if shared_subform_section.present?
     data_shared_subform = "data-is_shared_subform=true data-shared_subform=#{subform_section.shared_subform}"
   end
   if number_of_subforms > 0
     subform_object = get_subform_object(formObject, subform_section, form_group_name, subform.name).presence || get_subform_object(formObject, shared_subform_section, shared_subform_section_group, subform.name)
     #TODO: This code is being temporarily removed until JOR-141 
     #      (users should only see their own referrals) is again revisited,
     #      Pending a full refactor of how we do nested forms headers  
     # if subform.name == "transitions"
     #   # Recalculate the amount of subforms
     #   number_of_subforms = subform_object.count
     # end
   end
%>
<% if number_of_subforms == 0 %>
  <% if !subform.disabled %>
    <% unless subform.subform_section.is_summary_section %>
      <% #TODO refactoring next line when refactoring i18n %>
      <div class="placeholder_text"><%= t('placeholders.subforms', :form => t(form_group_name == "Violations" ? "incident.violation.violation" : subform.name, :default => subform.display_name)) %></div>
    <% end %>
  <% end %>
<% else %>
  <div class="row">
    <div id="<%= subform.name %>" class="subforms" <%=data_shared_subform%> data-form_group_name="<%= shared_subform_section_group.dehumanize unless shared_subform_section_group.nil? %>">
      <% (number_of_subforms).times do |i| %>
        <%
          formObject_i = subform_object[i]
          formObject_i[:hidden_name] = formObject.hidden_name
        %>
        <div id="subform_container_<%= subform.name %>_<%= i %>" class="subform_container">
          <fieldset id="subform_<%= subform.name %>_<%= i %>" class="<%= subform.name %> subform no-border">
          <%= render partial: "form_section/subform_expand_collapse_header",
                     object: formObject,
                     locals: { formObject: formObject,
                               subform: subform,
                               subform_section: subform_section,
                               i: i,
                               form_group_name: form_group_name,
                               view_mode: true,
                               subform_object: formObject_i
                             }
          %>

          <% (subform_section.fields.select {|field| field.showable? }).each do |field| %>
            <% unless (field.name == "to_user_local_status" && formObject_i.is_remote == true) || (field.name == "to_user_local_status" && formObject_i.type == Transition::TYPE_REASSIGN) %>
              <%= render :partial => "form_section/field_display_#{field.display_type}",  :locals=>{:field => field, :formObject=>formObject_i} %>
            <% end %>
          <% end %>
          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
