<!-- Photo fields are not shown inline-->

<% content_for :javascript do %>
<script type="text/javascript" language="javascript">
function thumbnails() {
  $('.thumbnails .thumbnail a').lightBox({fixedNavigation:true,
    imageLoading: '<%= image_url('lightbox-ico-loading.gif') %>',
    imageBtnPrev: '<%= image_url('lightbox-btn-prev.gif') %>',
    imageBtnNext: '<%= image_url('lightbox-btn-next.gif') %>',
    imageBtnClose: '<%= image_url('lightbox-btn-close.gif') %>',
    imageBlank: '<%= image_url('lightbox-blank.gif') %>'
  });
};

$(thumbnails);
</script>
<% end %>

<div class="clearfix"></div>
<div class="thumbnails photos">
  <%# TODO: Removing until we migrate Documents %>
  <% if false %>
  <% formObject.photos.each do |photo| %>
      <% photo_path = send("#{formObject.class.name.underscore.downcase}_resized_photo_path", formObject, photo.name || formObject.current_photo_key, 328, :ts => formObject.last_updated_at) %>
      <div class="thumbnail"><%= link_to thumbnail_tag(formObject, photo.name), photo_path %></div>
  <% end %>
  <% end  %>
</div>
<div class="clearfix"></div>