<%
  lookup_options ||= []
  is_translation ||= false
  is_field_edit ||= false
%>
<% fields.each do |field_hash| %>
  <%
    field_name = field_hash.keys.first
    field_type = field_hash.values.first
  %>
  <% if field_type == :select_box %>
    <%= render "form_section/add_select_box", lookup_options: lookup_options, fld: fld unless is_translation %>
  <% elsif field_type == :tally_field %>
    <%= render "form_section/add_tally_field", given_locale: given_locale %>
  <% elsif field_name == :name %>
    <%= render "form_section/add_name_field", fld: fld, field_name: field_name, field_type: field_type, given_locale: given_locale, is_field_edit: is_field_edit, is_translation: is_translation %>
  <% else %>
    <div class="row">
      <div class="large-4 medium-4 columns">
        <label class="key inline"><%= t("fields.#{field_name.to_sym}", :locale => given_locale.to_sym) %></label>
      </div>
      <div class="large-8 medium-8 columns">
        <%
          disabled = false
          if field_type == :text_area && fld.object[:multi_select] && field_name == :option_strings_text && fld.object[:"option_strings_text_#{given_locale}"].is_a?(Array)
            value = fld.object[:"option_strings_text_#{given_locale}"].map{|option| "#{option['display_text']}\r\n"}.join('')
            disabled = true
          else
            value = fld.object[:"#{field_name.to_s}_#{given_locale}"]
          end
        %>
        <%= fld.send "#{field_type}", "#{field_name}_#{given_locale}".to_sym, value: value, disabled: disabled %>
      </div>
    </div>
  <% end %>
<% end %>