<div class="row">
  <div class="medium-4 columns">
    <label class="key"><%= field.display_name %></label>
  </div>
  <div class="medium-8 columns summary_group">
    <div class="row collapse">
      <% field.tally.each do |t| %>
        <div class="medium-4 columns tally_item">
          <div class="row collapse">
            <div class="small-12 columns">
                <% value = field_value_for_display formObject["#{field.name}_#{t}"] %>
                <span class="value"><span class="postfix_val"><%= t.capitalize %>:</span><%= value %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <span class="value"><span class="postfix_val"><%= t('total') %> <%= t(field.name, :default => field.display_name).downcase %>:</span><%= field_value_for_display formObject["#{field.name}_total"] %></span>

  </div>
</div>
