<div class="row align-middle">
  <div class="medium-4 columns">
    <%# TODO - need to refactor this translation logic %>
    <label class="key <%= field.name %>"><%= field.display_name %></label>
  </div>
  <div class="medium-8 columns">
    <% if field.link_to_path.present? %>
      <%= field_link_for_display formObject[field.name], field %>
    <% else %>
      <%
        if field.multi_select.present? and field.multi_select == true
          value = field_value_for_multi_select(formObject.try(field.name), field, formObject, @lookups)
        else
          value = field_value_for_display((formObject.try(field.name) || formObject.try(:[],field.name)), field, @lookups)
        end
        value = field.selected_value if (field.type == 'select_box' && field.disabled && field.selected_value.present?)
        value = I18n.t("cases.hidden_text_field_text") if formObject[:hidden_name] && field.hidden_text_field
      %>
      <span class="value"
            data-field-tags="<%= field.field_tags.present? ? field.field_tags : [] %>"
            <%= "data-violation-categories=#{formObject[field.name].join(',')}" if field.name == 'violation_category' %>>
        <% if field.link_to_path_external.present? %>
          <%= link_to value, value, target: '_blank' %>
        <% else %>
          <%= value %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
