<% if formObject[form_id].present? %>
  <div class="uploaded-documents">
    <% formObject[form_id].each do |document| %>
      <div class="row">
        <div class="medium-4 columns">
          <span class="key document">
            <%= label_tag I18n.t(field.name, :default => field.display_name) %>
          </span>
        </div>
        <div class="medium-8 columns">
          <% document_url = send("#{formObject.class.name.underscore.downcase}_document_url", formObject.id, document["attachment_key"]) %>
          <%= link_to document["file_name"], document_url, :class => "document" %>
        </div>
        <div class="medium-4 columns">
          <label class="key document-description">Document Name</label>
        </div>
        <div class="medium-8 columns">
          <% value = document["document_description"] || "" %>
          <span class="document-description"><%= value %></span>
        </div>
        <div class="medium-4 columns">
          <label class="key date">Document Date</label>
        </div>
        <div class="medium-8 columns">
          <% value = document["date"] || "" %>
          <span class="date"><%= value %></span>
        </div>
        <div class="medium-4 columns">
          <label class="key comments">Comments</label>
        </div>
        <div class="medium-8 columns">
          <% value = document["comments"] || "" %>
          <span class="comments"><%= value %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>