    <% if formObject.audio %>
      <%= hidden_field_tag "#{formObject.class.name.underscore.downcase}[photos][#{photo.id}][id]", photo['id'] %>
      <% model = formObject.class.name.underscore.downcase
         audio_url = send("#{formObject.model_name_for_audio_link}_audio_url", formObject) %>
        <hr>
        <div class="audio row">
            <div class="medium-12 columns">
              <span class="profile-section-label"><strong><%= field ? field.display_name : I18n.t("fields.audio.current") %></strong></span>
              <%= link_to "Download", audio_url, {:id => "audio_link", class: 'right button'} %>
              <% if display_audio_delete_checkbox %>
              <div class="delete_check_box">
              <%= label_tag "#{model}_audio", t("#{model}.actions.delete_audio") %>
              <%= check_box_tag("#{model}[recorded_audio][#{formObject.audio.id}][_destroy]", true, false, id: "#{model}_recorded_audio_#{formObject.audio.id}_delete_audio")%>
              </div>
              <% end %>
              <div class="clearfix"></div>
            <% if is_playable_in_browser(formObject.audio) %>
                  <%= render :partial => "form_section/audio_player", locals: {audio_url: audio_url} %>
            <% end %>
            </div>
        </div>
    <% end %>
