<% if formObject && formObject.has_valid_audio? %>
    <% if formObject.audio %>
        <hr>
        <div class="audio row">
            <div class="medium-12 columns">
              <span class="profile-section-label"><strong><%= field ? field.display_name : 'Current Audio' %></strong></span>
              <%= link_to "Download", case_audio_url(formObject), {:id => "audio_link", class: 'right green-button'} %>
              <% if display_audio_delete_checkbox %>
              <div class="delete_check_box">
              <%= label_tag "delete_child_audio", t("child.actions.delete_audio") %>
              <%= check_box_tag("delete_child_audio") %>
              </div>
              <% end %>
              <div class="clearfix"></div>
            <% if is_playable_in_browser(formObject.audio) %>
                  <audio controls="controls" id="audio_player">
                    <source src="<%= case_audio_url(formObject) %>"/>
                    Your browser is unable to play this audio file. You can download the file using the link above.
                  </audio>

                  <%= render :partial => "form_section/audio_player" %>
            <% end %>
            </div>
        </div>
    <% end %>
<% end %>
