<fieldset id="tab_<%= form_section.section_name %>" class="<%= form_section.section_name %> tab no-border small-12 columns"
          data-first-tab="<%= form_section.is_first_tab %>"
          data-form-section-id="<%= form_section.section_name %>"
          data-form-section-group-id="<%= form_section.form_group_id %>"
          data-form-name="<%= t(form_section.unique_id, :default => form_section.name) %>">
  <div class="clearfix"></div>
  <%= render 'form_section/error_message', formObject: formObject %>

  <% if form_section.is_violations_group? %>
    <div class="row empty_violations"><%= t('incident.empty_violation') %></div>
    <div class="row add_violations_message"><%= t('incident.add_violations') %></div>
  <% end %>

  <% (form_section.fields.select {|field| field.visible? }).each do |field| %>
    <%= render partial: field_template_path(field), object: field, locals: { field: field, formObject: formObject, form_group_name: form_group_name, form_id: form_section.unique_id } %>
  <% end %>

</fieldset>
