<% if can?(:add_note, @record) %>
  <%
    notes_button_class = 'button notes_button'
  %>

  <div class="row">
    <div class="medium-12 columns">
      <a
        data-open=<%= "notes-modal"%> class="<%= notes_button_class %>">
        <%= t("buttons.add_note") %>
      </a>

      <div id=<%= "notes-modal" %> class="reveal tiny" data-reveal>
        <%= render 'shared/modal_close' %>
        <div class=<%= "notes_form_container row"%> >
          <div class="large-12">
            <%= form_tag(url_for(:action => 'add_note', :id => (@record.present? ? @record.id : params[:id])), {:multipart => true, :method => 'post', :autocomplete => "off"}) do %>
              <label><%=I18n.t("notes.subject_label")%>
                <%= text_field_tag("subject") %>
              </label>
              <label><%=I18n.t("notes.notes_label")%>
                <%= text_area_tag("notes") %>
              </label>

              <div class="row align-right">
                <div class="button-group">
                  <%= submit_tag(t("buttons.submit"), class: 'button right') %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>