<%
  index = 0;
%>
<div class="row align-middle">
  <div class="medium-12 columns">
    <div class="row">
      <p>
        <%= I18n.t("fields.file_upload_box.photo_file_restrictions_message") %>
      </p>
    </div>
    <div id="file_container">
      <div id="file-group">
        <div class="file">
          <div class="row">
              <div class="medium-4 columns">
                <span class="tool-tip-label">
                  <%= label_tag "#{formObject.class.name.underscore.downcase}[photos][#{index}][image]", I18n.t("fields.file_upload_box.add_photo_label"), :class=>'key inline' %>
                </span>
              </div>
              <div class="medium-8 columns file_upload">
                <div>
                  <%= render "form_section/file_input", name: "#{formObject.class.name.underscore.downcase}[photos][#{index}][image]", id: "#{formObject.class.name.underscore.downcase}_photos_#{index}_image", help_text: photo_upload_box.help_text || ""%>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to I18n.t('fields.file_upload_box.add_new_photo_button_text'), '', id: 'add-file-upload-field', class: 'button right', "data-model" => "#{formObject.class.name.underscore.downcase}" %>
        </div>
      </div>
    </div>
    <% formObject.photos.each do |photo| %>
      <%= hidden_field_tag "#{formObject.class.name.underscore.downcase}[photos][#{photo.id}][id]", photo['id'] %>
      <div class="row">
        <div class="delete_check_box medium-4 columns">
          <%= label_tag "#{formObject.class.name.underscore.downcase}[photos][#{photo.id}][image]", t("#{formObject.class.name.underscore.downcase}.actions.delete_photo") %>
        </div>
        <div class="medium-8 columns">
          <%= check_box_tag("#{formObject.class.name.underscore.downcase}[photos][#{photo.id}][_destroy]", true, false, id: "#{formObject.class.name.underscore.downcase}_photos_#{photo.id}_delete_image")%>
          <%= image_tag photo.image.variant(resize: "100x100") %>
        </div>
      </div>
    <% end %>
  </div>
</div>

