<%
   field_keys ||= []
   name = field_tag_name formObject, select_box, field_keys
   name += "[]" if select_box.multi_select
   field_id = "#{select_box.form.name.dehumanize}_#{sanitize_to_id name}"
   value = select_box.selected_value if select_box.selected_value.present? && formObject.new_record?
   value ||= field_value formObject, select_box, field_keys
   field_tags = select_box.field_tags.present? ? select_box.field_tags : []
%>

<div class="row">
  <div class="medium-4 columns">
      <span class="tool-tip-label">
        <%= label_tag field_id, t(select_box.name, :default => select_box.display_name), :class=>'key inline'  %>
      </span>
  </div>
  <div class="medium-8 columns">
    <% if select_box.multi_select %>
      <%= select_tag name, options_for_select(select_box.select_options(formObject, @lookups, @locations), value), 'multiple' => '',
          'class' => 'chosen-select', 'data-placeholder' => t("fields.chosen_placeholder"), 'id' => field_id,
          :data => { :field_tags => field_tags} %>
    <% elsif select_box.searchable_select %>
      <%= select_tag name, options_for_select(select_box.select_options(formObject, @lookups, @locations), value),
          'class' => 'chosen-select', 'data-placeholder' => t("fields.chosen_placeholder"), :id => field_id,
          :data => { :field_tags => field_tags} %>
    <% else %>
      <%= select_tag name, options_for_select(select_box.select_options(formObject, @lookups, @locations), value), :id => field_id,
          :data => { :field_tags => field_tags} %>
    <% end %>
    <% if select_box.guiding_questions.present? %>
      <%= link_to(t('buttons.guiding_questions'), '', class: 'gq_popovers', tabindex: '0',
                  data: {
                      toggle: 'popover',
                      trigger: 'focus',
                      title: t('buttons.guiding_questions'),
                      html: true
                  }) %>
      <div class='popover_content' style="display:none;">
        <%=  select_box.guiding_questions %>
      </div>
    <% end %>
    <% if select_box.help_text.present? %><p class="help"><%= select_box.help_text  %></p><% end %>
  </div>
</div>
