<% @form_sections.each do |form_group_name, section_list| %>
  <% section_list.each do |section| %>
    <fieldset id='tab_<%= section.section_name.underscore %>' class='<%= section.section_name %> tab no-border ' data-first-tab="<%= section.is_first_tab %>">
      <div class="clearfix"></div>
      <% if display_help_text_on_view?(formObject, section) %>
      <div class="row">
        <div class="placeholder_text"><%= t("messages.form_sections_help_text_for_edit", :form_section_name => t(section.unique_id, :default => section.name)) %></div>
      </div>
      <% end %>
      <% if section.header_message_link.present? %>
        <%= render partial: "form_section/header_message_#{section.header_message_link}" %>
      <% end %>
      <% if show_alerts?(formObject) && form_has_alerts?(formObject, section.unique_id) %>
        <%= render 'form_section/display_alert', formObject: formObject, section: section %>
      <% end %>
      <% (section.fields.sort_by(&:order).select{|field| field.showable?}).each do |field| %>
        <%= render :partial => field_template_path(field, true), :locals=>{:field => field, :formObject => formObject.data, :record => formObject, :form_group_name => form_group_name, :form_id => section.unique_id, :display_audio_delete_checkbox => false, :lookups => lookups} %>
      <% end %>
    </fieldset>
  <% end %>
<% end %>
