<% @form_sections.each do |form_group_name, section_list| %>
  <% section_list.each do |section| %>
    <fieldset id='tab_<%= section.section_name.underscore %>' class='<%= section.section_name %> tab no-border ' data-first-tab="<%= section.is_first_tab %>">
      <div class="clearfix"></div>
      <% if display_help_text_on_view?(formObject, section) %>
      <div class="row">
        <div><%= t("messages.form_sections_help_text_for_edit", :form_section_name => t(section.unique_id, :default => section.name)) %></div>
      </div>
      <% end %>
      <% (section.fields.select{|field| field.visible?}).each do |field| %>
        <%= render :partial => "form_section/field_display_#{field.display_type}",  :locals=>{:field => field, :formObject=>formObject, :form_group_name => form_group_name, :display_audio_delete_checkbox => false} %>
      <% end %>
    </fieldset>
  <% end %>
<% end %>
