<div class="large-3 medium-3 columns close-side-tab side-tab-container">
  <div class="side-tab static_links" data-equalizer-watch>
    <div class="side-nav-container">
      <ul class="side-nav">
        <li class=<%= (highlight_page == 'forms' ? 'current' : '') %>>
          <%= link_to I18n.t("navigation.forms"), form_sections_path if can?(:manage, FormSection)%>
        </li>
        <li class=<%= (highlight_page == 'lookups' ? 'current' : '') %>>
          <%= link_to I18n.t("navigation.lookups"), lookups_path if can?(:manage, Lookup)%>
        </li>
        <li class=<%= (highlight_page == 'locations' ? 'current' : '') %>>
          <%= link_to I18n.t("navigation.locations"), locations_path if can?(:manage, Location)%>
        </li>
      </ul>
    </div>
  </div>
</div>
