<% #This template is to generate the header of every subform to make the expand/collapse functionality  %>
<%
  view_mode ||= false
  disable_action_buttons = subform.subform_section.is_summary_section ? "display:none;" : ""
  summary_section_class = subform.subform_section.is_summary_section ? "summary_section" : ""
  subform_name = subform.name
  if subform.subform_section.shared_subform.present?
    subform_name = subform.subform_section.shared_subform
    form_group_id = subform.subform_section.shared_subform_group
  end
  collapsed_fields = subform_section.collapsed_list

  if subform.expose_unique_id && i != "template"
    fk = field_keys(subform_name, i, 'unique_id', form_group_id)
    unique_id = " - #{formObject.value_for_attr_keys(fk).try(:slice, 0, 5)}"
  else
    unique_id = ""
  end
%>
<div class="row collapse_expand_subform_header">
  <div class="medium-7 columns">
    <% unless grouped_subforms_header.present? %>
    <span class="subform_header">
      <%= label_tag subform.name, subform.display_name, :class=>'key' %><%= unique_id %><%= violation_status(formObject, form_group_id, subform_name, i) %>
    </span>
    <% end %>
    <%= render :partial => "form_section/subform_header_collapsed_fields",
      locals: {
        :collapsed_fields => collapsed_fields,
        :subform_name => subform_name,
        :form_group_id => form_group_id,
        :view_mode => view_mode,
        :i => i,
        :formObject => formObject,
        :subform => subform
      } %>
    <% if view_mode && (subform_section.subform_header_links.include? "tracing") %>
      <div class="subform_tracing_link">
        <%= link_to t('tracing_request.find_match'), potential_matches_path(match: "#{@tracing_request.id}::#{@tracing_request.tracing_request_subform_section[i].unique_id}") %>
      </div>
    <% end %>
  </div>
  <div class="medium-5 columns">
    <% if view_mode %>
      <% subform_instance = formObject.send(subform_name)
      subform_instance = subform_instance[i] if subform_instance.present? %>
      <%= render :partial => "form_section/subform_header_transition",
        locals: {
          :view_mode => view_mode,
          :subform_instance => subform_instance,
          :subform_name => subform_name,
          :formObject => formObject,
          :disable_action_buttons => disable_action_buttons,
          :summary_section_class => summary_section_class
        } %>
    <% end %>
    <%= render :partial => "form_section/subform_header_button_group",
      locals: {
        :subform => subform,
        :formObject => formObject,
        :subform_name => subform_name,
        :i => i,
        :subform_instance => subform_instance.present? ? subform_instance : nil,
        :disable_action_buttons => disable_action_buttons,
        :summary_section_class => summary_section_class
      } %>
  </div>
</div>
