<% subform_index = unique_ending == 'template' ? '' : unique_ending %>
<div id="subform_container_<%= subform.name %>_<%= unique_ending %>" <% if(unique_ending == 'template') %>class="template" style="display:none;"<% else %>class="subform_container"<% end %> data-subform_index="<%= subform_index %>">
  <fieldset id="subform_<%= subform.name %>_<%= unique_ending %>" class="<%= subform.name %> subform no-border <%= action %>">
  <%= render partial: "form_section/subform_expand_collapse_header",
    object: formObject,
    locals: {
      formObject: formObject,
      subform: subform,
      subform_section: subform_section,
      i: unique_ending,
      form_group_id: form_group_id,
      grouped_subforms_header: grouped_subforms_header
    } %>
  <%
    fk_unique_id = field_keys(subform.name, unique_ending, 'unique_id', form_group_id)
    unique_tag_name = field_tag_name(formObject, nil, fk_unique_id)
    unique_field_id = "#{subform.name.dehumanize}_#{sanitize_to_id unique_tag_name}"
    unique_field_value = action == 'edit' ? field_value(formObject, nil, fk_unique_id) : ''
    is_subform = unique_ending == 'template'
  %>
  <% if unique_ending == 'template' %>
    <%= hidden_field_tag(unique_tag_name, '', disabled: 'disabled') %>
  <% elsif action == 'edit' %>
    <%= hidden_field_tag(unique_tag_name, field_value(formObject, nil, fk_unique_id)) %>
  <% else %>
    <%= hidden_field_tag(unique_tag_name, '') %>
  <% end %>
  <%# TODO: Render the individual fields %>
  <% (subform_section.fields.select {|field| field.visible? }).each do |field| %>
    <% fk = field_keys(subform_name, unique_ending, field.name, form_group_id) %>
    <%= render partial: field_template_path(field, false),
      object: field,
      locals: {
        field_keys: fk,
        formObject: formObject,
        is_subform: is_subform
      } %>
  <% end %>
  </fieldset>
</div>