<% #This template is to generate the header of every subform to make the expand/collapse functionality  %>
<%
    view_mode ||= false
    disable_action_buttons = subform.subform_section.is_summary_section ? "display:none;" : ""
    summary_section_class = subform.subform_section.is_summary_section ? "summary_section" : ""
    subform_name = subform.name
    if subform.subform_section.shared_subform.present?
      subform_name = subform.subform_section.shared_subform
      form_group_name = subform.subform_section.shared_subform_group
    end
    collapsed_fields = subform_section.collapsed_list
%>
<div class="row collapse_expand_subform_header">
  <div class="medium-8 columns">
    <span class="subform_header">
      <%= label_tag subform.name, t(subform.name, :default => subform.display_name.singularize), :class=>'key' %><%= violation_status(formObject, form_group_name, subform_name, i) %>
    </span>
    <div class="display_field">
      <% fields_id=[]
         data_types=[]
         value_fields=[]
         collapsed_fields.each do |field|
           fk = field_keys(subform_name, i, field.name, form_group_name)

           #view mode does not need the fields to update the header.
           unless view_mode
             #get the names of the fields that belong to the subforms header
             #this will help to update the header if the user change something
             name = field_tag_name formObject, field, fk
             fields_id << "#{subform.subform.name.dehumanize}_#{sanitize_to_id(name)}"

             #field_type will be used to identify how to retrieve the changes in the subform fields
             #to update the static text placeholder if the field was changed by the user and the user 
             #collapsed the subform.
             field_type = field.type
             field_type = "chosen" if field.type == "select_box" and field.multi_select == true
             data_types << field_type + "_type"
           end

           #retrieve the value of the fields.
           value = i.to_s == "template" ? "" : field_value(formObject, field, fk)
           value_to_display = field_value_for_display value
           value_fields << value_to_display
         end
      %>
      <% if view_mode %>
        <span>
          <%= value_fields.reject(&:empty?).join(' - ') %>
        </span>
      <% else %>
      <span data-fields="<%= fields_id.join(',') %>" data-types="<%= data_types.join(',') %>">
        <%= value_fields.reject(&:empty?).join(' - ') %>
      </span>
      <% end %>      
    </div>
    <% if view_mode && (subform_section.subform_header_links.include? "tracing") %>
      <div class="subform_tracing_link">
        <%= link_to t('tracing_request.find_match'), cases_path(tracing_request: "#{@tracing_request.id}::#{i}") %>
      </div>
    <% end %>
  </div>
  <div class="medium-4 columns">
    <span class="collapse_expand_subform expanded <%=summary_section_class%>" style="<%=disable_action_buttons%>">-</span>
    <%= link_to t('fields.remove'), '', class: "subform_remove grey-button", style: disable_action_buttons,
        data: { message: t('fields.subform_remove_message') } if current_actions(action: ['update', 'edit', 'new', 'create']) %>
  </div>
</div>
