<div class="row">
  <%
     #TODO: This will break for nested nested subforms if we decide to have those.
     subform_section = subform.subform_section
     data_shared_subform = ""
     subform_name = subform.name
     if subform_section.shared_subform.present?
       data_shared_subform = "data-is_shared_subform=true data-shared_subform=#{subform_section.shared_subform}"
       form_group_name = subform_section.shared_subform_group
       subform_name = subform_section.shared_subform
     end
     number_of_subforms = subforms_count formObject, subform, form_group_name
     disable_action_buttons = ""
     summary_section_class = ""
     if subform.subform_section.is_summary_section
       disable_action_buttons = "style=display:none;"
       summary_section_class = "summary_section"
     end
   %>
  <div class="subforms <%=summary_section_class%> large-12 columns" id="<%= subform.name %>" <%=data_shared_subform%> data-form_group_name=<%=form_group_name.dehumanize%>>
    <% (number_of_subforms).times do |i| %>
    <div id="subform_container_<%= subform.name %>_<%= i %>" class="subform_container" data-subform_index="<%= i %>">
      <fieldset id="subform_<%= subform.name %>_<%= i %>" class="<%= subform.name %> subform no-border">

      <%= render partial: "form_section/subform_expand_collapse_header",
                 object: formObject,
                 locals: { formObject: formObject,
                           subform: subform,
                           subform_section: subform_section,
                           i: i,
                           form_group_name: form_group_name
                         }
      %>

      <%
        fk_unique_id = field_keys(subform_name, i, 'unique_id', form_group_name)
        unique_tag_name = field_tag_name(formObject, nil, fk_unique_id)
        unique_field_id = "#{subform.name.dehumanize}_#{sanitize_to_id unique_tag_name}"
        unique_field_value = field_value(formObject, nil, fk_unique_id)
      %>
      <%= hidden_field_tag(unique_tag_name,
                           field_value(formObject, nil, fk_unique_id)) %>

      <% (subform_section.fields.select {|field| field.visible? }).each do |field| %>
        <% fk = field_keys(subform_name, i, field.name, form_group_name) %>
        <%= render partial: field_template_path(field, false),
                   object: field,
                   locals: {
                     field_keys: fk,
                     formObject: formObject
                   }
        %>
      <% end %>
      </fieldset>
    </div>
    <% end %>
  </div>

  <%# Hidden subform template %>
  <div id="subform_container_<%= subform.name %>_template" class="template" style="display:none;" data-subform_index="">
    <fieldset id="subform_<%= subform.name %>_template" class="<%= subform.name %> subform no-border">
    <%= render partial: "form_section/subform_expand_collapse_header",
               object: formObject,
               locals: { formObject: formObject,
                         subform: subform,
                         subform_section: subform_section,
                         i: 'template',
                         form_group_name: form_group_name,
                         is_subform: true
                       }
    %>

    <%
      fk_unique_id = field_keys(subform.name, 'template', 'unique_id', form_group_name)
      unique_tag_name = field_tag_name(formObject, nil, fk_unique_id)
      unique_field_id = "#{subform.name.dehumanize}_#{sanitize_to_id unique_tag_name}"
      unique_field_value = ''
    %>
    <%= hidden_field_tag(unique_tag_name, '', disabled: 'disabled') %>

    <%# TODO: Render the individual fields %>
    <% (subform_section.fields.select {|field| field.visible? }).each do |field| %>
      <% fk = field_keys(subform_name, 'template', field.name, form_group_name) %>
      <%= render partial: field_template_path(field, false),
                 object: field,
                 locals: {
                   field_keys: fk,
                   value: "",
                   formObject: formObject,
                   is_subform: true
                 }
      %>
    <% end %>
    </fieldset>
  </div>

  <%# Add button %>
  <% if !subform.disabled %>
    <div class="large-12 columns text-right">
      <a id="subform_<%= subform.name %>_add_button" class="button subform_add right" <%= disable_action_buttons %>><%= t('fields.add') %></a>
    </div>
  <% end %>
  <% initial_subforms = subform_section[:initial_subforms] || 0 %>
  <% if initial_subforms > 0 && formObject.new_record? && !formObject.errors.any? && subform_section.shared_subform.blank? %>
    <% content_for :page_scripts do %>
      <% subform_section[:initial_subforms].times do %>
        $('a#subform_<%=j subform.name %>_add_button').click();
      <% end %>
    <% end %>
  <% end %>
</div>
