<%
  field_keys ||= []
  name = field_tag_name formObject, tally_field, field_keys
  field_id = "#{tally_field.form.name.dehumanize}_#{sanitize_to_id name}"
  value ||= field_value formObject, tally_field, field_keys
  value_total = value.last
  autosum_group = tally_field["autosum_group"]
%>
<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag field_id, tally_field.display_name, :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns summary_group">
    <div class="row">
      <% tally_field.tally.each_with_index do |t, i| %>
        <div class="medium-4 columns tally_item">
          <div class="row collapse">
            <div class="small-6 columns">
              <span class="postfix"><%= t.capitalize %>:</span>
            </div>
            <div class="small-6 columns">
            <%= text_field_tag name.gsub(tally_field[:name], "#{tally_field[:name]}_#{t}"), value[i], :class => 'autosum', :autosum_group => autosum_group.strip, :id => "#{field_id}_#{t}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row collapse">
      <div class="small-5 columns">
        <span class="postfix total"><%= t('total')%> <%= t(tally_field.name, :default => tally_field.display_name).downcase %>:</span>
      </div>
      <div class="small-7 columns">
        <%= text_field_tag name.gsub(tally_field[:name], "#{tally_field[:name]}_total"), value_total, :class => 'autosum_total', :autosum_group => autosum_group.strip, :id => "#{field_id}_total", readonly: true %>
      </div>
    </div>
    <% if tally_field.help_text.present? %>
      <div class="row">
        <p class="help"><%= tally_field.help_text  %></p>
      </div>
    <% end %>
  </div>
</div>
