<%
  field_keys ||= []
  name = field_tag_name formObject, text_field, field_keys
  field_id = "#{text_field.form.name.dehumanize}_#{sanitize_to_id name}"
  should_default =
    (defined?(is_subform) && is_subform) ||
    (defined?(is_modal_subform) && is_modal_subform) ||
    formObject.new_record?
  value = text_field.selected_value if text_field.selected_value.present? && should_default
  value ||= field_value formObject, text_field, field_keys
  show_hide_text_link = text_field.hidden_text_field && !formObject.new_record?
  hide_text_link_text = formObject.hidden_name ? I18n.t("cases.view_name") : I18n.t("cases.hide_name")
  hide_text_link_action = formObject.hidden_name ? "view" : "protect"
  value = I18n.t("cases.hidden_text_field_text") if text_field.hidden_text_field && formObject.hidden_name && !formObject.new_record?

  is_disabled = (text_field.hidden_text_field && formObject.hidden_name && !formObject.new_record?) || text_field.disabled
  field_tags = text_field.field_tags.present? ? text_field.field_tags : []
  disable = (defined?(is_subform) && is_subform) ? true : is_disabled

%>
<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag field_id, text_field.display_name, :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <% if text_field.required %><span class="required form-section-required">*</span><% end %>
    <%= text_field_tag name, value, :disabled => disable, :disabled_by_form => text_field.disabled, :is_disabled  => is_disabled, :id => field_id, :data => { :field_tags => field_tags }, required: text_field.required, :"data-abide-ignore" => !text_field.required || (defined?(is_subform) && is_subform) ? "" : nil %>
    <%= link_to(hide_text_link_text, hide_text_link_text.dehumanize, :class => "hidden_text_field",
        :action => hide_text_link_action) if show_hide_text_link %>
    <% if text_field.hidden_text_field && formObject.new_record? %>
      <%= check_box_tag "#{formObject.class.name.underscore.downcase}[hidden_name]", true, false %>
      <%= label_tag "#{formObject.class.name.underscore.downcase}[hidden_name]", hide_text_link_text %>
    <% end %>
    <% if text_field.help_text %><p class="help"><%= text_field.help_text %></p><% end %>
  </div>
</div>
