<%
  field_keys ||= []
  is_modal_subform ||= false
  name = field_tag_name formObject, tick_box, field_keys
  field_id = "#{tick_box.form.name.dehumanize}_#{sanitize_to_id name}"
  should_default =
    (defined?(is_subform) && is_subform) ||
    (defined?(is_modal_subform) && is_modal_subform) ||
    formObject.new_record?
  value = tick_box.selected_value if tick_box.selected_value.present? && should_default
  value ||= field_value formObject, tick_box, field_keys
  label = tick_box.tick_box_label
  is_disabled = tick_box.disabled
  disabled = (defined?(is_subform) && is_subform) ? true : is_disabled
%>

<div class="row">
  <div class="medium-4 columns">
    <%= label_tag field_id, tick_box.display_name, {:class=>"key inline"}%>
  </div>

  <div class="medium-8 columns">
    <% if tick_box.required %><span class="required form-section-required">*</span><% end %>
    <%= check_box_tag(name, "true", value == true,
                      :disabled => disabled, :is_disabled => is_disabled, :id => field_id,
                      :editable => tick_box.editable, :class => "tick_box", required: tick_box.required,
                      :"data-abide-ignore" => !tick_box.required || (defined?(is_subform) && is_subform) ? "" : nil) %>
    <%= label_tag field_id, label, class: "tick_box_label" if label.present? %>
    <% unless is_modal_subform %>
      <%= hidden_field_tag(name, "false",
                           :id => "#{field_id}_", :disabled => disabled, :is_disabled => is_disabled,
                           :"data-abide-ignore" => !tick_box.required || (defined?(is_subform) && is_subform) ? "" : nil) %>
    <% end %>
    <% if tick_box.help_text %><p class="help"><%= tick_box.help_text %></p><% end %>
  </div>
</div>
