<%
  field_keys ||= []
  name = field_tag_name formObject, tick_box, field_keys
  field_id = "#{tick_box.form.name.dehumanize}_#{sanitize_to_id name}"
  value ||= field_value formObject, tick_box, field_keys
  label = tick_box.tick_box_label
%>

<div class="row">
  <div class="medium-4 columns">
    <%= label_tag field_id, t(tick_box.name, :default => tick_box.display_name), {:class=>"key inline"}%>
  </div>

  <div class="medium-8 columns">
    <%= check_box_tag name, "true", value == true, :disabled => tick_box.editable == false ? true : false, :id => field_id, :editable => tick_box.editable, :class => "tick_box" %>
    <%= label_tag field_id, label, class: "tick_box_label" if label.present? %>
    <%= hidden_field_tag name, "false", :id => "#{field_id}_" %>
  </div>
  <% if tick_box.help_text %><p class="help"><%= tick_box.help_text %></p><% end %>
</div>
