<% content_for :breadcrumbs do %>
  <%= t('form_section.edit') %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <%= render :partial => 'form_section/sidebar', :locals => {:highlight_page => 'forms'} %>
  <div class="large-8 medium-8 columns side-tab-content-container form_page">
    <div class="side-tab-content" data-equalizer-watch>
      <%= render :partial => "form_section/new_or_edit_form_section" %>
      <%= render :partial => "form_section/edit_fields"%>
    </div>
  </div>
</div>
<script>
  var show_add_field = <%= show_add_field ||= (params[:show_add_field] || false) %>;
  var field_type = "<%=j @field.type || 'text_field' %>";
  var edit_field_mode = <%= edit_field_mode ||= false %>;
</script>
<%= content_for :page_scripts do %>
  if(show_add_field){
    $("#add_field_modal").foundation('open');
  }
<% end %>
