<div class="row">
  <div class="large-8 medium-8 columns">
    <%
       #TODO i18n and STYLE
    %>
    <h4><%= t("form_section.label") + " > #{@form_section.parent_form.humanize} > #{t(@form_section.unique_id, :default => @form_section.name)}"%></h4>
  </div>
  <div class="large-4 medium-4 columns">
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="page-content-new form_page">
      <div class="side-tab-content full_width">
        <%= render :partial => "form_section/new_or_edit_form_section" %>
         <%= render :partial => "form_section/edit_fields"%>
      </div>
    </div>
  </div>
</div>

<script>
    var show_add_field = <%= show_add_field ||= (params[:show_add_field] || false) %>;
    var field_type = "<%= @field.type || 'text_field' %>";
</script>
