<% content_for :breadcrumbs do %>
  <%= t('form_section.manage') %>
<% end %>

<% content_for :record_sub_nav do %>
  <%= link_to content_tag(:span, t("form_section.create"), class: 'create_user'), new_form_section_path({module_id: @module_id, parent_form: @parent_form}),  class: 'button' %>
  <%= select_tag :parent_form,
      options_for_select(@record_types.map{|r| [r.titleize, r]}, @parent_form),
      :onchange => "if(this.value){window.location='?module_id=#{@module_id}&parent_form='+this.value;}" %>
  <%= select_tag :module_id,
                    options_for_select(@current_modules.map{|m| [m.name, m.id]}, @primero_module.unique_id),
                    :onchange => "if(this.value){window.location='?module_id='+this.value;}" %>
  <a data-open="forms-export" class='button'><%= t("exports.forms.label") %></a>
  <div class="reveal tiny" id="forms-export" data-reveal>
    <%= render 'shared/modal_close' %>
    <div class="space"></div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= t('messages.forms_export') %>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="button-group">
        <%= link_to t("exports.forms.button"), download_forms_path(current_module: @primero_module.unique_id, parent_form: @parent_form),
          class: "button right download_forms", data: { turbolinks: false } %>
        <a class="button gray right" data-close ><%= t("buttons.cancel") %></a>
      </div>
    </div>
  </div>
<% end %>

<div class="clearfix"></div>
<div class="page-content-new row" data-equalizer>
  <%= render :partial => 'sidebar', :locals => {:highlight_page => 'forms'} %>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <% if @form_sections.present? %>
        <%= render :partial => "form_section/list_view_table", :locals => {:form_sections => @form_sections, :primero_module => @primero_module, parent_form: @parent_form} %>
      <% end %>
      <div id="modal-dialog" class="hide_element"></div>
      </div>
  </div>
</div>
