<div class="panel">
  <form id = 'index_filter_form' class = 'default-form' autocomplete = "off">
    <% if filters_to_show.include? 'name'%>
      <%= build_filter_text(t("duplicates.filter_by.name"), 'name') %>
    <% end %>
    <% if filters_to_show.include? 'name_nickname'%>
      <%= build_filter_text(t("duplicates.filter_by.name_nickname"), 'name_nickname') %>
    <% end %>
    <% if filters_to_show.include? 'name_other'%>
      <%= build_filter_text(t("duplicates.filter_by.name_other"), 'name_other') %>
    <% end %>
    <% if filters_to_show.include? 'sex'%>
      <%= build_filter_checkboxes(t("duplicates.filter_by.sex"), "sex",
                                  Lookup.values('lookup-gender', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'age'%>
      <%= build_filter_checkboxes(t("duplicates.filter_by.age_range"), 'age', @age_ranges, nil, nil, 'range') %>
    <% end %>
    <% if filters_to_show.include? 'date_of_birth'%>
      <%# build_filter_date(t("duplicates.filter_by.date_of_birth"), "date_of_birth") %>
    <% end %>
    <% if filters_to_show.include? 'Dates' %>
      <%= render "record_shared/filter_date", record: 'duplicates' %>
    <% end %>
    <% if filters_to_show.include? 'nationality'%>
      <%= build_filter_select(t("duplicates.filter_by.nationality"), "nationality",
                              Lookup.values('lookup-nationality', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'location_last'%>
      <%# TODO %>
      <%# build_filter_select(t("duplicates.filter_by.location_last"), "location_last",
                              Lookup.values('lookup-nationality', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'telephone_last'%>
      <%= build_filter_text(t("duplicates.filter_by.telephone_last"), 'telephone_last') %>
    <% end %>
    <% if filters_to_show.include? 'ethnicity'%>
      <%= build_filter_select(t("duplicates.filter_by.ethnicity"), "ethnicity",
                              Lookup.values('lookup-ethnicity', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'date_of_separation'%>
      <%# build_filter_date(t("duplicates.filter_by.date_of_separation"), "date_of_separation") %>
    <% end %>
    <% if filters_to_show.include? 'separation_cause'%>
      <%= build_filter_select(t("duplicates.filter_by.separation_cause"), "separation_cause",
                              Lookup.values('lookup-separation-cause', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'location_separation'%>
      <%# TODO %>
      <%# build_filter_select(t("duplicates.filter_by.location_separation"), "location_separation",
                              Lookup.values('lookup-nationality', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_name'%>
      <%= build_filter_text(t("duplicates.filter_by.relation_name"), 'relation_name') %>
    <% end %>
    <% if filters_to_show.include? 'relation'%>
      <%= build_filter_select(t("duplicates.filter_by.relation"), "relation",
                              Lookup.values('lookup-family-relationship', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_nickname'%>
      <%= build_filter_text(t("duplicates.filter_by.relation_nickname"), 'relation_nickname') %>
    <% end %>
    <% if filters_to_show.include? 'relation_language'%>
      <%= build_filter_select(t("duplicates.filter_by.relation_language"), "relation_language",
                              Lookup.values('lookup-language', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_religion'%>
      <%= build_filter_select(t("duplicates.filter_by.relation_religion"), "relation_religion",
                              Lookup.values('lookup-reiligion', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_ethnicity'%>
      <%= build_filter_select(t("duplicates.filter_by.relation_ethnicity"), "relation_ethnicity",
                              Lookup.values('lookup-ethnicity', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_nationality'%>
      <%= build_filter_select(t("duplicates.filter_by.relation_nationality"), "relation_nationality",
                              Lookup.values('lookup-nationality', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_address_current'%>
      <%= build_filter_text(t("duplicates.filter_by.relation_address_current"), 'relation_address_current') %>
    <% end %>
    <% if filters_to_show.include? 'relation_location_current'%>
      <%# TODO %>
      <%# build_filter_select(t("duplicates.filter_by.relation_location_current"), "relation_location_current",
                              Lookup.values('lookup-nationality', @lookups, locale: I18n.locale), false) %>
    <% end %>
    <% if filters_to_show.include? 'relation_telephone'%>
      <%= build_filter_text(t("duplicates.filter_by.relation_telephone"), 'relation_telephone') %>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
