<tr>
  <td class="id_column"><%= link_to record.display_id, case_path(record.case_id), class: 'id_link' %></td>
  <td><%= record.name %></td>
  <td><%= record.age %></td>
  <td><%= record.display_field(@sex_field, @lookups)%></td>
  <td><%= record.owned_by %></td>
  <td><%= I18n.t("potential_match.likelihood.#{record.likelihood}") %></td>
  <% if @can_display_view_page %>
    <td><a class="record-view-modal id_link" data-record="<%= record.case_id %>"><%= t('buttons.view') %></a></td>
  <% end %>
</tr>