<% if flash[:verify] %>
<div class='flash'>
  <p class='notice'><%= flash[:verify] %></p>
</div>
<% end %>
<%= form_for editable_user, :html => {:class => 'default-form'} do |f| %>
    <div class="clearfix"></div>
    <%= f.error_messages :header_tag => :h3 %>
    <% trying_to_edit_ourself = editing_ourself?(editable_user) %>

    <div class="clearfix"></div>
    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field") %> </div>
    <div class="clearfix"></div>
    <fieldset class="no-border">

    <%= resource_edit_field @user, 'full_name', 'user.full_name', 'text_field', true %>
    <%= resource_edit_field @user, 'user_name', 'login.username', 'text_field', true, !editable_user.new_record? %>
    <%#
      TODO: Lost a little tip panel for the user name: <span class="footnote"><%= t("user.no_blank") ></span> .
      Surely there is a prettier way to add that info back in using Foundation.
    %>
    <%= resource_edit_field @user, 'password', 'login.password.label', 'password_field', true %>
    <%= resource_edit_field @user, 'password_confirmation', 'login.password.re_enter', 'password_field', true %>

    <% if !trying_to_edit_ourself %>
      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <label class="key"><%= t("roles.label") %></label>
          </span>
        </div>
        <div class="medium-8 columns">
      <% @roles.each do |role| %>
          <div>
            <%= f.check_box :role_ids, {:id => "user_#{role.name}", :name => "user[role_ids][]"}, role.id, nil %>
            <%= f.label role.name %>
          </div>
      <% end %>
        </div>
        <div class="medium-1 columns"> </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <label class="key"><%= t("modules.label") %></label>
          </span>
        </div>
        <div class="medium-8 columns">
          <% @modules.each do |primero_module| %>
            <div>
                <%= f.check_box :module_ids, {id: "user_#{primero_module.name}", name: "user[module_ids][]"}, primero_module.id, nil %>
                <%= f.label primero_module.name %>
            </div>
          <% end %>
        </div>
        <div class="medium-1 columns"> </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <label class="key"><%= t("user_groups.label") %></label>
          </span>
        </div>
        <div class="medium-8 columns">
          <% @user_groups.each do |user_group| %>
            <div>
                <%= f.check_box :user_group_ids, {id: "user_#{user_group.name}", name: "user[user_group_ids][]"}, user_group.id, nil %>
                <%= f.label user_group.name %>
            </div>
          <% end %>
        </div>
        <div class="medium-1 columns"> </div>
      </div>
    <% end %>

    <%= resource_edit_field @user, 'phone', 'phone', 'text_field' %>
    <%= resource_edit_field @user, 'email', 'email', 'text_field' %>
    <%# TODO: Change organization into a single select of a list of agencies when the agency configuration is developed %>
    <%= resource_edit_field @user, 'organization', 'organization', 'text_field', true %>
    <%= resource_edit_field @user, 'position', 'position', 'text_field' %>
    <%= resource_edit_field @user, 'location', 'location', 'text_field' %>

    <% if !trying_to_edit_ourself && can?(:disable, @user) %>
        <div class="row">
          <div class="medium-3 columns">
            <span class="tool-tip-label">
              <%= f.label :disabled, t("user.disabled"), :class=>'key inline' %>
            </span>
          </div>
          <div class="medium-8 columns">
            <%= f.check_box :disabled, {}, "true", "false" %>
          </div>
          <div class="medium-1 columns"> </div>
        </div>
    <% end %>

    <%= f.hidden_field :verified, :value => true %>

    </fieldset>

    <% content_for :record_sub_nav do %>
    <!--TODO: After we got the user object in the session replace the DB query with User object-->
      <%= render_controls(@user) %>
      <% if false %>
      <%= link_to user_history_path(@user), :class=>'green-button small right' do %>
          <%= icon('clock-o') %>
          <span class="log"><%= t("user.user_action_history") %></span>
      <% end %>
      <% end %>
    <% end %>
<% end %>
