<script type="text/javascript" charset="utf-8">

    function confirmBlacklisted() {
        $(".devices :checkbox").each(function () {
            if (this.checked && !this.defaultChecked)
                return confirm(I18n.t("devices.message.disable"));
        });
        return true;
    }

    function confirmDisable() {
        var checkbox = $("#user_disabled")[0];
        if (checkbox.checked && !checkbox.defaultChecked) {
            return confirm(I18n.t("users.messages.disable"));
        }
        return true;
    }

    $(document).ready(function () {
        $("form").submit(function () {
            return (confirmDisable() && confirmBlacklisted());
        });
    });
</script>

<% if flash[:verify] %>
<div class='flash'>
  <p class='notice'><%= flash[:verify] %></p>
</div>
<% end %>
<%= form_for editable_user, :html => {:class => 'default-form'} do |f| %>
    <div class="clearfix"></div>
    <%= f.error_messages :header_tag => :h3 %>
    <% trying_to_edit_ourself = editing_ourself?(editable_user) %>

    <div class="clearfix"></div>
    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field") %> </div>
    <div class="clearfix"></div>
    <fieldset class="no-border">
    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :full_name, t("user.full_name"), :class=>'key inline' %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.text_field :full_name, :autocomplete => "off"%>
      </div>
      <div class="medium-1 columns">
        <span class="required">*</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label  :user_name, t("login.username"), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.text_field :user_name, :disabled => !editable_user.new_record?, :autocomplete => "off" %>
        <span class="footnote"><%= t("user.no_blank") %></span>
      </div>
      <div class="medium-1 columns">
        <span class="required">*</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :password, t('login.password.label'), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>
      <div class="medium-1 columns">
        <span class="required">*</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :password_confirmation,t("login.password.re_enter"), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.password_field :password_confirmation, :autocomplete => "off" %>
      </div>
      <div class="medium-1 columns">
        <span class="required">*</span>
      </div>
    </div>

    <% if !trying_to_edit_ourself %>
      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <label class="key"><%= t("roles.label") %></label>
          </span>
        </div>
        <div class="medium-8 columns">
      <% @roles.each do |role| %>
          <div>
            <%= f.check_box :role_ids, {:id => "user_#{role.name}", :name => "user[role_ids][]"}, role.id, "" %>
            <%= f.label role.name %>
          </div>
      <% end %>
        </div>
        <div class="medium-1 columns"> </div>
      </div>
    <% end %>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :phone, t("phone"), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.text_field :phone %>
      </div>
      <div class="medium-1 columns"> </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :email, t("email"), :class=>'key inline'  %>
        </span>
      </div>  
      <div class="medium-8 columns">
        <%= f.text_field :email %>
      </div>
      <div class="medium-1 columns"> </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :organisation, t("organisation"), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.text_field :organisation %>
      </div>
      <div class="medium-1 columns">
        <span class="required">*</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :position, t("position"), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.text_field :position %>
      </div>
      <div class="medium-1 columns"> </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <span class="tool-tip-label">
          <%= f.label :location, t("location"), :class=>'key inline'  %>
        </span>
      </div>
      <div class="medium-8 columns">
        <%= f.text_field :location %>
      </div>
      <div class="medium-1 columns"> </div>
    </div>

    <% if !trying_to_edit_ourself && can?(:disable, @user) %>
        <div class="row">
          <div class="medium-3 columns">
            <span class="tool-tip-label">
              <%= f.label :disabled, t("user.disabled"), :class=>'key inline' %>
            </span>
          </div>
          <div class="medium-8 columns">
            <%= f.check_box :disabled, {}, "true", "false" %>
          </div>
          <div class="medium-1 columns"> </div>
        </div>
    <% end %>

    <%= f.hidden_field :verified, :value => true %>

    </fieldset>

    <% content_for :record_sub_nav do %>
    <!--TODO: After we got the user object in the session replace the DB query with User object-->
      <%= render_controls(@user) %> 
    <% end %>
<% end %>
