<tr>
  <td>
    <%= record.full_name %>
  </td>
  <td>
    <% if can?(:read, record) %>
      <%= link_to "#{record.user_name}", user_path(record.id) , id: record.id, class: 'id_link' %>
    <% else %>
      <%= record.user_name %>
    <% end %>
  </td>
  <td><%= record.position %></td>
  <td><%= record.agency.present? ? record.agency.name : '' %></td>
</tr>
