<% content_for :record_sub_nav_controls do %>
  <% if can? :create,User %>
      <%= link_to content_tag(:span, t("users.create"), :class => 'create_user'), new_user_path, :class => 'btn green-button' %>
  <% end %>
  <%#= render 'exports/button' %>
  <%# TODO: Hiding imports so that QA doesn't get into trouble %>
  <%#= render 'imports/button' %>
<% end %>
<form class="filter_bar">
  <div class="row">
    <div class="medium-6 columns">
        <div class="float_left">
          <small class="scope_label"><%= t("users.actions.show") %></small>
          <%= select_tag :filter, options_for_select([[t("children.filer_by.active"),"active"],[ t("children.filer_by.all"), "all" ]], params[:filter]), { :onchange => "this.form.submit();"} %>
        </div>
    </div>
    <div class="medium-6 columns">
      <div class="float_left">
        <small class="scope_label"><%= t("users.sort_by.label") %></small>
        <%= select_tag :sort, options_for_select([[t("users.sort_by.full_name"),"full_name"],[ t("login.username"), "user_name"]], params[:sort]), { :onchange => "this.form.submit();"} %>
      </div>
    </div>
  </div>
</form>
<table id="list_table" class="list_table_2 dataTable in_content_area">
  <thead>
    <%= render :partial => 'users_header' %>
  </thead>
  <tbody>
    <%= render :partial => 'user', :collection => @users %>
  </tbody>
</table>
