<% content_for :breadcrumbs do %>
  <%= link_to I18n.t("users.label"), users_path %>: <%= @user.user_name %>
<% end %>


<div class="page-content-new row" data-equalizer>
  <div class="medium-3 large-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="medium-9 large-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <div class="row">
        <div class="large-12 columns">
          <%= render :partial => "editable_user", :object => @user %>
          <%= render :partial => "mobile_login_history", :object => @user if false %>
        </div>
      </div>
    </div>
  </div>
</div>