<% content_for :breadcrumbs do %>
  <div><h2><%= link_to I18n.t("users.label"), users_path %> &gt; <%= @user.user_name %></h2></div>
<% end %>
<div class="page-content-new row">
  <div class="large-4 columns">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="side-tab-content large-8 columns">
    <h1 class="no_border"><%= t("users.manage") %></h1>
    <%= link_to user_history_path(@user), :class=>'green-button small right' do %>
        <%= icon('clock-o') %>
        <span class="log"><%= t("user.user_action_history") %></span>
    <% end %>
    <div class="clearfix"></div>

    <%= render :partial => "editable_user", :object => @user %>
    <%= render :partial => "mobile_login_history", :object => @user %>
  </div>
</div>
