
<!-- to hook in / populate the users model in backbone -->
<script type="text/javascript">
    $(function () {
        window.Users.reset(<%= raw @users_details.to_json %>);
    });
</script>

<% content_for :breadcrumbs do %>
  <%= t("users.manage") %>
<% end %>

<% content_for :record_sub_nav do %>
  <%= link_to t("buttons.back"), :back, class: 'btn grey-button' %>
<% end %>

<div class="page-content-new row collapse" data-equalizer>
  <div class="large-4 medium-4 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="large-8 medium-8 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <% if @access_error.present? %>
          <strong><%= @access_error %></strong>
      <% end %>
      <% if @users.present? %>
          <%= render :partial => 'users_table' %>
          <div id="modal-dialog"/>
      <% end %>
    </div>
  </div>
</div>
