
<!-- to hook in / populate the users model in backbone -->
<!-- TODO: Is this script used? -->
<%= content_for :page_scripts do %>
  window.Users.reset(<%= raw @users_details.to_json %>);
<% end %>

<% content_for :breadcrumbs do %>
  <%= t("users.manage") %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
  <%=
    render({
      partial: 'record_shared/list_view_table',
      locals: {
        model: User,
        record: 'user',
        collection: @paginated_users,
        opts: {
          display_actions: true,
          display_filter: true,
          display_saved_search: false,
          display_create: (can? :create, User)
        }
      }
    })
  %>
  </div>
</div>
