
<!-- to hook in / populate the users model in backbone -->
<%= content_for :page_scripts do %>
  window.Users.reset(<%= raw @users_details.to_json %>);
<% end %>

<% content_for :record_sub_nav_controls do %>
  <div class="button-group">
    <% if can? :create,User %>
        <%= link_to content_tag(:span, t("users.create"), :class => 'create_user'), new_user_path, :class => 'button' %>
    <% end %>
    <%= render partial: 'settings_actions', locals: {model: User} %>
  </div>
<% end %>

<% content_for :breadcrumbs do %>
  <%= t("users.manage") %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <% if @access_error.present? %>
        <strong><%= @access_error %></strong>
      <% end %>
      <%= render partial: 'shared_configuration_resource/table_disabled_filter',
                 locals: {sort_options: [[t("users.sort_by.full_name"),"full_name"],[ t("login.username"), "user_name"], [t("users.sort_by.agency"),"organization"]]}%>
      <%= render partial: 'shared_configuration_resource/table',
                 locals: {objects: @editable_users,
                          object_class: User,
                          heading_keys: ['user.full_name', 'login.username', 'user.position' , 'user.agency'],
                          properties: ['full_name', 'user_name', 'position', 'agency_name'],
                          hide_links: [:destroy]} %>
    </div>
  </div>
</div>
