
<!-- to hook in / populate the users model in backbone -->
<script type="text/javascript">
    $(function () {
        window.Users.refresh(<%= raw @users_details.to_json %>);
    });
</script>

<h1><%= t("users.manage") %></h1>

<div class="page-content-new row">
  <div class="large-4 medium-4 columns close-side-tab">
  <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="side-tab-content large-8 medium-8 columns">
    <% if @access_error.present? %>
        <strong><%= @access_error %></strong>
    <% end %>
    <% if @users.present? %>
        <%= render :partial => 'users_table' %>
        <p><%= link_to t("buttons.back"), :back %></p>

        <div id="modal-dialog"/>
    <% end %>

  </div>

</div>
