<%= error_messages_for :password_recovery_request %>

<%= form_for @password_recovery_request, :html => {:class => "default-form", :autocomplete => "off"} do |form| %>
  <p>
    <%= form.label :user_name, t('login.notification.enter_user_name') %>
  </p>
  <p>
    <%= form.text_field :user_name %>
  </p>
  <p>
    <%= form.submit <%= t('login.password.reset') %> %>
  </p>
  <p>
    <%= t('login.notification.cannot_remember_username') %>
  </p>

<% end %>
