<%
  action ||= 'edit'
  object_name = object.class.name.underscore
  object_name_plural = object_name.pluralize
  opts ||= {}
  options = {show_side_tab: true}.merge(opts)
%>
<% content_for :breadcrumbs do %>
  <% if action == 'edit' %>
    <%= t("#{object_name}.#{action}")  %> <%= "(#{object.name})" %>
  <% else %>
    <%= t("#{object_name_plural}.label") %>
  <% end %>
<% end %>
<% content_for :record_sub_nav do %>
  <!--TODO: After we got the user object in the session replace the DB query with User object-->
  <%= render_controls(object, object_name_plural) %>
<% end %>

<div class="page-content-new row">
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
  <% if options[:show_side_tab] %>
    <%= render partial: 'shared/side_tab', locals: {highlight_page: object_name_plural} %>
  <% end %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      <div class="row">
        <div class="large-12 columns">
          <%= form_for object, html: {class: 'default-form', :multipart => true, :autocomplete => "off", "data-abide" => ''} do |f| %>
            <div class="clearfix"></div>
            <fieldset class="no-border"><%= error_messages_for(object) %></fieldset>
            <div class="clearfix"></div>
            <div class="mandate_panel"><span>*</span> <%= t("mandatory_field")%></div>
            <div class="clearfix"></div>
            <fieldset class="no-border">
              <%= render partial: "#{object_name_plural}/editable", locals: {object: object, form_builder: f} %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
