<%
  object_name = object.class.name.underscore
  object_name_plural = object_name.pluralize
%>

<% unless content_for? :breadcrumbs %>
  <% content_for :breadcrumbs do %>
    <%= t("#{object_name_plural}.view") %> (<%= object.name %>)
  <% end %>
<% end %>

<% content_for :record_sub_nav do %>
  <% if can? :update, object %>
    <%= link_to({controller: object_name_plural, action: 'edit', id: object.id}, class: 'button') do %>
      <span class="edit"><%= t("buttons.edit") %></span>
    <% end %>
  <% end %>
  <%#= render partial: 'exports/button', locals: {model: Role, instance: @role} %>
  <% if object.class.name == 'UserGroup' && (can? :destroy, object)  && !object.try(:core_resource)%>
    <%= link_to t("#{object_name_plural}.actions.delete"), object, id: object.id, class: "button", data: {confirm: t("#{object_name_plural}.messages.confirmation")}, method: :delete  %>
  <% end %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="medium-3 large-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {highlight_page: object_name_plural} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <div class="clearfix"></div>
      <fieldset class="no-border">
        <%= yield :resource_show_fields %>
      </fieldset>
    </div>
  </div>
</div>