<%
  #objects
  #object_class
  #heading_keys
  #properties
  object_name = object_class.name.underscore
  object_name_plural = object_name.pluralize
  permissions = [:show, :edit, :destroy].select{|p| can?(p, object_class)}
%>
<div class="row">
  <div class="large-12 columns">
    <div class="show_count">
      <%= t("#{object_name_plural}.actions.show_all") %> <%= objects.length %> <%= t("#{object_name_plural}.label") %></div>
    <table id="list_table" class="list_table">
      <thead>
        <tr>
          <% heading_keys.each do |heading_key| %>
            <th><%= t(heading_key) %></th>
          <% end %>
          <% permissions.each do |permission| %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% objects.each do |object| %>
          <tr id="user-row-<%= "#{object_name}-row-#{object.name}" %>">
            <% properties.each do |property| %>
              <td class=<%= property %>><%= h object.send(property) %>
            <% end %>
            <% permissions.each do |permission| %>
              <% if permission != :destroy %>
                <td>
                  <%= link_to t("#{object_name_plural}.actions.#{permission.to_s}"), controller: object_name_plural, action: permission.to_s, id: object %>
                </td>
              <% else %>
                <td>
                  <%= link_to t("#{object_name_plural}.actions.delete"), object, data: {confirm: t("#{object_name_plural}.messages.confirmation")}, method: :delete %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>