<ul class="menu simple align-right links">
  <% unless current_user.nil? %>
    <li>
      <%= t("header.logged_in_as") %> <%= current_user.user_name %>
    </li>
    <li>
      <%= link_to t("header.logout"), destroy_user_session_path, id: "logout" %>
    </li>
    <li>
      <%= link_to t("header.my_account"), user_path(current_user.id) %>
    </li>
  <% end %>
  <li>
    <%= link_to t("header.contact"), contact_information_path("administrator") %>
  </li>
  <li>
    <%= link_to content_tag(:span, t('home.language')), '', class: 'disabled', id: 'lang-toggle-disabled' %>
    <ul id="lang-toggle" class="dropdown menu" data-dropdown-menu>
      <li class="init_btn">
        <%= link_to content_tag(:span, t('home.language')), '', class: 'action_btn' %>
        <ul class="menu">
          <% Primero::Application::locales.each do |new_locale| %>
            <li>
              <%= link_to t("home.#{new_locale}"), url_for(params.merge({ locale: new_locale })), data: { turbolinks: false } %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </li>
</ul>
