<div class="contain-to-grid sticky">
  <% if logged_in? %>
    <nav class="top-bar" data-topbar>
      <div class="row">
        <div class="large-12 columns">
          <section class="top-bar-section">
            <% model = controller.model_class %>
            <% if [Child, TracingRequest, Incident].include? model %>
              <ul class="quicksearch right">
                <% if can? :read, model %>
                  <li class="has-form">
                    <%= form_tag path_for_model(model), :method => :get, :id => "search_form" do %>
                      <div class="row collapse">
                        <div class="large-9 small-10 columns">
                          <%= text_field_tag 'query', params[:query], placeholder: 'SEARCH' %>
                        </div>
                        <div class="large-3 small-2 columns">
                          <%= button_tag  :action => path_for_model(model), :method => "get" do %>
                          <%= icon('angle-right') %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <ul class="left">
              <li><%= link_to t("navigation.home"), root_path, class: current_page(root_path) %></li>
              <% if can? :read, Child %>
                <li><%= link_to t("navigation.cases"), cases_path, class: current_page(cases_path) %></li>
              <% end  %>
              <% if can? :read, TracingRequest %>
                <li><%= link_to t("navigation.tracing_request"), tracing_requests_path, class: current_page(tracing_requests_path) %></li>
              <% end  %>
              <% if can? :read, Incident %>
                <li><%= link_to t("navigation.incidents"), incidents_path, class: current_page(incidents_path) %></li>
              <% end  %>
              <% if current_user_name==nil or can? :manage, FormSection %>
                <li><%= link_to t("navigation.forms"), form_sections_path, class: current_page(form_sections_path) %></li>
              <% end %>
              <% if can? :read, User or can? :show, Role %>
                <li><%= link_to t("navigation.users"), users_path %></li>
              <% end %>
              <% if can?(:read, Device) or can?(:read, Replication) %>
                <li><%= link_to t("navigation.replications"), replications_path, class: current_page(replications_path) %></li>
              <% end %>
              <% if can? :read, Report%>
                <li><%= link_to t("navigation.reports"), reports_path, class: current_page(reports_path) %></li>
              <% end %>
            </ul>
          </section>
        </div>
      </div>
    </nav>
  <% end %>
</div>
