<nav id="main">
  <div class="row align-middle">
    <div class="large-9 columns">
      <% model = controller.model_class %>
      <% if logged_in? %>
        <ul class="menu">
          <li>
            <a class="<%= current_menu('root') %>" href="<%= root_path %>" title="<%= t('navigation.home') %>">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <% if can? :index, Task %>
            <li>
              <a class="<%= current_menu('tasks') %>" href="<%= tasks_path %>" title="<%= t('navigation.tasks') %>" >
                <i class="fa fa-calendar"></i>
              </a>
            </li>
          <% end %>
          <% if can? :read, Child %>
            <li><%= link_to t("navigation.cases"), cases_path(scope: {:child_status => "list||#{Record::STATUS_OPEN}", :record_state => "list||true"}), class: current_menu("cases") %></li>
          <% end  %>
          <% if can? :read, TracingRequest %>
            <li><%= link_to t("navigation.tracing_request"), tracing_requests_path(scope: {:inquiry_status => "list||#{Record::STATUS_OPEN}", :record_state => "list||true"}), class: current_menu("tracings") %></li>
          <% end  %>
          <% if can? :read, Incident %>
            <li><%= link_to t("navigation.incidents"), incidents_path(scope: {:status => "list||#{Record::STATUS_OPEN}", :record_state => "list||true"}), class: current_menu("incidents") %></li>
          <% end  %>
          <% if can? :read, PotentialMatch %>
            <li><%= link_to t("navigation.potential_match"), potential_matches_path(:type => "tracing_request"), class: current_menu("matches") %></li>
          <% end  %>
          <% if can? :read, Duplicate %>
            <li><%= link_to t("navigation.duplicates"), duplicates_path(:record_type => "case"), class: current_menu("duplicates") %></li>
          <% end  %>
          <% if current_user_name==nil or can? :manage, FormSection %>
            <li><%= link_to t("navigation.forms"), form_sections_path, class: current_menu("forms") %></li>
          <% end %>
          <%# We use UserGroup here instead of User because all users have access to manage themselves. %>
          <%# Therefore... can? :edit, User always returns true %>
          <%# TODO - verify that functionality is expected %>
          <%# TODO - move this Settings if/elsif logic to a partial %>
          <% if can?(:edit, Role) || can?(:edit, UserGroup)%>
            <li>
              <a class="<%= current_menu('setting') %>"  href="<%= users_path %>" title="<%= t('navigation.users') %>">
                <i class="fa fa-cogs"></i>
              </a>
            </li>
          <% elsif can?(:manage, MatchingConfiguration) %>
            <li>
              <a class="<%= current_menu('setting') %>"  href="<%= edit_matching_configuration_path("administrator") %>" title="<%= t('navigation.users') %>">
                <i class="fa fa-cogs"></i>
              </a>
            </li>
          <% elsif can?(:index, AuditLog) %>
            <li>
              <a class="<%= current_menu('setting') %>"  href="<%= audit_logs_path %>" title="<%= t('navigation.users') %>">
                <i class="fa fa-cogs"></i>
              </a>
            </li>
          <% end %>
          <% if can?(:group_read, Report) || can?(:read, Report) %>
            <li>
              <a class="<%= current_menu('reports') %>" href="<%= reports_path %>" title="<%= t('navigation.reports') %>">
                <i class="fa fa-bar-chart"></i>
              </a>
            </li>
          <% end %>
          <% if can?(:index, BulkExport) %>
            <li>
              <a class="<%= current_menu('bulk_exports') %>" href="<%= bulk_exports_path %>" title="<%= t('navigation.bulk_exports') %>">
                <i class="fa fa-download"></i>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="large-3 columns no-padding-left">
      <% if [Child, TracingRequest, Incident].include? model %>
        <% if can? :read, model %>
            <%= form_tag path_for_model(model), :method => :get, :id => "search_form", :autocomplete => "off" do %>
              <div class="input-group">
                <%= text_field_tag 'query', params[:query], placeholder: t("navigation.search").upcase, class: 'input-group-field' %>
                <% if can? :search_owned_by_others, model %>
                  <%= hidden_field_tag 'id_search', true %>
                <% end %>
                <div class="input-group-button">
                  <%= button_tag  :action => path_for_model(model), :method => "get", class: 'button' do %>
                    <% if @page_direction == 'rtl' %>
                      <%= icon('angle-left') %>
                    <% else %>
                      <%= icon('angle-right') %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
