<div class="contain-to-grid sticky">
  <% if logged_in? %>
    <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
            <% model = controller.model_class %>
            <ul class="left">
              <li><%= link_to t("navigation.home"), root_path, class: current_menu("root") %></li>
              <% if can? :read, Child %>
                <li><%= link_to t("navigation.cases"), cases_path(scope: {:child_status => "list||Open"}), class: current_menu("cases") %></li>
              <% end  %>
              <% if can? :read, TracingRequest %>
                <li><%= link_to t("navigation.tracing_request"), tracing_requests_path, class: current_menu("tracings") %></li>
              <% end  %>
              <% if can? :read, Incident %>
                <li><%= link_to t("navigation.incidents"), incidents_path, class: current_menu("incidents") %></li>
              <% end  %>
              <% if current_user_name==nil or can? :manage, FormSection %>
                <li><%= link_to t("navigation.forms"), form_sections_path, class: current_menu("forms") %></li>
              <% end %>
              <%# if can? :read, User or can? :show, Role %>
              <%# TODO: This auth check will need to be tightened up. %>
              <% if can? :edit, Role%>
                <li><%= link_to t("navigation.users"), users_path, class: current_menu("setting") %></li>
              <% end %>
              <% if can?(:read, Device) or can?(:read, Replication) %>
                <li><%= link_to t("navigation.replications"), replications_path, class: current_menu("replications") %></li>
              <% end %>
              <% if can? :read, Report%>
                <li><%= link_to t("navigation.reports"), reports_path, class: current_menu("reports") %></li>
              <% end %>
            </ul>
            <% if [Child, TracingRequest, Incident].include? model %>
              <ul class="quicksearch right">
                <% if can? :read, model %>
                  <li class="has-form">
                    <%= form_tag path_for_model(model), :method => :get, :id => "search_form", :autocomplete => "off" do %>
                      <div class="row collapse">
                        <div class="large-9 small-10 columns">
                          <%= text_field_tag 'query', params[:query], placeholder: 'SEARCH' %>
                        </div>
                        <div class="large-3 small-2 columns">
                          <%= button_tag  :action => path_for_model(model), :method => "get" do %>
                          <%= icon('angle-right') %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </section>
    </nav>
  <% end %>
</div>
