<div class="record_controls_container <%= 'extend_controls' if content_for?(:record_status) %>" data-top="49" data-bottom="120">
  <div class="record_controls row align-middle">
    <div class="large-3 medium-3 columns controls-left">
      <h4><%= yield :breadcrumbs %></h4>
    </div>
    <div class="large-9 medium-9 columns controls-right">
      <div class="row collapse">
        <div class="large-12 columns">
          <div class="row collapse">
            <%= yield :record_sub_nav %>
            <%= yield :record_sub_nav_controls %>
          </div>
          <% if content_for?(:record_status) %>
            <div class="row">
              <%= yield :record_status %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>