 <div class="side-tab static_links" data-equalizer-watch>
  <div class="side-nav-container">
    <div class="scrolling_indicator up"><%= t('messages.scroll_up') %></div>
    <ul class="side-nav">
      <%# We use UserGroup here instead of User because all users have access to manage themselves. %>
      <%# Therefore... can? :edit, User always returns true %>
      <li class=<%= (highlight_page == 'users' ? 'current' : '') %>>
        <%= link_to I18n.t("users.label"), users_path if can? :edit, Role or can? :edit, UserGroup%></li>
      <li class=<%= (highlight_page == 'agencies' ? 'current' : '') %>>
        <%= link_to I18n.t("agencies.label"), agencies_path if can?(:index, Agency)  %></li>
      <li class=<%= (highlight_page == 'roles' ? 'current' : '') %>>
      	<%= link_to t("roles.label"), roles_path if can?(:index, Role) %></li>
      <li class=<%= (highlight_page == 'user_groups' ? 'current' : '') %>>
        <%= link_to t("user_groups.label"), user_groups_path if can?(:index, UserGroup) %></li>
      <li class=<%= (highlight_page == 'primero_programs' ? 'current' : '') %>>
        <%= link_to t("primero_programs.label"), primero_programs_path if can?(:index, PrimeroProgram) %></li>
      <li class=<%= (highlight_page == 'primero_modules' ? 'current' : '') %>>
        <%= link_to t("primero_modules.label"), primero_modules_path if can?(:index, PrimeroModule) %></li>
      <li class=<%= (highlight_page == 'contact_information' ? 'current' : '') %>>
        <%= link_to t("contact.info_label"), edit_contact_information_path("administrator") if can?(:edit, ContactInformation) %></li>
      <li class=<%= (highlight_page == 'system_settings' ? 'current' : '') %>>
        <%= link_to t("system_settings.label"), edit_system_setting_path("administrator") if can?(:manage, SystemSettings) %></li>
      <li class=<%= (highlight_page == 'audit_logs' ? 'current' : '') %>>
        <%= link_to t("navigation.audit_logs"), audit_logs_path if can?(:index, AuditLog) %></li>
      <li class=<%= (highlight_page == 'matching_configurations' ? 'current' : '') %>>
        <%= link_to I18n.t("navigation.matching_configuration"), edit_matching_configuration_path("administrator") if can?(:manage, MatchingConfiguration)%></li>
    </ul>
    <div class="scrolling_indicator down"><%= t('messages.scroll_down') %></div>
  </div>
 </div>
