<div class="panel">
  <div class="panel_header">
    <h4><%= t('dashboard.cases_by_task_overdue') %></h4>
    <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header">
      <thead>
      <tr>
        <th><%= t('dashboard.case_worker') %></th>
        <th><%= t('dashboard.assessment') %></th>
        <th><%= t('dashboard.case_plan') %></th>
        <th><%= t('dashboard.follow_up') %></th>
        <th><%= t('dashboard.services') %></th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="panel_content no-padding panel_main">
    <% if stats.present? %>
      <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header extra">
        <tbody>
          <% stats.each do |k, val| %>
            <tr>
              <td><%= k %></td>
              <td>
                <%= stat_link(val[:assessment], { filter: index_filters([
                    "child_status=#{Record::STATUS_OPEN}",
                    "owned_by=#{k}",
                    'record_state=true',
                    'task_assessment_due'
                  ]
                )}, model) %>
              </td>
              <td>
                <%= stat_link(val[:case_plan], { filter: index_filters([
                    "child_status=#{Record::STATUS_OPEN}",
                    "owned_by=#{k}",
                    'record_state=true',
                    'task_case_plan_due'
                  ]
                )}, model) %>
              </td>
              <td>
                <%= stat_link(val[:follow_up], { filter: index_filters([
                    "child_status=#{Record::STATUS_OPEN}",
                    "owned_by=#{k}",
                    'record_state=true',
                    'task_followup_due'
                  ]
                )}, model) %>
              </td>
              <td>
                <%= stat_link(val[:services], { filter: index_filters([
                    "child_status=#{Record::STATUS_OPEN}",
                    "owned_by=#{k}",
                    'record_state=true',
                    'task_services_due'
                  ]
                )}, model) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="no-content"><%= t('dashboard.no_case_stats') %></p>
    <% end %>
  </div>
</div>