<div class="panel">
 <div class="panel_header">
  <h4><%= t("dashboard.status_of_cases") %></h4>
 </div>
 <div class="panel_content no-padding panel_main">
 <% if records %>
  <table cellspacing="0" cellpadding="0" class="table-floating-header">
    <thead>
      <tr>
        <th>
          <%= t("dashboard.case_worker") %>
        </th>
        <th>
          <%= t("dashboard.total_cases") %>
        </th>
        <th>
          <%= t("dashboard.cases_this_week") %>
        </th>
        <th>
          <%= t("dashboard.missed_cases") %>
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
        </th>
     </tr>
    </thead>
    <tbody>
      <% records.each do |u, s| %>
        <tr>
          <td class="id_column"><%= link_to u, cases_path(scope: { owned_by: "list||#{u}" }), class: 'id_link' %></td>
          <td><%= s[:total_cases] || 0 %></td>
          <td><%= s[:cases_this_week] || 0 %></td>
          <td><%= s[:cases_overdue] || 0 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p><%= t("dashboard.no_caseworker_data") %></p>
  <% end %>
 </div>
</div>