<div class="dashboard-group">
  <h4 class="stat_heading"><%= t("dashboard.case_stats") %></h4>
  <% if @stats.present? %>
    <div class="row align-middle large-up-5">
      <%= render 'case_manager_totals', stats: @aggregated_case_manager_stats[:manager_totals], model: model %>
      <%= render 'case_count_transfers_awaiting', stats: @aggregated_case_manager_stats[:transfer_awaiting], model: model %>
      <%= render 'case_count_transfers_by_status', stats: @aggregated_case_manager_stats[:transfer_status], model: model %>
    </div>

    <% if @display_cases_to_assign %>
    <div class="row">
      <div class="column">
        <h5 class="stat_heading"><%= t('dashboard.cases_to_assign') %></h5>
        <%= render 'case_manager_cases_to_assign', stats: @aggregated_case_manager_stats[:cases_to_assign], model: model %>
        <%= render 'case_manager_cases_to_assign_overdue', stats: @aggregated_case_manager_stats[:cases_to_assign_overdue], model: model %>
      </div>
    </div>
    <% end %>

    <div class="row">
      <% if @display_assessment %>
        <div class="column">
          <h5 class="stat_heading"><%= t('dashboard.case_stat_by_assessment_level') %></h5>
          <%= render 'case_manager_totals_by_risk_level', stats: @aggregated_case_manager_stats[:risk_levels], model: model %>
        </div>
      <% end %>
      <% if @display_approvals %>
        <div class="column">
          <h5 class="stat_heading"><%= t("dashboard.approvals") %></h5>
          <%= render 'case_manager_totals_by_approval_type', stats: @aggregated_case_manager_stats[:approval_types], model: model %>
        </div>
      <% end %>
    </div>

    <%= render 'case_manager_workflow', stats: @aggregated_case_manager_stats[:workflow_totals], model: model if @display_cases_by_workflow  %>
    <%= render 'case_manager_task_overdue', stats: @aggregated_case_manager_stats[:task_overdue], model: model if @display_cases_by_task_overdue  %>
    <%= render 'case_manager_transfers', stats: @aggregated_case_manager_stats[:manager_transfers], model: model if @display_transfers_by_socal_worker %>
    <%= render 'case_manager_totals_by_worker', stats: @aggregated_case_manager_stats[:worker_totals], model: model if @display_cases_by_socal_worker %>
    <%= render 'case_manager_totals_by_referred', stats: @aggregated_case_manager_stats[:referred_totals], model: model if @display_referrals_by_socal_worker %>
  <% else %>
    <p class="no-content"><%= t('dashboard.no_case_stats') %></p>
  <% end %>
</div>
