<div class="panel dash_protection_concerns">
  <div class="panel_header">
    <h4>
      <%= t('dashboard.protection_concerns') %>
      <% if @display_protection_concerns_by_location %>
        <div class="protection_concerns_location_select">
          <%= select_tag("protection_concerns_location", options_for_select(@options_reporting_locations), include_blank: true) %>
        </div>
      <% end %>
    </h4>
    <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header">
      <thead>
      <tr>
        <th>
          <%= t('dashboard.protection_concern').html_safe %>
        </th>
        <th>
          <%= t('dashboard.all_cases').html_safe %>
        </th>
        <th>
          <%= t('dashboard.open_cases').html_safe %>
        </th>
        <th>
          <%= t('dashboard.new_this_week').html_safe %>
        </th>
        <th>
          <%= t('dashboard.closed_this_week').html_safe %>
        </th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="panel_content no-padding panel_main">
    <%# TODO - i18n protection_concern_stats %>
    <% if protection_concern_stats.present? %>
      <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header extra">
        <tbody>
        <% protection_concern_stats.each do |key, val| %>
          <tr>
            <td class="id_column"><%= val[:display_text] || key %></td>
            <td>
              <%=
                build_reporting_location_stat_link(val[:totals],
                                                   ["child_status=#{Record::STATUS_OPEN}||#{Child::STATUS_CLOSED}",
                                                    'record_state=true', "protection_concern=#{key}"],
                                                   model, reporting_location, admin_level)
              %>
            </td>
            <td>
              <%=
                build_reporting_location_stat_link(val[:open],
                                                   ["child_status=#{Record::STATUS_OPEN}", 'record_state=true', "protection_concern=#{key}"],
                                                   model, reporting_location, admin_level)
              %>
            </td>
            <td>
              <%= build_reporting_location_stat_link(val[:new_this_week],
                                                     ["child_status=#{Record::STATUS_OPEN}", 'record_state=true', "created_at=#{this_week}", "protection_concern=#{key}"],
                                                     model, reporting_location, admin_level)
              %>
            </td>
            <td>
              <%=
                build_reporting_location_stat_link(val[:closed_this_week],
                                                   ["child_status=#{Record::STATUS_CLOSED}", 'record_state=true', "date_closure=#{this_week}", "protection_concern=#{key}"],
                                                   model, reporting_location, admin_level)
              %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="no-content"><%= t('dashboard.no_case_stats') %></p>
    <% end %>
  </div>
</div>