<div class="dashboard-group dash_case_worker">
<% if @stats.present? %>
  <h4 class="stat_heading"><%= t("dashboard.case_stats") %></h4>
  <div class="row align-middle large-up-5">
    <%= render 'case_count_new_totals', stats: @stats, model: model %>
    <%= render 'case_count_transfers_awaiting.html', stats: @stats, model: model %>
    <%= render 'case_count_new_incident', stats: @stats, model: model %>
    <%= render 'case_count_services_implemented', stats: @stats, model: model %>
    <%= render 'case_count_referred', stats: @stats, model: model if @display_assessment %>
    <%= render 'case_count_new_service_provision', stats: @stats, model: model if @display_service_provisions %>
    <% if can?(Transition::TYPE_TRANSFER.to_sym(), model) %>
      <%= render 'case_count_transfers_by_status', stats: @stats, model: model %>
    <% end %>
  </div>

  <div class="row">
    <% if @display_assessment %>
      <div class="column">
        <h5 class="stat_heading"><%= t('dashboard.case_stat_by_assessment_level') %></h5>
        <%= render 'case_count_risk_totals', stats: @stats, model: model %>
      </div>
    <% end %>
    <% if @display_approvals && @can_approvals %>
      <div class="large-7 column">
        <h5 class="stat_heading"><%= t("dashboard.case_stat_by_approval_type") %></h5>
        <%= render 'case_count_by_approval_type', stats: @stats, model: model %>
      </div>
    <% end %>
  </div>

  <h4 class="stat_heading"><%= t("dashboard.response").html_safe %></h4>
  <%= render 'case_count_risk_response', stats_total: @service_stats_totals, stats_near: @service_stats_near, stats_overdue: @service_stats_overdue, model: model %>
<% else %>
  <p class="no-content"><%= t('dashboard.no_case_stats') %></p>
<% end %>
 </div>