<% if @stats.present? %>
  <div class="dashboard-group">
    <h4 class="stat_heading"><%= t("dashboard.case_stats") %></h4>
    <div class="row align-middle">
      <%= render 'case_count_new_totals', stats: @stats, model: model %>
      <%= render 'case_count_transfers_by_status', stats: @stats, model: model %>
    </div>

    <h5 class="stat_heading"><%= t('dashboard.case_stat_by_assessment_level') %></h5>
    <%= render 'case_count_risk_totals', stats: @stats, model: model %>
  </div>
  <% if @display_assessment %>
    <div class="dashboard-group">
      <h4 class="stat_heading"><%= t("dashboard.case_stat_referrals") %></h4>
      <div class="row align-middle">
        <%= render 'case_count_referred', stats: @stats, model: model %>
      </div>
    </div>
  <% end %>
<% end %>


<div class="panel dash_case_worker">
  <div class="panel_header">

  </div>
  <div class="panel_content no-padding panel_main">
    <% if @stats.present? %>
    <table cellspacing="0" cellpadding="0" class="table-floating-header dashboard_counts">
      <tbody>
        <tr>
          <td>
            <div class="stat_title"><%= t("dashboard.case_stats") %></div>


          </td>
        </tr>
        <% if @display_approvals && @can_approvals %>
          <tr>
            <td>
              <div class="stat_title"><%= t("dashboard.case_stat_by_approval_type") %></div>
              <%= render 'case_count_by_approval_type', stats: @stats, model: model %>
            </td>
          </tr>
        <% end %>
        <% if @display_assessment %>
          <tr>
            <td>
              <div class="stat_title"></div>

            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <div class="stat_title"></div>

          </td>
        </tr>
      </tbody>
    </table>
    <% else %>
      <p class="no-content"><%= t('dashboard.no_case_stats') %></p>
    <% end %>
  </div>
</div>
