<div>
  <%= I18n.translate('dashboard.count_risk_level_total',
                     case_count(
                         {
                            name: :risk_level,
                            stat: :high_total,
                            filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                   "risk_level=#{Child::RISK_LEVEL_HIGH}", 'record_state=true']),
                            stat_type: 'high'
                         }, stats, model)).html_safe %>
  <%= I18n.translate('dashboard.count_risk_level_new',
                     case_count(
                         {
                            name: :risk_level,
                            stat: :high,
                            filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                   "risk_level=#{Child::RISK_LEVEL_HIGH}", 'new_other', 'record_state=true']),
                            stat_type: 'high'
                         }, stats, model)).html_safe %>
</div>
<div>
  <%= I18n.translate('dashboard.count_risk_level_total',
                     case_count(
                         {
                             name: :risk_level,
                             stat: :medium_total,
                             filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                    "risk_level=#{Child::RISK_LEVEL_MEDIUM}", 'record_state=true']),
                             stat_type: 'medium'
                         }, stats, model)).html_safe %>
  <%= I18n.translate('dashboard.count_risk_level_new',
                     case_count(
                         {
                             name: :risk_level,
                             stat: :medium,
                             filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                    "risk_level=#{Child::RISK_LEVEL_MEDIUM}", 'new_other', 'record_state=true']),
                             stat_type: 'medium'
                         }, stats, model)).html_safe %>
</div>
<div>
  <%= I18n.translate('dashboard.count_risk_level_total',
                     case_count(
                         {
                             name: :risk_level,
                             stat: :low_total,
                             filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                    "risk_level=#{Child::RISK_LEVEL_LOW}", 'record_state=true']),
                             stat_type: 'low'
                         }, stats, model)).html_safe %>
  <%= I18n.translate('dashboard.count_risk_level_new',
                     case_count(
                         {
                             name: :risk_level,
                             stat: :low,
                             filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                    "risk_level=#{Child::RISK_LEVEL_LOW}", 'new_other', 'record_state=true']),
                             stat_type: 'low'
                         }, stats, model)).html_safe %>
</div>
