<% if false %>
<% if @can_approval_bia %>
  <div>
    <%= I18n.translate("dashboard.count_pending_approval_total",
                       case_count(
                         {
                           name: :approval_status_bia,
                           stat: :pending,
                           filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                  "approval_status_bia=#{Child::APPROVAL_STATUS_PENDING}",
                                                  'record_state=true']),
                           stat_type: "#{I18n.t('approvals.bia')}"
                         }, stats, model)).html_safe %>
    <%= I18n.translate("dashboard.count_rejected_approval_total",
                       case_count(
                         {
                           name: :approval_status_bia,
                           stat: :rejected,
                           filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                  "approval_status_bia=#{Child::APPROVAL_STATUS_REJECTED}",
                                                  'record_state=true']),
                           stat_type: "#{I18n.t('approvals.bia')}"
                         }, stats, model)).html_safe %>
  </div>
<% end %>
<% if @can_approval_case_plan %>
  <div>
    <%= I18n.translate("dashboard.count_pending_approval_total",
                       case_count(
                         {
                           name: :approval_status_case_plan,
                           stat: :pending,
                           filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                  "approval_status_case_plan=#{Child::APPROVAL_STATUS_PENDING}",
                                                  'record_state=true']),
                           stat_type: "#{I18n.t('approvals.case_plan')}"
                         }, stats, model)).html_safe %>
    <%= I18n.translate("dashboard.count_rejected_approval_total",
                       case_count(
                         {
                           name: :approval_status_case_plan,
                           stat: :rejected,
                           filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                  "approval_status_case_plan=#{Child::APPROVAL_STATUS_REJECTED}",
                                                  'record_state=true']),
                           stat_type: "#{I18n.t('approvals.case_plan')}"
                         }, stats, model)).html_safe %>
  </div>
<% end %>
<% if @can_approval_closure %>
  <div>
    <%= I18n.translate("dashboard.count_pending_approval_total",
                       case_count(
                         {
                           name: :approval_status_closure,
                           stat: :pending,
                           filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                  "approval_status_closure=#{Child::APPROVAL_STATUS_PENDING}",
                                                  'record_state=true']),
                           stat_type: "#{I18n.t('approvals.closure')}"
                         }, stats, model)).html_safe %>
    <%= I18n.translate("dashboard.count_rejected_approval_total",
                       case_count(
                         {
                           name: :approval_status_closure,
                           stat: :rejected,
                           filter: index_filters(["child_status=#{Record::STATUS_OPEN}",
                                                  "approval_status_closure=#{Child::APPROVAL_STATUS_REJECTED}",
                                                  'record_state=true']),
                           stat_type: "#{I18n.t('approvals.closure')}"
                         }, stats, model)).html_safe %>
  </div>
<% end %>
<div>
  <% if @can_approval_bia %>
    <%= I18n.translate("dashboard.you_have") %>
    <%= I18n.translate("dashboard.count_new_bia_approvals",
                       case_count(
                         {
                           name: :approval_status_bia,
                           stat: :new,
                           stat_type: "#{I18n.t('approvals.bia')}",
                           filter: index_filters(
                             ["child_status=#{Record::STATUS_OPEN}",
                              "approval_status_bia=#{Child::APPROVAL_STATUS_APPROVED}",
                              "bia_approved_date=#{last_ten_days}",
                              'record_state=true']
                           )
                         }, stats, model)).html_safe %>
  <% end %>
  <% if @can_approval_case_plan %>
    <% if @can_approval_bia %>
      <%= ", " %>
    <% else %>
      <%= I18n.translate("dashboard.you_have") %>
    <% end %>
    <%= I18n.translate("dashboard.count_new_case_plan_approvals",
                       case_count(
                         {
                           name: :approval_status_case_plan,
                           stat: :new,
                           stat_type: "#{I18n.t('approvals.case_plan')}",
                           filter: index_filters(
                             ["child_status=#{Record::STATUS_OPEN}",
                              "approval_status_case_plan=#{Child::APPROVAL_STATUS_APPROVED}",
                              "case_plan_approved_date=#{last_ten_days}",
                              'record_state=true']
                           )
                         }, stats, model)).html_safe %>
  <% end %>
  <% if @can_approval_closure %>
    <% if @can_approval_bia || @can_approval_case_plan %>
      <%= " #{I18n.translate("dashboard.and")} " %>
    <% else %>
      <%= I18n.translate("dashboard.you_have") %>
    <% end %>
    <%= I18n.translate("dashboard.count_new_closure_approvals",
                       case_count(
                         {
                           name: :approval_status_closure,
                           stat: :new,
                           stat_type: "#{I18n.t('approvals.closure')}",
                           filter: index_filters(
                             ["child_status=#{Record::STATUS_OPEN}",
                              "approval_status_closure=#{Child::APPROVAL_STATUS_APPROVED}",
                              "closure_approved_date=#{last_ten_days}",
                              'record_state=true']
                           )
                         }, stats, model)).html_safe %>
  <% end %>
</div>
<% end %>

<%= display_stat_detailed({
  name: :approval_status_bia,
  stat: nil,
  filters: [],
  additional_details: [
    {
      stat: :pending,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_PENDING}",
        'record_state=true'
      ],
      text: t('dashboard.pending')
    },
    {
      stat: :pending,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_REJECTED}",
        'record_state=true'
      ],
      text: t('dashboard.rejected')
    },
    {
      stat: :new,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_APPROVED}",
        "bia_approved_date=#{last_ten_days}",
        'record_state=true'
      ],
      text: t('dashboard.new')
    }
  ],
  stats: stats,
  model: model,
  text: t('approvals.bia'),
}) %>

<%= display_stat_detailed({
  name: :approval_status_case_plan,
  stat: nil,
  filters: [],
  additional_details: [
    {
      stat: :pending,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_PENDING}",
        'record_state=true'
      ],
      text: t('dashboard.pending')
    },
    {
      stat: :pending,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_REJECTED}",
        'record_state=true'
      ],
      text: t('dashboard.rejected')
    },
    {
      stat: :new,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_case_plan=#{Child::APPROVAL_STATUS_APPROVED}",
        "case_plan_approved_date=#{last_ten_days}",
        'record_state=true'
      ],
      text: t('dashboard.new')
    }
  ],
  stats: stats,
  model: model,
  text: t('approvals.case_plan'),
}) %>

<%= display_stat_detailed({
  name: :approval_status_closure,
  stat: nil,
  filters: [],
  additional_details: [
    {
      stat: :pending,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_PENDING}",
        'record_state=true'
      ],
      text: t('dashboard.pending')
    },
    {
      stat: :pending,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_bia=#{Child::APPROVAL_STATUS_REJECTED}",
        'record_state=true'
      ],
      text: t('dashboard.rejected')
    },
    {
      stat: :new,
      filters: [
        "child_status=#{Record::STATUS_OPEN}",
        "approval_status_closure=#{Child::APPROVAL_STATUS_APPROVED}",
        "closure_approved_date=#{last_ten_days}",
        'record_state=true'
      ],
      text: t('dashboard.new')
    }
  ],
  stats: stats,
  model: model,
  text: t('approvals.closure'),
}) %>

