<div class="panel">
 <div class="panel_header">
  <h4><%= t("dashboard.flagged_by_me") %></h4>
 </div>
 <div class="panel_content panel_xl">
  <ul>
    <% if flagged_by_me.present? %>
      <% flagged_by_me.each do |r| %>
        <li>
          <%= link_to link_dashboard_title(r), link_dashboard_path(r) %>
          <p><%= r[:message] %></p>
          <small><%= t('dashboard.flagged_by') %> <%= r[:flagged_by] || t('dashboard.system_user') %></small>
        </li>
      <% end %>
    <% else %>
      <li class="no-content"><%= t("dashboard.no_flagged_#{model.name.underscore}") %></li>
    <% end %>
  </ul>
   <% if flagged_by_me.present? %>
     <%= link_to t("dashboard.link_see_all"), index_link_dashboard_path(model), class: 'uppercase more' %>
   <% end %>
 </div>
</div>
