<div class="panel dash_matching_results">
  <div class="panel_header">
    <h4><%= t('dashboard.match_result').html_safe  %></h4>
    <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header">
      <thead>
      <tr>
        <th>
          <%= t('dashboard.score_range').html_safe %>
        </th>
        <th>
          <%= t('dashboard.range4').html_safe %>
        </th>
        <th>
          <%= t('dashboard.range4_8').html_safe %>
        </th>
        <th>
          <%= t('dashboard.range8_12').html_safe %>
        </th>
        <th>
          <%= t('dashboard.range12+').html_safe %>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= t('dashboard.case_stats').html_safe %></td>
        <td><%= match_stats[:range_case_1].to_i %></td>
        <td><%= match_stats[:range_case_2].to_i %></td>
        <td><%= match_stats[:range_case_3].to_i %></td>
        <td><%= match_stats[:range_case_4].to_i %></td>
      </tr>
      <tr>
        <td><%= t('dashboard.tr_stats').html_safe %></td>
        <td><%= match_stats[:range_tr_1].to_i %></td>
        <td><%= match_stats[:range_tr_2].to_i %></td>
        <td><%= match_stats[:range_tr_3].to_i %></td>
        <td><%= match_stats[:range_tr_4].to_i %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>