<div class="panel">
  <div class="panel_header">
    <h4><%= t("dashboard.open_incidents") %></h4>
    <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header">
      <thead>
        <tr>
          <th><%= t("dashboard.incident_id") %></th>
          <th><%= t("dashboard.date_of_interview") %></th>
          <th><%= t("dashboard.date_of_incident") %></th>
          <th><%= t("dashboard.violence_type") %></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="panel_content no-padding panel_main">
  <% if open_incidents.present? %>
    <table cellspacing="0" cellpadding="0" class="table-counts table-floating-header extra">
      <tbody>
        <% open_incidents.each do |incident| %>
          <tr>
            <td class="id_column">
              <%= link_to text_to_identify_incident(incident), incident_path(incident), class: 'id_link' %>
              <% if incident.flagged? && incident.flag_count > 0 %>
                <div class="flag_icon">
                  <%= incident.flag_count %>
                </div>
              <% end %>
            </td>
            <td><%= incident.date_of_first_report %></td>
            <td><%= incident.incident_date %></td>
            <td><%= incident.display_field('gbv_sexual_violence_type') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="no-content"><%= t("dashboard.no_open_incidents") %></p>
  <% end %>
  </div>
</div>