<div class="panel">
  <div class="panel_header">
    <h4><%= t("dashboard.recent_activities") %></h4>
    <table cellspacing="0" cellpadding="0" class="table-floating-header">
      <thead>
      <tr>
        <th>
          <%= t("dashboard.case_id") %>
        </th>
        <th>
          <%= t("dashboard.name_or_survivor_code") %>
        </th>
        <th>
          <%= t("dashboard.current_owner") %>
        </th>
        <th>
          <%= t("dashboard.last_updated") %>
        </th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="panel_content no-padding panel_main">
    <% if recent_activities.present? %>
      <table cellspacing="0" cellpadding="0" class="table-floating-header">
        <tbody>
          <% recent_activities.each do |s| %>
            <tr>
              <td class="id_column"><%= link_to s[:short_id], case_path(s[:_id]), class: 'id_link' %></td>
              <td><%= s[:module_id] == PrimeroModule::GBV ? s[:survivor_code_no] : s[:name] %></td>
              <td><%= s[:owned_by] %></td>
              <td><%= field_format_date(s[:last_updated_at]) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="no-content"><%= t("dashboard.no_recent_activities") %></p>
    <% end %>
  </div>
</div>
