<div class="panel">
 <div class="panel_header">
  <h4><%= t("dashboard.scheduled_activities") %></h4>
 </div>
 <div class="panel_content no-padding panel_main">
 <% if scheduled_activities.present? %>
  <table cellspacing="0" cellpadding="0" class="table-floating-header">
    <thead>
      <tr>
        <th>
          <%= t("dashboard.case_id") %>
        </th>
        <th>
          <%= t("dashboard.name") %>
        </th>
        <th>
          <%= t("dashboard.activity") %>
        </th>
        <th>
          <%= t("dashboard.date") %>
        </th>
     </tr>
    </thead>
    <tbody>
      <% scheduled_activities.each do |s| %>
        <tr>
          <td class="id_column"><%= link_to s[:short_id], case_path(s[:record_id]), class: 'id_link' %></td>
          <td><%= s[:flagged_by] || t('dashboard.system_user') %></td>
          <td><%= s[:message] %></td>
          <td>
            <%= field_format_date(s[:date]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p class="no-content"><%= t("dashboard.no_scheduled_activities") %></p>
  <% end %>
 </div>
</div>