<div id="dashboard">
  <div class="index_controls_container" data-top="50" data-bottom="40">
    <div class="row collapse">
      <div class="large-6 columns">
        <ul id="menu" class="sf-menu">
          <li class="init_btn">
            <%= link_to content_tag(:span, t("actions.button")), '', class: 'btn green-button action_btn' %>
            <ul>
              <% ["case", "incident", "tracing_request"].each do |model| %>
                <%
                  model_class = model == "case" ? "child" : model
                  button_label = I18n.t("buttons.create_new_record", model: model.titleize)
                %>
                <% if can? :create, model_class.camelize.constantize %>
                  <li>
                    <% modules = current_user.modules.select{|m| m.associated_record_types.include? model} %>
                    <% if modules.size > 1 %>
                      <%= link_to content_tag(:span, button_label), '#', :'data-dropdown' => "#{model}-modules-dropdown" %>
                      <ul id="<%=model%>-modules-dropdown" class="f-dropdown" data-dropdown-content>
                        <% modules.each do |primero_module| %>
                          <li><%= link_to primero_module.name, new_polymorphic_path(model, module_id: primero_module.id) %></li>
                        <% end %>
                      </ul>
                    <% elsif modules.size == 1 %>
                      <%= link_to content_tag(:span, button_label, class: 'create_user'), new_polymorphic_path(model, {module_id: modules.first.id}) %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% if @display_cases_dashboard %>
  <div class="row collapse">
    <div id="content" class="large-9 columns">
      <%= render 'scheduled_activities', scheduled_activities: @scheduled_activities, model:Child %>
      <%= render 'overdue_activities', records: @overdue_activities, model:Child %>
    </div>
    <div id="sidebar" class="large-3 columns">

      <%= render 'recently_flagged', recently_flagged: @recently_flagged, recently_flagged_count: @recently_flagged_count, model:Child %>
    </div>
  </div>
  <% end %>

  <% if @display_incidents_dashboard %>
  <div class="row collapse">
    <div id="content" class="large-9 columns">
      <%= render 'open_incidents', open_incidents: @open_incidents %>
    </div>
    <div id="sidebar" class="large-3 columns">
      <%= render 'new_assigned', records: @incidents, model:Incident %>
      <%= render 'recently_flagged', recently_flagged: @incidents_recently_flagged, recently_flagged_count: @incidents_recently_flagged_count, model:Incident %>
    </div>
  </div>
  <% end %>
</div>