<div id="dashboard">
  <div class="index_controls_container" data-top="49" data-bottom="40">
    <div class="row collapse">
      <div class="large-12 columns">
      </div>
    </div>
  </div>
  <% if @display_admin_only %>
    <%= render 'admin_only_index' %>
  <% else %>
    <% if @display_cases_dashboard %>
      <div class="row">
        <div id="content" class="large-9 medium-9 small-12 columns dashboards">
          <% if @display_national_admin_dashboard %>
            <%= render 'case_national_admin_case_totals', model: Child %>
          <% end %>
          <% if @display_reporting_location %>
            <%= render 'case_admin_reporting_location_totals', reporting_location_stats: @reporting_location_stats,
                       model: Child, reporting_location: @reporting_location, admin_level: @admin_level%>
          <% end %>
          <% if @display_protection_concerns %>
            <%= render 'case_protection_concerns', protection_concern_stats: @protection_concern_stats,
                       model: Child, reporting_location: @reporting_location, admin_level: @admin_level %>
          <% end %>
          <% if @display_manager_dashboard %>
            <%= render 'case_manager_case_totals', records: @aggregated_case_worker_stats, model: Child %>
          <% end %>
          <% if @display_case_worker_dashboard %>
            <%= render 'case_counts',
                       new_cases: @new_cases,
                       total_cases: @total_cases,
                       model: Child
            %>
          <% end %>
          <% if @display_matching_results_dashboard %>
            <%= render 'match_result_statistics', match_stats: @match_stats, model: PotentialMatch %>
          <% end %>
        </div>
        <div id="sidebar" class="large-3 medium-3 small-12 columns">
          <%= render 'flagged_by_me', flagged_by_me: @flagged_by_me, model: Child %>
          <% unless @display_manager_dashboard %>
            <%= render 'flagged_by_others', flagged_by_others: @flagged_by_others, model: Child %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @display_incidents_dashboard %>
        <div class="row">
          <div id="content" class="large-9 medium-9 small-12 columns dashboards">
            <%= render 'open_incidents', open_incidents: @open_incidents %>
          </div>
          <div id="sidebar" class="large-3 medium-3 small-12 columns no-padding-left">
            <%= render 'flagged_by_me', flagged_by_me: @incidents_recently_flagged, model: Incident %>
          </div>
        </div>
    <% end %>

    <% if @display_gbv_incidents_dashboard %>
        <div class="row">
          <div id="content" class="large-9 medium-9 small-12 columns dashboards">
            <%= render 'open_gbv_incidents', open_incidents: @open_gbv_incidents %>
          </div>
          <div id="sidebar" class="large-3 medium-3 small-12 columns no-padding-left">
            <%= render 'flagged_by_me', flagged_by_me: @gbv_incidents_recently_flagged, model: Incident %>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
