<% if can?(:import, controller.model_class) %>
  <li>
    <a data-reveal-id="import-modal" href="#">
      <%= t("buttons.import") %>
    </a>

    <div id="import-modal" class="reveal-modal tiny" data-reveal>
      <a class="close-reveal-modal">&#215;</a>
      <%= form_tag(url_for(:action => 'import_file'), {:multipart => true, :method => 'post'}) do %>
        <%= file_field_tag("import_file") %>
        <%= select_tag("import_type", options_for_select(Importers::ACTIVE_IMPORTERS.map {|i| i.id}, 'csv')) %>
        <div class="import_button">
          <%= submit_tag(t("buttons.import"), class: 'green-button right') %>
        </div>
        <%= javascript_tag defer: 'defer' do %>
          $('#import_file').on('change', function(e) {
            var file_ext = e.target.value.split('.').pop()
            $('#import_type')
              .children('option')
              .filter(function(i, el) { return el.value == file_ext })
              .prop('selected', true);
          });
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>
