<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :program_id, t("provide_translation"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="lang_title">
      <%= select_tag("locale", options_for_select(Primero::Application::LOCALES_WITH_DESCRIPTION.select { |option| option[1] != I18n.default_locale.to_s }), :class => 'locale') %>
    </span>
  </div>
</div>

<%= resource_edit_field(object, 'name', 'agency.name', 'text_field', true) %>
<% Primero::Application::LOCALES.each do |new_locale| %>
  <% if I18n.default_locale.to_s != new_locale %>
    <div class="row <%= "translation_forms #{new_locale}"%> hide_element">
      <div class="row"><div class="large-offset-3"><small><%= t("home.#{new_locale}")  %></small></div></div>
      <%= resource_edit_field(object, "name_#{new_locale}", nil, 'text_field', false, false, nil, 'errors.models.agency.name_present') %>
    </div>
  <% end %>
<% end %>

<%= resource_edit_field(object, 'agency_code', 'agency.code', 'text_field', true) %>

<%= resource_edit_field(object, 'description', 'description', 'text_area') %>
<% Primero::Application::LOCALES.each do |new_locale| %>
  <% if I18n.default_locale.to_s != new_locale %>
    <div class="row <%= "translation_forms #{new_locale}"%> hide_element">
      <div class="row"><div class="large-offset-3"><small><%= t("home.#{new_locale}")  %></small></div></div>
      <%= resource_edit_field(object, "description_#{new_locale}", nil, 'text_area') %>
    </div>
  <% end %>
<% end %>

<%= resource_edit_field(object, 'logo', 'agencies.logo', 'file_field') %>
<%= resource_edit_field(object, 'logo_enabled', 'agencies.logo_enabled', 'check_box') %>
<% if can?(:disable, @agency) %>
  <%= resource_edit_field(object, 'disabled', 'disabled.status.disabled', 'check_box') %>
<% end %>
