<%
  editable = object.name.present?
  given_locale = object.base_language
  system_locale = I18n.locale
%>
<% if editable %>
  <div class="row">
    <div class="medium-9 medium-offset-3 columns">
      <%= render 'shared/locale_select', current_locale: "en"%>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="medium-3 columns">
      <%= form_builder.label "agency_name", t("agency.name", :locale => system_locale), :class => 'key inline' %>
  </div>
  <div class="medium-8 columns">
      <%= form_builder.text_field "name_#{given_locale}", :id => "agency_name", required: true %>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<% if editable %>
  <% Primero::Application::locales.each do |new_locale| %>
    <% unless new_locale == "en" %>
      <div class="row <%= "translation_forms #{new_locale}"%> hide_element">
        <div class="row"><div class="large-offset-3"><small><%= t("home.#{new_locale}")  %></small></div></div>
        <%= resource_edit_field(object, "name_#{new_locale}", nil, 'text_field', false, false, nil, 'errors.models.agency.name_present') %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= resource_edit_field(object, 'agency_code', 'agency.code', 'text_field', true) %>

<div class="row">
  <div class="medium-3 columns">
      <%= form_builder.label "description", t("description", :locale => system_locale), :class => 'key inline' %>
  </div>
  <div class="medium-8 columns">
      <%= form_builder.text_area "description_#{given_locale}", :id => "agency_description" %>
  </div>
  <div class="medium-1 columns">
  </div>
</div>
<% Primero::Application::locales.each do |new_locale| %>
  <% unless new_locale == "en" %>
    <div class="<%= "translation_forms #{new_locale}"%> hide_element">
      <div class="row"><div class="large-offset-3"><small><%= t("home.#{new_locale}")  %></small></div></div>
      <%= resource_edit_field(object, "description_#{new_locale}", nil, 'text_area') %>
    </div>
  <% end %>
<% end %>

<%= resource_edit_field(object, 'logo', 'agencies.logo', 'file_field') %>
<%= resource_edit_field(object, 'logo_enabled', 'agencies.logo_enabled', 'check_box') %>
<% if can?(:disable, @agency) %>
  <%= resource_edit_field(object, 'disabled', 'disabled.status.disabled', 'check_box') %>
<% end %>
