<%
    model_class_name = controller.model_class.name.underscore.downcase
    model_name = I18n.t("forms.record_types.#{model_class_name}")
%>
<%# TODO - tweak for referrals%>
<% if can?(:referral, controller.model_class) %>
<li>
  <a data-reveal-id="referral-modal" class=<%= (defined?(instance) ? "" : "referral_index_action") %> href="#">
    <%= t("buttons.referral", model: model_name) %>
  </a>

  <div id="referral-modal" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <%= form_tag(url_for(:action => 'referral', :id => (defined?(instance) ? instance.id : nil)), {:multipart => true, :method => 'post', :autocomplete => "off"}) do %>
        <%= hidden_field_tag "selected_records"%>
        <label><%=I18n.t("referrals.type_label")%>
          <%= select_tag("referral_type", options_for_select(@referral_roles.map {|r| [r.name, r.id]}, '')) %>
        </label>
        <label><%=I18n.t("referrals.existing_user_label")%>
          <%= select_tag("existing_user", options_for_select(@associated_users, @current_user.user_name)) %>
        </label>
        <label><%=I18n.t("referrals.other_user_label")%>
          <%= text_field_tag("other_user") %>
        </label>
        <label><%=I18n.t("referrals.other_user_agency_label")%>
          <%= text_field_tag("other_user_agency") %>
        </label>
        <label><%=I18n.t("referrals.service_label")%>
          <%= select_tag("service", options_for_select(Lookup.values("Service Type", @lookups), '')) %>
        </label>
        <label><%=I18n.t("referrals.notes_label")%>
          <%= text_area_tag("notes") %>
        </label>
        <label><%=I18n.t("referrals.remote_primero_label")%>
          <%= check_box_tag("remote_primero", "true") %>
        </label>
        <div class="import_button">
          <%= submit_tag(t("buttons.submit"), class: 'green-button right') %>
        </div>
      <% end %>
  </div>
</li>
<% end %>

