<% name = filter['name'] %>

<div class="filter">
  <div class="date_filter">
    <h3><%= I18n.t("report.report_filters.#{name}") %></h3>
    <div class="row collapse">
      <div class="large-4 columns selector">
        <%= select_tag name, options_for_select([
          [I18n.t('report.date_ranges.date'), 'day'],
          [I18n.t('report.date_ranges.year'), 'year']
        ]), prompt: I18n.t("report.report_filters.prompt") %>
      </div>
      <div class="controls row collapse">
        <div class="large-7 columns end right">
          <div class="select hide control">
            <%= select_tag "#{name}_select_control", nil, prompt: I18n.t("report.report_filters.year_prompt") %>
            <%= label_tag "#{name}_select_control", '' %>
          </div>
          <div class="range row hide control">
            <div class="large-6 columns">
              <%= text_field_tag "#{name}_date_from_control", '', placeholder: I18n.t("report.report_filters.date_prompt"), class: 'form_date_field' %>
              <%= label_tag "#{name}_date_from_control", I18n.t("report.report_filters.from") %>
            </div>
            <div class="large-6 columns">
              <%= text_field_tag "#{name}_date_to_control", '', placeholder: I18n.t("report.report_filters.date_prompt"), class: 'form_date_field' %>
              <%= label_tag "#{name}_date_to_control", I18n.t("report.report_filters.to") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
