<% if can? :create, model %>
  <% button_label = t("#{record.pluralize}.register_new_#{record}") %>
  <% if !defined?(modules) || !modules.present? %>
    <%= link_to content_tag(:span, button_label, class: 'create_user'), new_polymorphic_path(record),  class: 'button right' %>
  <% elsif modules.size > 1 %>
    <ul id="menu" class="dropdown menu" data-dropdown-menu>
      <li>
        <a data-toggle="modules-dropdown" data-close-on-click="true" class="button"><%= content_tag(:span, button_label) %></a>
        <ul class="menu">
        <% modules.each do |primero_module| %>
          <li>
            <% if primero_module.allow_searchable_national_ids %>
              <a data-open="national-ids-search"><%= primero_module.name %></a>
              <div class="reveal" id="national-ids-search" data-reveal>
                <h4>Search</h4>
                <form>
                  <label for="id_number"><%= t('case.enter_id_number') %></label>
                  <input type="text" name="id_number" />
                </form>
                <div class="button-group">
                  <%= link_to t('case.create_cp_case'), new_polymorphic_path(record, module_id: primero_module.id), class: 'button' %>
                  <%= link_to t('search'), '', class: 'button' %>
                </div>
              </div>
            <% else %>
              <%= content_tag( :a, primero_module.name, :class => 'dropdown_link', :'href' => new_polymorphic_path(record, module_id: primero_module.id)) %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </li>
    </ul>
  <% elsif modules.size == 1 %>
    <%= link_to content_tag(:span, button_label, class: 'create_user'), new_polymorphic_path(record, {module_id: modules.first.id}),  class: 'button right' %>
  <% end %>
<% end %>