<% if can? :create, model %>
  <% button_label = t("#{record.pluralize}.register_new_#{record}") %>
  <% if !defined?(modules) || !modules.present? %>
    <%= link_to content_tag(:span, button_label, class: 'create_user'), new_polymorphic_path(record),  class: 'button right' %>
  <% elsif modules.size > 1 %>
    <ul id="menu" class="dropdown menu" data-dropdown-menu>
      <li>
        <a data-toggle="modules-dropdown" data-close-on-click="true" class="button"><%= content_tag(:span, button_label) %></a>
        <ul class="menu">
        <% modules.each do |primero_module| %>
          <li>
            <% if primero_module.allow_searchable_ids && record == 'case' %>
              <%= render 'record_shared/search_ids', primero_module: primero_module, record: record, single: false, label: false %>
            <% else %>
              <%= content_tag( :a, primero_module.name, :class => 'dropdown_link', :'href' => new_polymorphic_path(record, module_id: primero_module.unique_id)) %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </li>
    </ul>
  <% elsif modules.size == 1 %>
    <% if modules.first.allow_searchable_ids && record == 'case' %>
      <%= render 'record_shared/search_ids', primero_module: modules.first, record: record, single: true, label: content_tag(:span, button_label, class: 'create_user') %>
    <% else %>
      <%= link_to content_tag(:span, button_label, class: 'create_user'), new_polymorphic_path(record, {module_id: modules.first.unique_id}),  class: 'button right' %>
    <% end %>
  <% end %>
<% end %>
