<%
  use_timepicker ||= false
  date_options ||= selectable_filter_date_options
%>
<div class="filter">
  <h3><%= t("#{record}.filter_by.by_date") %></h3>
  <div class="filter-controls row align-middle">
    <div class="date_range">
      <div class="row collapse">
        <div class="medium-12 columns selectable">
          <label class="has_date"><%= t("#{record}.filter_by.date") %></label>
          <%= select_tag date_field, options_for_select(date_options),
             'class' => 'chosen-select selectable_date',
             'filter_type' => 'date_selectable' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-3 columns">
          <label class="has_date"><%= t("fields.date_range.from") %></label>
        </div>
        <div class="medium-9 columns">
          <%= text_field_tag "", "", class: "form_date_field from", id: "#{date_field}_from", filter_type: 'date_range', data: {timepicker: use_timepicker} %>
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-3 columns">
          <label class="has_date"><%= t("fields.date_range.to") %></label>
        </div>
        <div class="medium-9 columns">
          <%= text_field_tag "", "", class: "form_date_field to", id: "#{date_field}_to", filter_type: "date_range", data: {timepicker: use_timepicker} %>
        </div>
      </div>
    </div>
  </div>
</div>