<div class="row form-footer">
  <div class="large-6 columns collapse">
    <ul class="menu simple">
      <li>
        <a data-open="record_info_modal"><%= t('record_panel.record_information') %></a>
      </li>
      <li>
        <!-- change log -->
        <a id="show_change_log" data-change_log_url="<%= "/#{model.pluralize}/#{record.id}/change_log" %>"
           data-open="<%= model %>_<%= record.short_id%>_change_log">
          <%= t("record_panel.change_log") %>
        </a>
        <div class="reveal-modal medium" id="<%= model %>_<%=record.short_id%>_change_log" data-reveal></div>
      </li>
    </ul>
  </div>
</div>

<div id="record_info_modal" class="reveal tiny" data-reveal aria-hidden="true" role="dialog">
  <%= render 'shared/modal_close' %>
  
  <h1><%= t('record_panel.record_information') %></h1>
  <!-- record state -->
  <p>
    <span><%= t("record_panel.record_state") %>:</span>
    <%= record.record_state ? t("record_panel.valid") : t("record_panel.invalid") %>
  </p>
  <!-- creator -->
  <p>
    <span><%= t("record_panel.created_by") %>:</span>
    <%= record.created_by_full_name %> <span><%= t('record_panel.name_date_seperator') %></span> <%= field_format_date(record.created_at) %>
  </p>
  <!-- last updated -->
  <p>
    <span><%= t("record_panel.last_update") %>:</span>
    <%= field_format_date(record.last_updated_at) %>
  </p>
  <!-- current owner -->
  <p>
    <span><%= t("record_panel.current_owner") %>:</span>
    <%= record.owner ? record.owner.full_name : 'None' %>
  </p>
</div>