<div class="panel">
  <div class="header_message">
    <div id="interviewer_details">
      <!-- record state -->
      <p>
        <%= t("record_panel.record_state") %>: 
        <%= record.record_state ? t("record_panel.valid") : t("record_panel.invalid") %>
      </p>
      <!-- creator -->
      <p>
        <%= t("record_panel.created_by") %>: 
        <%= record.created_by_full_name %><br>
        <%= field_format_date(record.created_at) %>
      </p>
      <!-- last updated -->
      <p>
        <%= t("record_panel.last_update") %>: 
        <%= field_format_date(record.last_updated_at) %> 
      </p>
      <!-- current owner -->
      <p>
        <%= t("record_panel.current_owner") %>: 
        <%= record.owner.full_name %>
      </p>
      <!-- change log -->
      <a id="show_change_log" class="span_button" data-change_log_url="<%= "/#{model.pluralize}/#{record.id}/change_log" %>" 
         data-reveal-id="child_<%= record.short_id%>_change_log">
        <%= t("record_panel.change_log") %>
      </a>
      <div class="reveal-modal medium" id="<%= model %>_<%=record.short_id%>_change_log" data-reveal></div>
    </div>
  </div>
</div>
