<%# Hiding imports for build %>
<% if false %>
<div class="btn green-button" data-reveal-id="import-modal">
  <span class="import"><%= t("buttons.import") %></span>
</div>

<div id="import-modal" class="reveal-modal tiny" data-reveal>
  <%= form_tag(url_for(:action => 'import_file'), {:multipart => true, :method => 'post'}) do %>
    <%= file_field_tag("import_file") %>
    <%= select_tag("import_type", options_for_select(Importers::ACTIVE_IMPORTERS.map {|i| i.id}, 'csv')) %>
    <div class="import_button">
      <%= submit_tag("Import", class: 'green-button right') %>
    </div>
    <%= javascript_tag defer: 'defer' do %>
      $('#import_file').on('change', function(e) {
        var file_ext = e.target.value.split('.').pop()
        $('#import_type')
          .children('option')
          .filter(function(i, el) { return el.value == file_ext })
          .prop('selected', true);
      });
    <% end %>
  <% end %>
</div>
<% end %>
