<%
  #TODO: As usual there is a good way to structure this more elegantly.
  #       We should be using the inherited content_for code to handle rendering in these areas.
  opts ||= {}
  display_create = model.to_s == "PotentialMatch" ? false : true
  options = {
      display_filter: true,
      display_actions: model.to_s =="PotentialMatch" ? false : true,
      display_create: display_create}.merge(opts)
%>
<div class="index_controls_container" data-top="49" data-bottom="40">
  <div class="row align-middle controls">
    <div class="large-9 small-9 columns">
      <div class="row collapse align-middle">
        <div class="large-6 small-6 columns">
          <div class="pagination_info">
            <%= page_entries_info collection %> <%= t('case.id_search_results_html', id: params[:query]).html_safe if params[:id_search].present? && params[:query].present? %>
          </div>
        </div>
        <div class="large-6 small-6 columns">
          <%= render partial: "record_shared/header",
                     locals: {
                         model: model, record: record, modules: @current_modules,
                         display_actions: options[:display_actions],
                         display_create: options[:display_create]
                     }
          %>
        </div>
      </div>
    </div>
    <% if false %>
    <div class="large-3 small-3 columns no-padding-left">
      <% if options[:display_filter] %>
        <div class="row collapse align-middle filter-controls">
          <div class="column">
            <a class="clear_filters"><%= icon('close') %> <%= t('buttons.filter_clear') %></a>
          </div>
          <div class="column shrink">
            <%= link_to t("buttons.filter"), '', class: 'button small', id: 'apply_filter' %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <% if options[:display_filter].present? %>
    <div class="large-9 small-9 columns">
  <% else %>
    <div class="large-12 small-12 columns">
  <% end %>
    <div class="clearfix"></div>
    <table style="width: 100%;" class="record_list_view dataTable display responsive no-wrap no-footer collapsed dtr-inline" cellpadding="0" cellspacing="0" width="100%">
      <% header_list = list_view_header(record) %>
      <thead>
      <tr>
        <% header_list.each_with_index do |field, i| %>
            <th aria-field="<%= field[:sort_title] %>" aria-field-index="<%= i %>">
              <%= field[:title].present? ? t("#{record}.#{field[:title]}") : "" %>
            </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <%= render :partial => "#{controller.controller_name}/summary_row", collection: collection, as: :record, :locals => {:fields_to_show => index_fields_to_show(header_list)} %>
      </tbody>
    </table>
    <div class="table_spacer"></div>
  </div>
  <% if options[:display_filter].present? %>
    <div class="large-3 small-3 columns index_filters">
      <ul class="tabs" data-tabs id="filter-area">
        <li class="tabs-title is-active"><a href="#filters" aria-selected="true">Filters</a></li>
        <li class="tabs-title"><a data-tabs-target="#saved-searches" href="#saved-searches">Saved Searches</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="filter-area">
        <div class="tabs-panel is-active" id="filters">
          <%= render "#{controller.controller_name}/filter", filters_to_show: index_filters_to_show(record) %>        </div>
        <div class="tabs-panel" id="saved-searches">
          <h5>My Filters</h5>
          <ul class="save-searches">
            <% @saved_searches.each do |filter| %>
              <li>
                <a class="user_filter" data-id="<%= filter.unique_id %>"><%= filter.name %></a>
                <%= link_to 'x', filter, method: :delete, data: {confirm: 'Are you sure?'} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  <% end %>
</div>
<%= render :partial => 'shared/pagination', :locals => {:results => collection, :total => @total_records, :per => @per_page} %>
