<%
  options = {
      display_filter: true,
      sort_method: true,
  }
%>

<div class="index_controls_container" data-top="50" data-bottom="40">
  <div class="row collapse align-middle">
    <div class="large-9 small-9 columns">
      <div class="row collapse">
        <div class="large-6 small-6 columns">
          <div class="pagination_info"><%= page_entries_info collection %></div>
        </div>
        <div class="large-6 small-6 columns">
          <%= render partial: "potential_matches/header",
                     locals: {
                         model: model, record: record, modules: @current_modules,
                         sort_method: options[:sort_method],
                     }
          %>
        </div>
      </div>
    </div>
    <div class="large-3 small-3 columns">
      <% if options[:display_filter] %>
          <div class="filter_title left">
            <%= t("buttons.filter_label") %>
            <a class="clear_filters"><%= icon('close') %> <%= t('buttons.filter_clear') %></a>
          </div>
          <%= link_to t("buttons.filter"), '', class: 'button hollow right', id: 'apply_filter' %>
      <% end %>
    </div>
  </div>
</div>
<div class="row collapse">
  <div class="large-9 small-9 columns">
    <div class="clearfix"></div>
    <%= render :partial => "#{controller.controller_name}/summary_row", collection: collection, as: :record %>

    <table style="width: 100%;" class="record_list_view dataTable paging_div_view" cellpadding="0" cellspacing="0" style="display: none">
    </table>
  </div>
  <div class="large-3 small-3 columns index_filters">
    <%= render "#{controller.controller_name}/filter", filters_to_show: index_filters_to_show(record) %>
  </div>
</div>
<%= render :partial => 'shared/pagination', :locals => {:results => collection, :total => @total_records, :per => @per_page} %>