<div class="index_controls_container" data-top="50" data-bottom="40">
  <div class="row collapse">
    <div class="large-9 columns">
      <div class="row collapse">
        <div class="large-6 columns">
          <div class="pagination_info"><%= page_entries_info collection %></div>
        </div>  
        <div class="large-6 columns">
          <%= render :partial => "record_shared/header", locals: { model: model, record: record, modules: @current_modules } %>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <% unless record == 'tracing_request' %>
        <div class="filter_title left"><%= t("buttons.filter_label") %></div>
        <%= link_to t("buttons.filter"),'', class: 'green-button right', id: 'apply_filter' %>
      <% end %>
    </div>  
  </div>
</div>
<div class="row collapse">
  <div class="large-9 columns">
    <div class="clearfix"></div>
    <table width="100%" class="record_list_view" cellpadding="0" cellspacing="0">
      <% header_list = list_view_header(record)%>
      <thead>
        <tr>
          <% header_list.each_with_index do |field, i| %>
            <th aria-field="<%= field[:sort_title] %>" aria-field-index="<%= i %>">
              <%= field[:title] ? t("#{record}.#{field[:title]}") : "" %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "#{controller.controller_name}/summary_row", collection: collection, as: :record, :locals => {:fields_to_show => index_fields_to_show(header_list)} %>
      </tbody>
    </table>
    <div class="table_spacer"></div>
  </div>
  <div class="large-3 columns index_filters">
    <%= render "#{controller.controller_name}/filter", filters_to_show: index_filters_to_show(record) %>
  </div>
</div>
<%= render :partial => 'shared/pagination', :locals => { :results => collection, :total => @total_records, :per => @per_page } %>
