<div class="row">
  <div class="large-9 columns">
    <%= render :partial => "record_shared/header", locals: { model: model, record: record, modules: @current_modules } %>
    <div class="clearfix"></div>

    <%#
      TODO: For now the filter and order-by have been removed as per PRIMRO-105.
      We will need to put them back in.
    %>
    <% if false %>
    <div class="filter_bar" style="display: none;">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <%#= render :partial => "children/order_by_box" %>
        </div>
      </div>
    </div>
    <div class="scope_bar">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <form class="record_scope_bar_form">
            <ul class="inline-list">
              <%= render :partial => "record_shared/scopes", locals: { record: record } %>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <% end %>
    <table width="100%" class="record_list_view" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <% list_view_header(record).each_with_index do |field, i| %>
          <th aria-field="<%= field[:sort_title] %>" aria-field-index="<%= i %>">
            <%= field[:title] ? t("#{record}.#{field[:title]}") : "" %>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "record_shared/#{record.pluralize}_summary_row", collection: collection, as: :record %>
      </tbody>
    </table>
    <div class="table_spacer"></div>
  </div>
  <div class="large-3 columns index_filters">
    <%= render "record_shared/#{record.pluralize}_filter" rescue nil %>
  </div>
</div>
<%= render :partial => 'shared/pagination', :locals => { :results => collection, :total => @total_records, :per => @per_page } %>
