<%
    model_class_name = record.class.name.underscore.downcase
    model_name = I18n.t("forms.record_types.#{model_class_name}")
%>
<% if can? :flag, record %>
    <span id="<%= mark_as_property %>" class="<%= style %>">
      <button class="<%= button_style %> flags_record_page" data-toggle="<%= "#{mark_as_property}-dropdown" %>">
        <%= mark_as_label %>
        <% if record.flagged? && record.flag_count > 0 %>
          <span class="label primary jewel"><%= record.flag_count %></span>
        <% end %>
      </button>
    </span>
    <div class="dropdown-pane large"
         id="<%= "#{mark_as_property}-dropdown" %>"
         data-dropdown
         data-model="<%= model_class_name %>"
         data-form_action="<%= send("#{model_class_name}_flag_path", record) %>"
         data-form_unflag_action="<%= send("#{model_class_name}_unflag_path", record) %>"
         data-form_id="<%= "#{model_class_name}_#{record.id}" %>"
         data-message_id="<%= mark_as_message_id %>"
         data-message="<%= mark_as_message %>"
         data-message_unflag="<%= mark_as_message_unflag %>"
         data-message_date="<%= mark_as_message_date %>"
         data-message_date_id="<%= mark_as_message_date_id %>"
         data-property="<%= mark_as_property %>"
         data-request_url="<%= request.url %>"
         data-submit_label="<%= mark_as_submit_label %>"
         data-submit_unflag_label="<%= unmark_as_submit_label %>"
         data-submit_error_message="<%= error_message %>"
         data-authenticity_token="<%= form_authenticity_token %>"
         data-message_unflag_date="<%= mark_as_message_unflag_date %>"
         data-message_unflag_by="<%= mark_as_message_unflag_by %>"
         data-message_unflagged_label="<%= mark_as_message_unflagged_label %>" >
        <div class="flag_unflag_header row">
          <div class="large-6 columns">
            <span><%=I18n.t("buttons.flag_model", model: model_name)%></span>
          </div>
          <div class="large-6 columns">
            <span class="view_history_flags"><%=I18n.t("buttons.view_flags_history")%></span>
          </div>
        </div>
        <div class="add_flag_form"></div>
        <div class="clear"></div>
        <% if record.flags.present? && record.flags.select{|f| !f.removed}.present? %>
            <div class="flag_unflag_header"><span><%=I18n.t("buttons.unflag_model", model: model_name)%></span></div>
            <ul class="current_flags">
            <% record.flags do |f| %>
              <% unless f.removed %>
              <li>
                <% if f.flagged_by == @current_user.user_name %>
                  <span class="right collapse_expand_flag collapsed_flag" data-message="<%= f.message %>" data-message_index="<%= f.id %>">+</span>
                <% end %>
                <%= f.message %><br>
                <span><%= f.flagged_by %> <% if f.date.present? %>| <%= I18n.l(f.date) %><% end %></span>
              </li>
              <% end %>
            <% end %>
            </ul>
        <% end %>
        <% if record.flags.present? && record.flags.select{|f| f.removed}.present? %>
            <div style="display:none;" class="flag_unflag_header history_flags_label"><span><%=I18n.t("buttons.unflag_model_history", model: model_name)%></span></div>
            <ul style="display:none;" class="history_flags">
            <% record.flags.select{|f| f.removed}.each do |f| %>
              <li>
                <span class="right collapse_expand_flag collapsed_flag" data-removed="<%= f.removed %>" data-remove_message="<%= f.unflag_message %>"
                      data-unflagged_by="<%= f.unflagged_by %>" data-unflagged_date="<%= f.unflagged_date %>">+</span>
                <%= f.message %><br>
                <span><%= f.flagged_by %> <% if f.date.present? %>| <%= I18n.l(f.date) %><% end %></span>
              </li>
            <% end %>
            </ul>
        <% end %>
    </div>
<%end%>
