<li>
  <a data-reveal-id="<%= "#{model.name.underscore.downcase}_reopen_records" %>" href="#"><%= t("actions.reopen") %></a>

  <div class="reveal-modal tiny" id="<%= "#{model.name.underscore.downcase}_reopen_records" %>" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div class="row">
      <div class="large-12 columns">
        <%= t('messages.reopen_record') %>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="large-12 columns">
        <a class="btn green-button right"
          id="reopen_action"
          data-id="<%= instance.id %>"
          data-request_url="<%= request.url %>"
          data-form_action="<%= send("#{model.name.underscore.downcase}_record_status_path") %>"
          data-submit_error_message="<%# t("#{model.name.underscore.downcase}.record_status_error_message")%>"
          <%# Without debuging it's hard to say how to access and change child.child_status = 'Open' and then how to tick true on case_status_reopened %>
          data-state="<%= instance.record_state ? false : true %>"
          href=""><%= t("buttons.ok") %>
        </a>
        <a class="close-reveal-modal btn green-button right"><%= t("buttons.cancel") %></a>
      </div>
    </div>
  </div>
</li>