<li>
  <a data-open="<%= "#{model.name.underscore.downcase}_reopen_records" %>"><%= t("actions.reopen") %></a>
  <div class="reveal tiny" id="<%= "#{model.name.underscore.downcase}_reopen_records" %>" data-reveal>
    <%= render 'shared/modal_close' %>
    <div class="row">
      <div class="large-11 end columns">
        <%= t('messages.reopen_record') %>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="large-12 columns">
        <a class="btn button right"
          id="reopen_action"
          data-id="<%= instance.id %>"
          data-form_action="<%= send("#{model.name.underscore.downcase}_reopen_case_path", instance) %>"
          data-submit_error_message="<%# t("#{model.name.underscore.downcase}.record_status_error_message")%>"
          data-status="Open"
          data-reopen="true"
          href=""><%= t("buttons.ok") %>
        </a>
        <button class="button gray" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true"><%= t("buttons.cancel") %></span>
        </button>
      </div>
    </div>
  </div>
</li>