<a class="<%= 'button' if single.present? %>" data-open="ids-search"><%= label.present? ? label : primero_module.name %></a>
<div class="reveal tiny" id="ids-search" data-reveal>
  <%= render 'shared/modal_close' %>
  <h4><%= t('search') %></h4>
  <form data-abide novalidate>
    <label for="id_number"><%= t('case.enter_id_number') %></label>
    <input type="text" name="id_number" required />
    <span class="form-error" data-form-error-for="id_number"><%= t('case.id_number_required') %></span>
    <div class="row collapse">
      <div class="column">
        <%= link_to t('case.create_new_case'), new_polymorphic_path(record, module_id: primero_module.unique_id), class: 'button' %>
      </div>
      <div class="column shrink">
        <%= link_to t('search'), '', class: 'button', id: 'search-id', data: { module: primero_module.unique_id } %>
      </div>
    </div>
  </form>
</div>
