<li>
  <a id="<%= form_type %>_from_case_button" data-form-type="<%= form_type %>" data-form-id="<%= form_id %>" data-form-sidebar-id="<%= form_sidebar_id %>">
    <%= t("actions.#{form_type}_from_case") %>
  </a>

  <div id="<%= form_type %>_modal" class="reveal" data-reveal data-button="<%= form_type %>_modal">
    <%= render 'shared/modal_close' %>
    <div class="space"></div>
    <div class="row collapse">
      <div class="large-12 columns <%= form_type %>_container"></div>
    </div>
  </div>
</li>