<style>
  .header_container, .contain-to-grid {
    display: none;
  }
</style>

<div class="app-error">
  <%= image_tag('logo.png') %>
  <div class="message"><%= t('error_page.not_found.something_went_wrong') %></div>
  <div class="status"><%= t('error_page.not_found.code') %></div>
  <div class="error"><%= t('error_page.not_found.server_error') %></div>
  <div class="directions"><%= t('error_page.not_found.contact_admin') %></div>

  <div class="return">
    <%= link_to t('navigation.home'), root_path %>
  </div>
</div>