<% content_for :breadcrumbs do %>
  <%= I18n.t("contact.info_label") %>
<% end %>

<% content_for :record_sub_nav do %>
  <%= render_controls(@contact_information) %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="medium-3 large-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'contact_information'} %>
  </div>
  <div class="medium-9 large-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <div class="row">
        <div class="large-12 columns">
          <%= form_for @contact_information, :url => contact_information_path(@contact_information.id), :html => {:class=> 'default-form', :autocomplete => "off"} do |f| %>
            <fieldset class="no-border">
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :name, t("contact.field.name"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_field :name %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :organization, t("contact.field.organization"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_field :organization %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :position, t("contact.field.position"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_field :position %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :phone, t("contact.field.phone"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_field :phone %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :email, t("contact.field.email"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_field :email %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :location, t("contact.field.location"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_area :location %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :support_forum, t("contact.field.support_forum"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_field :support_forum %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :other_information, t("contact.field.other_information"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= f.text_area :other_information %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
              <div class="row">
                <div class="medium-3 columns">
                  <span class="tool-tip-label">
                    <%= f.label :system_information, t("system_settings.primero_version"), :class => "key inline" %>
                  </span>
                </div>
                <div class="medium-8 columns">
                  <%= @system_settings.primero_version %>
                </div>
                <div class="medium-1 columns"> </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>