<% content_for :breadcrumbs do %>
  <%= I18n.t("contact.info_label") %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="contact_info_page">
      <% if false %>
          <div><%= t("contact.message") %></div>
      <% end %>

      <%= show_contact_field :name %>
      <%= show_contact_field :position %>
      <%= show_contact_field :organization %>
      <%= show_contact_field :email %>
      <%= show_contact_field :phone %>
      <%= show_contact_field :location %>

      <%= show_contact_field :other_information %>
    </div>
  </div>
</div>
