<div id=<%= "copy-role-modal" %> class="reveal tiny" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class=<%= "copy_role_form_container row"%> >
    <div class="large-11">
      <% # The copy_role_path below will be swapped out with the actual url by the js. %>
      <%= form_tag(copy_role_path('tmp'), {:multipart => true, :method => 'post', :autocomplete => "off"}) do %>
        <label><%=I18n.t("role.name")%>
          <%= text_field_tag("name") %>
        </label>
        <div class="import_button">
          <%= submit_tag(t("buttons.submit"), class: 'button hollow right') %>
        </div>
      <% end %>
    </div>
    <div class="large-1"></div>
  </div>
</div>