<%= form_for editable_role, :html => {:class => 'default-form', :autocomplete => "off"} do |f| %>
    <div class="clearfix"></div>
    <%= f.error_messages :header_tag => :h3 %>

    <div class="clearfix"></div>
    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field")%></div>
    <div class="clearfix"></div>
    <fieldset class="no-border">

      <%= resource_edit_field(@role, 'name', 'name', 'text_field', true) %>
      <%= resource_edit_field(@role, 'description', 'description', 'text_area') %>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :permissions, t("permissions.label"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <span class="value value_form">
            <% translated_permissions.each do |group_name, permissions| %>
              <span class="section">
                <span class="title"><%= t("permissions.#{group_name}") %></span>
                <% Hash[*permissions.flatten].values.each do |permission| %>
                    <label><%= f.check_box :permissions, {:id => permission.dehumanize,
                            :name => "role[permissions][]"}, permission, nil %>
                    <%= t("permissions.permission.#{permission}") %></label>
                <% end %>
              </span>
            <% end %>
          </span>
        </div>
        <div class="medium-1 columns">
          <span class="required">*</span>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :permitted_form_ids, t("forms.label"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <span class="value value_form">
            <% @forms_by_record_type.each do |record_type, forms_list| %>
              <span class="section">
                <span class="title"><%= I18n.t("forms.record_types.#{record_type}") %></span>
                <% forms_list.sort_by{ |f| f.name }.each do |form| %>
                    <label><%= f.check_box :permitted_form_ids, {:id => "role_#{form.unique_id}",
                              :name => "role[permitted_form_ids][]", class: 'tick_box'}, form.unique_id, nil %>
                    <%= form.name %></label>
                <% end %>
              </span>
            <% end %>
            <%= f.hidden_field :permitted_form_ids, name: 'role[permitted_form_ids][]', value: nil %>
          </span>
        </div>
        <div class="medium-1 columns">
        </div>
      </div>

    </fieldset>
<% end %>

<% content_for :record_sub_nav do %>
  <!--TODO: After we got the user object in the session replace the DB query with User object-->
  <%= render_controls(@role) %>
<% end %>