<%= form_for editable_role, :html => {:class => ''} do |f| %>
    <div class="clearfix"></div>
    <%= f.error_messages :header_tag => :h3 %>

    <div class="clearfix"></div>
    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field")%></div>
    <div class="clearfix"></div>
    <fieldset>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :name, t("name"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <%= f.text_field :name %>
        </div>
        <div class="medium-1 columns">
          <span class="required">*</span>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :description, t("description"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <%= f.text_area :description %>
        </div>
        <div class="medium-1 columns"> </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :permissions, t("permissions.label"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <span class="value">
            <% translated_permissions.each do |group_name, permissions| %>
              <span class="section">
                <span class="title"><%= t("permissions.#{group_name}") %></span>
                <% Hash[*permissions.flatten].values.each do |permission| %>
                    <label><%= f.check_box :permissions, {:id => permission.dehumanize, :name => "role[permissions][]"}, permission, "" %>
                    <%= t("permissions.permission.#{permission}") %></label>
                <% end %>
              </span>
            <% end %>
          </span>
        </div>
        <div class="medium-1 columns">
          <span class="required">*</span>
        </div>
      </div>

    </fieldset>
    <div class="btn_panel">
      <%= cancel_button(roles_path) %>
    <%= submit_button(editable_role.new_record? ? t("roles.actions.create") : t("roles.actions.update")) %>
    <!--TODO: After we got the user object in the session replace the DB query with User object-->

        </div>
<% end %>
