<%
  reporting_location_options = Lookup.values_for_select('lookup-reporting-location-type')
  show_reporting_locations = reporting_location_options.present?
%>

<%= form_for editable_role, :html => {:class => 'default-form', :autocomplete => "off"} do |f| %>
    <div class="clearfix"></div>
    <%= f.error_messages :header_tag => :h3 %>

    <div class="clearfix"></div>
    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field")%></div>
    <div class="clearfix"></div>
    <fieldset class="no-border">

      <%= resource_edit_field(@role, 'name', 'role.name', 'text_field', true) %>
      <%= resource_edit_field(@role, 'description', 'role.description', 'text_area') %>

      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :transfer, t("role.transfer_label"), :class=>'key'  %>
        </div>
        <div class="medium-8 columns">
          <label class="left">
            <%= f.check_box :transfer%>
            <%= t("true") %>
          </label>
        </div>
        <div class="medium-1 columns">
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :referral, t("role.referral_label"), :class=>'key'  %>
        </div>
        <div class="medium-8 columns">
          <label class="left">
            <%= f.check_box :referral%>
            <%= t("true") %>
          </label>
        </div>
        <div class="medium-1 columns">
        </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :group_permission, t("role.group_permission_label"), :class=>'key'  %>
        </div>
        <div class="medium-8 columns">
          <label class="left">
            <%= select_tag "role[group_permission]",
                           options_for_select(translated_group_permissions.map{|p| [p[:value], p[:key]]},
                                              editable_role.group_permission) %>
          </label>
        </div>
        <div class="medium-1 columns">
        </div>
      </div>

      <% if show_reporting_locations %>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :reporting_location_level, t("role.reporting_location_level_label"), :class=>'key'  %>
          </div>
          <div class="medium-8 columns">
            <label class="left">
              <%= select_tag "role[reporting_location_level]",
                             options_for_select(reporting_location_options,
                                                editable_role.reporting_location_level),
                             include_blank: true%>
            </label>
          </div>
          <div class="medium-1 columns">
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :permissions, t("permissions.label"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <span class="value value_form">
            <% translated_all_permissions_list.each_with_index do |permission, index| %>
              <span class="section section-show">
                <span class="title"><%= permission[:resource_translated] %></span>
                <%= hidden_field_tag("role[permissions_list][#{index}][resource]", permission[:resource]) %>
                <% if permission[:resource] == Permission::ROLE %>
                  <label>
                    <%= f.label :role_ids, t("role.role_ids_label"), :class=>'key'  %>
                    <%= select_tag "role[permissions_list][#{index}][role_ids]",
                                   options_for_select(Role.all.map{|r| [r.name, r.id]},
                                                      editable_role.associated_role_ids),
                                class: 'chosen_select', id: 'chosen_role', multiple: true, include_blank: true %>
                  </label>
                <% end %>
                <% permission[:actions_translated].each do |action| %>
                  <label>
                    <%= f.check_box :permissions_list,
                                    {id: "#{permission[:resource]}_#{action[:key]}",
                                     name: "role[permissions_list][#{index}][actions][]",
                                     checked: is_permission_checked(editable_role.permissions, permission[:resource], action)},
                                    action[:key], nil %>
                    <%= action[:value] %>
                  </label>
                <% end %>
              </span>
            <% end %>
          </span>
        </div>
        <div class="medium-1 columns">
          <span class="required">*</span>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <span class="tool-tip-label">
            <%= f.label :permitted_form_ids, t("forms.label"), :class => 'key' %>
          </span>
        </div>
        <div class="medium-8 columns">
          <span class="value value_form">
            <% @forms_by_record_type.each do |record_type, forms_list| %>
              <span class="section">
                <span class="title"><%= I18n.t("forms.record_types.#{record_type}") %></span>
                <% forms_list.sort_by{ |fl| fl.name }.each do |form| %>
                    <label><%= f.check_box :permitted_form_ids, {:id => "role_#{form.unique_id}",
                              :name => "role[permitted_form_ids][]", class: 'tick_box'}, form.unique_id, nil %>
                    <%= form.name %></label>
                <% end %>
              </span>
            <% end %>
            <%= f.hidden_field :permitted_form_ids, name: 'role[permitted_form_ids][]', value: nil %>
          </span>
        </div>
        <div class="medium-1 columns">
        </div>
      </div>

    </fieldset>
<% end %>

<% content_for :record_sub_nav do %>
  <!--TODO: After we got the user object in the session replace the DB query with User object-->
  <%= render_controls(@role, 'roles') %>
<% end %>
