<% content_for :breadcrumbs do %>
  <%= t("roles.label") %>
<% end %>

<% content_for :record_sub_nav_controls do %>
  <% if can?(:create, Role) %>
    <li><%= link_to content_tag(:span, t("role.create"), :class => 'create_user'), new_role_path, :class => 'btn green-button' %></li>
  <% end %>
  <%#= render 'exports/button' %>
  <%# TODO: Hiding imports so that QA doesn't get into trouble %>
  <%#= render 'imports/button' %>
<% end %>

<div class="page-content-new row collapse" data-equalizer>
  <div class="large-4 medium-4 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'roles'} %>
  </div>
  <div class="large-8 medium-8 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <form class="filter_bar" autocomplete="off">
        <% permissions_for_filter = translated_permissions %>
        <% permissions_for_filter << [I18n.t("All", :scope => 'permissions.permission'), ["All"]] %>
        <div class="row">
          <div class="medium-6 columns">
            <div class="float_left">
              <small class="scope_label"><%= t("roles.actions.show") %></small> <%= select_tag :show, grouped_options_for_select(permissions_for_filter, params[:show]), :onchange => "this.form.submit()"  %>
            </div>
          </div>
          <div class="medium-6 columns">
            <div class="float_left">
              <small class="scope_label"><%= t("roles.sort_by.label") %></small>  <%= select_tag :sort_by_descending_order, options_for_select([[t("roles.sort_by.ascending"),"false"],[ t("roles.sort_by.descending"), "true"]], params[:sort_by_descending_order]), { :onchange => "this.form.submit();"} %>
            </div>
          </div>
        </div>
      </form>
      <table id="list_table" class="list_table_2 dataTable in_content_area">
        <thead>
          <tr>
              <th><%= t("role.name") %></th>
              <th><%= t("description") %></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <% @roles.each do |role| %>
              <tr>
                <td class='role_name'><%= role.name %></td>
                <td><%= truncate(role.description, :length => 40) %></td>
                <td>
                  <% if can?(:view, role) %>
                    <%= link_to(t("roles.actions.show"), role_path(role))%>
                    <br>
                  <% end %>
                  <% if can?(:edit, role) %>
                    <%= link_to(t("roles.actions.edit"), edit_role_path(role))%>
                    <br>
                  <% end %>
                  <% if can?(:copy, role) %>
                    <a data-open=<%= "copy-role-modal" %> data-role-id=<%= role.id %> class=<%= "copy-role-action" %>>
                      <%= t("roles.actions.copy") %>
                    </a>

                    <br>
                  <% end %>
                  <% if can?(:destroy, role) %>
                    <%= link_to t("roles.actions.delete"), role, data: {confirm: t("roles.messages.confirmation")}, method: :delete %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'roles/copy' %>
    </div>
  </div>
</div>
