<%
  reporting_location_options = Lookup.values_for_select('lookup-reporting-location-type')
  if reporting_location_options.present?
    show_reporting_locations = true
    reporting_location_value = @role.reporting_location_level || @system_settings.try(:reporting_location_config).try(:label_key)
  end
%>

<% content_for :breadcrumbs do %>
  <%= t("roles.view") %> (<%= @role.name %>)
<% end %>

<% content_for :record_sub_nav do %>
  <% if can? :update, @role %>
    <a class="button" href="<%= edit_role_path @role %>">
      <span class="edit"><%= t("buttons.edit") %></span>
    </a>
  <% end %>
  <%#= render partial: 'exports/button', locals: {model: Role, instance: @role} %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="medium-4 large-4 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'roles'} %>
  </div>
  <div class="medium-8 large-8 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <div class="row">
        <div class="large-12 columns">
          <%= form_for @role, :html => {:class => '', :autocomplete => "off"} do |f| %>
              <%= error_messages_for :role %>
              <fieldset class="no-border">
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :name, t("role.name"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <span class="value"><%= @role.name %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :description, t("description"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <%= @role.description %>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :transfer, t("role.transfer_label"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <label class="left">
                      <%= f.check_box :transfer, :disabled => "disabled"%>
                      <%= t("true") %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :referral, t("role.referral_label"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <label class="left">
                      <%= f.check_box :referral, :disabled => "disabled"%>
                      <%= t("true") %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :group_permission, t("role.group_permission_label"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <label class="left">
                      <%= select_tag "role[group_permission]",
                                     options_for_select(translated_group_permissions.map{|p| [p[:value], p[:key]]},
                                                        @role.group_permission),
                                     disabled: true%>
                    </label>
                  </div>
                </div>
                <% if show_reporting_locations %>
                  <div class="row">
                    <div class="medium-4 columns">
                      <%= f.label :reporting_location_level, t("role.reporting_location_level_label"), :class=>'key'  %>
                    </div>
                    <div class="medium-8 columns">
                      <label class="left">
                        <%= select_tag "role[reporting_location_level]",
                                       options_for_select(reporting_location_options,
                                                          @role.reporting_location_level),
                                       disabled: true, data: {value: reporting_location_value}%>
                      </label>
                    </div>
                  </div>
                <% end %>
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :permissions, t("permissions.label"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <span class="value value_form">
                      <% translated_permissions_list(@role.permissions_list).each_with_index do |permission, index| %>
                        <span class="section section-show">
                          <span class="title"><%= permission[:resource_translated] %></span>
                          <% if permission[:resource] == Permission::ROLE %>
                            <label>
                              <%= f.label :role_ids, t("role.role_ids_label"), :class=>'key'  %>
                              <%= select_tag "role[permissions_list][#{index}][role_ids]",
                                             options_for_select(Role.all.map{|r| [r.name, r.id]},
                                                                @role.associated_role_ids),
                                             class: 'chosen_select', id: 'chosen_role', multiple: true,
                                             include_blank: true, disabled: true %>
                            </label>
                          <% end %>
                          <% permission[:actions_translated].each do |action| %>
                            <label> <%= action[:value] %> </label>
                          <% end %>
                        </span>
                      <% end %>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="medium-4 columns">
                    <%= f.label :permitted_form_ids, t("forms.label"), :class=>'key'  %>
                  </div>
                  <div class="medium-8 columns">
                    <span class="value value_form">
                      <%  @forms_by_record_type.each do |record_type, forms_list| %>
                          <span class="section section-show">
                            <span class="title"><%= t("forms.record_types.#{record_type}") %></span>
                            <% forms_list.each do |form| %>
                              <label><%= f.check_box :permitted_form_ids, {:id => "role_#{form.unique_id}", :name => "role[permitted_form_ids][]", disabled: "disabled"}, form.unique_id, "" %>
                              <%= form.name %></label>
                            <% end %>
                          </span>
                      <% end %>
                    </span>
                  </div>
                </div>
              </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
