<%= resource_edit_field(object, 'name', 'primero_module.name', 'text_field', true) %>
<%= resource_edit_field(object, 'description', 'primero_module.description', 'text_area') %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :primero_program_id, t("primero_module.program"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form">
      <%= form_builder.select :primero_program_id, options_for_select(@programs.map{|p|[p.name, p.id]}) %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :associated_record_types, t("primero_module.associated_record_types"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns record_types">
    <span class="value value_form">
      <span class="section">
        <% FormSection::RECORD_TYPES.each do |record_type| %>
          <label>
            <%= form_builder.check_box :associated_record_types, {id: "prmero_module_#{record_type}", name: "primero_module[associated_record_types][]", class: 'tick_box'}, record_type, nil  %>
            <%= t("forms.record_types.#{record_type}") %>
          </label>
        <% end %>
        <%= form_builder.hidden_field :associated_record_types, name: 'primero_module[associated_record_types][]', value: nil %>
      </span>
    </span>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<div class="row form_section_ids">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :form_section_ids, t("primero_module.form_section_ids"), :class => 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form">
      <% @forms_by_record_type.each do |record_type, forms_list| %>
        <span class="section <%= record_type %>">
          <span class="title"><%= t("forms.record_types.#{record_type}") %></span>
          <% forms_list.sort_by{ |f| f.name }.each do |form| %>
              <label>
                <%= form_builder.check_box :form_section_ids, { id: "primero_module_#{form.unique_id}", name: "primero_module[form_section_ids][]", class: 'tick_box' }, form.id, nil %>
                <%= form.name %>
              </label>
          <% end %>
          <%= form_builder.hidden_field :form_section_ids, name: 'primero_module[form_section_ids][]', value: nil %>
        </span>
      <% end %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
