<% content_for :resource_show_fields do %>
  <%= resource_show_field @primero_module, 'name', 'primero_module.name' %>
  <%= resource_show_field @primero_module, 'description', 'primero_module.description' %>
  <%= resource_show_field @primero_module, 'program_name', 'primero_module.program' %>
  <div class="row">
    <div class="medium-4 columns">
      <label class="key"><%= t("primero_module.record_type") %></label>
    </div>
    <div class="medium-8 columns">
      <%# TODO: translate! %>
      <span class="value">
        <%= @primero_module.associated_record_types.map{|rt| t("forms.record_types.#{rt}")}.join(", ") %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label class="key"><%= t("primero_module.forms") %></label>
    </div>
    <div class="medium-8 columns">
      <% @primero_module.associated_forms_grouped_by_record_type.each do |record_type, forms| %>
        <span class="value value-nobg">
          <span class="section section-show">
            <span class="title"><%= t("forms.record_types.#{record_type}") %></span>
            <ul class="no-bullet">
              <% forms.sort_by{ |f| f.order }.each do |form| %>
                <li><%= form.name %></li>
              <% end %>
            </ul>
          </span>
        </span>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'shared_configuration_resource/show', locals: {object: @primero_module} %>

