<form accept-charset="UTF-8" action="<%=  form_action  %>" class="edit_<%=  model  %>" id="<%=  form_id  %>" method="post" autocomplete="off">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input name="_method" type="hidden" value="put">
    <input name="authenticity_token" type="hidden" value="<%=  authenticity_token  %>">
    <input id="<%=  model  %>_redirect_url" name="redirect_url" type="hidden" value="<%=  redirect_url  %>">
  </div>
  <div class="row add_flag align-bottom collapse">
    <div class="column">
      <label for="<%= model %>_<%= message_id %>"><%= message %></label>
      <input id="<%= model %>_<%= message_id %>" name="<%= message_id %>" size="30" type="text" value="" class="flag_message">
    </div>
    <div class="column">
      <label for="<%= model %>_<%= message_date_id %>"><%= message_date %></label>
      <input id="<%= model %>_<%= message_date_id %>" name="<%= message_date_id %>" size="12" type="text" class="form_date_field">
    </div>
    <div class="column">
      <input class="mark-as-submit button flag_submit" data-error-message="<%= submit_error_message %>" id="<%= model %>_submit" name="commit" type="submit" value="<%= submit_label %>">
    </div>
  </div>
</form>
