<div class="row lookup_value">
  <div class="<%= editing ? ' medium-4' : 'medium-9' %> columns">
    <input type="hidden" name="lookup[lookup_values_<%= locale %>][][id]" value="<%= id %>" />
    <input type="text" name="lookup[lookup_values_<%= locale %>][][display_text]" id="lookup_lookup_values_<%= locale %>__display_text" value="<%= display_text %>" />
  </div>
  <% if (editing) { %>
    <% _.each(locale_options, function(locale_option) { %>
      <% if (locale_option != locale) { %>
        <div class="medium-4 columns <%= 'translation_forms ' + locale_option %> hide">
          <input type="hidden" name="lookup[lookup_values_<%= locale_option %>][][id]" value="<%= id %>" />
          <input type="text" name="lookup[lookup_values_<%= locale_option %>][][display_text]" id="lookup_lookup_values_<%= locale_option %>__display_text" value="<%= display_text %>" />
        </div>
      <% } %>
    <% }); %>
  <% } %>
  <div class="medium-3 columns">
    <a class="lookup_value_remove grey-button"><%= remove_text %></a>
  </div>
</div>