<div class="remove_flag_record_container">
  <div class="row collapse">
    <div class="medium-2 columns">
      <span class="row view_history_flags_label"><%= unflag_by %></span>
      <span class="row view_history_flags_label"><%= unflagged_by %></span>
    </div>
    <div class="medium-7 columns view_history_flags_label">
      <span class="row view_history_flags_label"><%= unflagged_label %></span>
      <div class="row  view_history_flags_reason"><%= remove_message %></div>
    </div>
    <div class="medium-2 columns">
      <span class="row view_history_flags_label"><%= unflag_date %></span>
      <span class="row view_history_flags_label"><%= I18n.l("date.formats.default", unflagged_date) %></span>
    </div>
  </div>
  <div class="clear"></div>
</div>