<a data-open="import-bundle-modal">
  <%= t("buttons.bundle_import") %>
</a>

<div id="import-bundle-modal" class="reveal tiny" data-reveal>
  <%= render 'shared/modal_close' %>
  <%= form_tag(url_for(:action => 'import_bundle', :controller => 'configuration_bundle'), {:multipart => true, :method => 'post', :autocomplete => "off"}) do %>
    <%= file_field_tag("import_file") %>
    <div class="row align-right">
      <div class="button-group">
        <%= submit_tag(t("buttons.import"), class: 'button hollow right') %>
      </div>
    </div>
  <% end %>
</div>
