<%= resource_edit_field(object, 'name', 'report.name', 'text_field', true) %>
<%= resource_edit_field(object, 'description', 'report.description', 'text_area') %>
<%# Modules input %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :module_ids, t("report.modules"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form">
      <%= form_builder.select(
            :module_ids,
            options_for_select(
              @current_user.modules.map{|p|[p.name, p.id]},
              @report.module_ids
            ),
            {}, {multiple: true, :'data-placeholder' => t("fields.select_box_empty_item")}
          )
      %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<%# Record type input %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :record_type, t("report.record_type"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form">
      <%= form_builder.select(
            :record_type,
            options_for_select(
              Report.reportable_record_types.map{|rt|[t("forms.record_types.#{rt}"), rt]},
              @report.record_type
            ),
            {include_blank: t("fields.select_box_empty_item")}, {:'data-placeholder' => t("fields.select_box_empty_item")}
          )
      %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<%# Report Rows / aggregate_by %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :aggregate_by, t("report.aggregate_by"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form" data-actual-order="<%= @report.aggregate_by %>">
      <%= form_builder.select(
            :aggregate_by,
            grouped_options_for_select(
              select_options_fields_grouped_by_form(@reportable_fields),
              @report.aggregate_by
            ),
            {}, {multiple: true, :'data-placeholder' => t("fields.select_box_empty_item")}
          )
      %>
    </span>
    <p class="help"><%= t("reports.limited_pivots") %></p>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<%# Report Coulmns / disaggregate_by %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :disaggregate_by, t("report.disaggregate_by"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form" data-actual-order="<%= @report.disaggregate_by %>">
      <%= form_builder.select(
            :disaggregate_by,
            grouped_options_for_select(
              select_options_fields_grouped_by_form(@reportable_fields),
              @report.disaggregate_by
            ),
            {}, {multiple: true, :'data-placeholder' => t("fields.select_box_empty_item")}
          )
      %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span></span>
  </div>
</div>
<%# Aggregate counts from %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :aggregate_counts_from, t("report.aggregate_counts_from"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form">
      <%= form_builder.select(
            :aggregate_counts_from,
            grouped_options_for_select(
              select_options_fields_grouped_by_form(@reportable_fields_aggregate_counts_from),
              @report.aggregate_counts_from
            ),
            {include_blank: t("fields.select_box_empty_item")}, {:'data-placeholder' => t("fields.select_box_empty_item")}
          )
      %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span></span>
  </div>
</div>
<%# Group ages%>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :group_ages, t("report.group_ages"), :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <%= form_builder.check_box :group_ages, {}, "true", "false" %>
    <small><%= @age_ranges.join(", ") %></small>
  </div>
  <div class="medium-1 columns"> </div>
</div>
<%# Group dates by input %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :group_dates_by, t("report.group_dates_by"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span class="value value_form">
      <%= form_builder.select(
            :group_dates_by,
            options_for_select(
              Report::DATE_RANGES.map{|r|[t("report.date_ranges.#{r}"), r]},
              @report.group_dates_by
            )
          )
      %>
    </span>
  </div>
  <div class="medium-1 columns">
    <span class="required">*</span>
  </div>
</div>
<%# Filter by %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :filters, t("report.filters.label"), class: 'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <div class="report_filters_container">
      <% if @report.filters.present? %>
        <% @report.filters.each_with_index do |filter, index|%>
          <%= render partial: 'report_filter', locals: {report_filter: filter, index: index} %>
        <% end %>
      <% end %>
    </div>
    <%= render partial: 'report_filter', locals: {report_filter: nil, index: nil} %>
    <div class="row collapse">
      <div class="medium-5 columns medium-offset-8">
        <a id="report_filter_add_button" class="green-button">Add Filter</a>
      </div>
    </div>
  </div>
  <div class="medium-1 columns"></div>
</div>
<%# Add default filters %>
<% if @report.add_default_filters %>
  <div class="row">
    <div class="medium-3 columns">
      <span class="tool-tip-label">
        <%= form_builder.label :add_default_filters, t("report.add_default_filters"), :class=>'key inline' %>
      </span>
    </div>
    <div class="medium-8 columns">
      <%= form_builder.check_box :add_default_filters, {}, "true", "false" %>
      <small><%= t('report.add_default_filters_help') %></small>
    </div>
    <div class="medium-1 columns"> </div>
  </div>
<% end %>
<%# Report Is Graph %>
<div class="row">
  <div class="medium-3 columns">
    <span class="tool-tip-label">
      <%= form_builder.label :is_graph, t("report.is_graph"), :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <%= form_builder.check_box :is_graph, {}, "true", "false" %>
  </div>
  <div class="medium-1 columns"> </div>
</div>