<table id="report_table" width="100%">
  <thead>
  <% report_header_rows(report.data[:disaggregate_value_range]).each do |header_row| %>
    <tr>
      <th></th>
      <% header_row.each do |headers| %>
        <th colspan=<%= headers[1] %>><%= headers[0] %></th>
      <% end %>
    </tr>
  <% end %>
  </thead>
  <tbody>
  <% report.data[:aggregate_value_range][1..-1].each do |aggregate| %>
    <tr class="<%= report_row_type(aggregate) %>">
      <td class="report_sidebar_value"><%= report_sidebar_value(aggregate) %></td>
      <% report.data[:disaggregate_value_range][1..-1].each do |disaggregate| %>
        <td><%= report.data[:values][aggregate + disaggregate] %></td>
      <% end %>
      <% key_padding = []
          if report.data[:disaggregate_value_range]
            key_padding = report.data[:disaggregate_value_range][0]
          end
      %>
      <td><%= report.data[:values][aggregate + report.data[:disaggregate_value_range][0]] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
