<tr>
  <% if false %>
  <td class="select_record">
    <input type="checkbox" class="select_record" value="<%= record.id %>" id="<%= record.name %>">
  </td>
  <% end %>
  <td id="report_<%= record.id %>" class="id_column">
    <%= link_to (record.name(I18n.locale).present? ? record.name(I18n.locale) : record.name_en), report_path(record), class: 'id_link' %>
  </td>
  <td><%= (record.description(I18n.locale).present? ? record.description(I18n.locale) : record.description_en) %></td>
  <td>
    <% if can?(:destroy, Report) && record.editable %>
        <%= link_to t("reports.actions.delete"), record, data: {confirm: t("reports.messages.confirmation")}, method: :delete %>
    <% end %>
  </td>
</tr>