<div class="reports">
  <%# Sticky report name and toolbar %>
  <%= render 'toolbar' %>
  <%= render 'show_report_filters' %>
  <%# The actual report content %>
  <ul class="tabs" data-tabs role="tablist" id="reports-tabs">
    <li class="tabs-title is-active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1"><%= t('reports.tabs.table') %></a></li>
    <% if @report.is_graph && @report.has_data? %>
      <li class="tabs-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2"><%= t('reports.tabs.graph') %></a></li>
    <% end %>
  </ul>
  <div class="page-content-new">
      <div class="report_header_content">
        <div class="report_description"><%= @report.description %></div>
      </div>
      <div class="tabs-content" data-tabs-content="reports-tabs">
        <% if @report.is_graph && @report.has_data? %>
        <div role="tabpanel" aria-hidden="false" class="content tabs-panel" id="panel2-2">
            <div class="report_chart_content">
              <canvas id="report_graph" height="500" width="1000"></canvas>
            </div>
        </div>
        <% end %>
        <div class="report_table_content content tabs-panel is-active" role="tabpanel" aria-hidden="true" id="panel2-1">
          <% if @report.has_data? %>
            <table id="report_table" width="100%">
              <thead>
              <% report_header_rows(@report.data[:disaggregate_value_range]).each do |header_row| %>
                <tr>
                  <th></th>
                  <% header_row.each do |headers| %>
                    <th colspan=<%= headers[1] %>><%= headers[0] %></th>
                  <% end %>
                </tr>
              <% end %>
              </thead>
              <tbody>
              <% @report.data[:aggregate_value_range][1..-1].each do |aggregate| %>
                <tr class="<%= report_row_type(aggregate) %>">
                  <td class="report_sidebar_value"><%= report_sidebar_value(aggregate) %></td>
                  <% @report.data[:disaggregate_value_range][1..-1].each do |disaggregate| %>
                    <td><%= @report.data[:values][aggregate + disaggregate] %></td>
                  <% end %>
                  <% key_padding = []
                      if @report.data[:disaggregate_value_range]
                        key_padding = @report.data[:disaggregate_value_range][0]
                      end
                  %>
                  <td><%= @report.data[:values][aggregate + @report.data[:disaggregate_value_range][0]] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <div><%= t 'report.no_data' %></div>
          <% end %>
        </div>
      </div>
  </div>
</div>