<%
  editing ||= false
  type_selection = ((@location.present? && @location.type.present?) ? @location.type : "")
  parent_options = (@locations.present? ? @locations.order(:admin_level).map{|lct| [lct.name, lct.id]}.insert(0, "") : [])
  parent = @location.parent
  parent_selection ||= (parent.present? ? parent.id : "")
  admin_level_options = Location::ADMIN_LEVELS
  admin_level_selection = ((@location.present? && @location.admin_level.present?) ? @location.admin_level : "")
  admin_level_disabled = !@location.admin_level_required?
  given_locale = Primero::Application::BASE_LANGUAGE
  system_locale = I18n.locale
%>

<% content_for :record_sub_nav do %>
  <div class="button-group">
    <%= discard_button(locations_path) %>
    <%= submit_button t("buttons.save") %>
  </div>
<% end %>

<div class="row">
  <%= form_for @location, :html => { :class => 'default-form location-new-edit', :autocomplete => "off" } do |f| %>
    <fieldset class="no-border">
      <% if editing %>
        <div class="callout warning"><%= t('location.location_code_warning') %></div>
      <% end %>
      <%= error_messages_for(@location) %>
      <% if editing %>
        <div class="row">
          <div class="medium-9 medium-offset-3 columns">
            <%= render 'shared/locale_select', current_locale: "en"%>
          </div>
        </div>
      <% end %>
      <div class="row placename">
        <div class="medium-3 columns">
          <%= f.label "placename", t("location.placename", :locale => system_locale), :class => 'key inline' %>
        </div>
        <div class="<%= editing ? 'medium-4' : 'medium-9' %> columns">
          <%= f.text_field "placename_#{given_locale}", :id => "placename", required: true %>
        </div>
        <% if editing %>
          <% Primero::Application::locales.each do |new_locale| %>
            <% if I18n.locale.to_s != new_locale %>
              <div class="<%= editing ? 'medium-4' : 'medium-9' %> columns <%= "translation_forms #{new_locale}"%> hide_element">
                <%= f.text_field "placename_#{new_locale}" || [] %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :location_code, t("location.code"), :class => "key" %>
        </div>
        <div class="medium-9 columns">
          <%= f.text_field :location_code %>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :type, t("location.type"), :class => "key" %>
        </div>
        <div class="medium-9 columns">
          <%= select_tag 'location[type]', options_for_select(@location_types.lookup_values
          .map{|location_type| [location_type["display_text"], location_type["id"]]}, type_selection )%>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :parent_id, t("location.parent"), :class => "key" %>
        </div>
        <div class="medium-9 columns">
          <%= select_tag 'location[parent_id]', options_for_select(parent_options, parent_selection )%>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <%= f.label :admin_level, t("location.admin_level"), :class => "key" %>
        </div>
        <div class="medium-9 columns">
          <%= select_tag 'location[admin_level]', options_for_select(admin_level_options, admin_level_selection ),
                         include_blank: true, disabled: admin_level_disabled%>
        </div>
      </div>
      <% if can?(:disable, @location) %>
        <div class="row">
          <div class="medium-3 columns">
            <span class="tool-tip-label">
              <%= f.label :disabled, t("disabled.status.disabled"), :class=>'key inline' %>
            </span>
          </div>
          <div class="medium-8 columns">
            <%= f.check_box :disabled, {}, "true", "false" %>
          </div>
          <div class="medium-1 columns"></div>
        </div>
      <% end %>
    </fieldset>
  <% end %>
</div>
