<%
  type_selection = ((@location.present? && @location.type.present?) ? @location.type : "")
  parent_options = (@locations.present? ? @locations.map{|lct| [lct.name, lct.id]}.insert(0, "") : [])
  parent_selection ||= ""   #TODO
%>
<div class="btn_panel">
  <div class="row">
    <%= form_for @location, :html => { :class => 'default-form' } do |f| %>

      <%= f.error_messages :header_tag => :h3 %>
      <div class="clearfix"></div>

      <div class="btn_panel">
        <div class="row">
          <div class="medium-12 columns">
            <%= cancel_button locations_path %>
            <%= submit_button t("buttons.save") %>
          </div>
        </div>
      </div>

      <fieldset>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :placename, t("location.placename"), :class => "key" %>
          </div>
          <div class="medium-9 columns">
            <%= f.text_field :placename %>
          </div>
        </div>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :type, t("location.type"), :class => "key" %>
          </div>
          <div class="medium-9 columns">
            <%= select_tag 'location[type]', options_for_select(@location_types, type_selection )%>
          </div>
        </div>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :parent_id, t("location.parent"), :class => "key" %>
          </div>
          <div class="medium-9 columns">
            <%= select_tag 'location[parent_id]', options_for_select(parent_options, parent_selection )%>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
