<form class="filter_bar" autocomplete="off">
  <div class="row">
    <div class="medium-6 columns">
      <div class="float_left">
        <small class="scope_label"><%= t("location.show") %></small>
        <%= select_tag :filter, disabled_options(params[:filter]), { :onchange => "this.form.submit();"} %>
      </div>
    </div>
    <div class="medium-6 columns">
    </div>
  </div>
</form>
<table id="list_table_2" class="list_table_2 dataTable in_content_area">
  <thead>
  <tr>
    <th><%= t "location.name" %></th>
    <th><%= t "location.code" %></th>
    <th><%= t "location.type" %></th>
    <th><%= t "location.hierarchy" %></th>
    <th><%= t "location.status" %></th>
    <th ></th>
  </tr>
  </thead>

  <tbody>
      <% locations.each do |lct| %>
          <tr>
            <td><%= lct.placename %></td>
            <td><%= lct.location_code %></td>
            <td><%= lct.type %></td>
            <td><%= lct.hierarchy.join(", ") %></td>
            <td><%= disabled_status lct %></td>
            <td>
              <%= link_to t("buttons.edit"), edit_location_path(lct) %>
            </td>
          </tr>
      <% end %>
  </tbody>
</table>

