<% content_for :breadcrumbs do %>
  <%= t('location.index') %>
<% end %>
<% content_for :record_sub_nav do %>
  <% if can? :create, Location %>
    <%= link_to content_tag(:span, t("location.create"), class: 'create_user'), new_location_path,  class: 'button hollow right' %>
  <% end %>
<% end %>
<div class="clearfix"></div>
<div class="page-content-new row collapse" data-equalizer>
  <%= render :partial => 'form_section/sidebar', :locals => {:highlight_page => 'locations'} %>
  <div class="large-8 medium-8 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <%= render partial: 'shared_configuration_resource/table_disabled_filter'%>
      <%= render :partial => "locations/list_view_table", :locals => {:locations => @locations} %>
      <div id="modal-dialog" class="hide"></div>
  </div>
</div>
