  <div id=<%="#{export_type}-exports" %> class="reveal reveal-modal tiny"
      data-reveal data-record-type="<%= controller.model_class == Child ? 'case' : controller.model_class.to_s.underscore %>"
      data-module-id="<%= @record.module_id if @record.present? %>"
      data-record-id="<%= @record.id if @record.present? %>"
      data-model-class="<%= controller.model_class %>"
      data-empty-password="<%= t('exports.custom_exports.empty_password') %>"
      data-empty-fields-forms="<%= t('exports.custom_exports.empty_fields_forms') %>"
      data-empty-format="<%= t('exports.custom_exports.empty_format') %>"
      data-empty-module="<%= t('exports.custom_exports.empty_module') %>">

    <h5><%= t("exports.#{export_type}_exports.label") %></h5>
    <div data-alert class="alert-box alert message"></div>
    <form id=<%="#{export_type}_export_form"%>>
      <div class="row">
        <div class="large-12 columns modal-content">
          <fieldset class="module_select">
            <%= render "exports/#{export_type}_exports_format"%>
            <div class="row">
              <div class="medium-12 columns">
                <label for="module"><%= t('exports.custom_exports.select_module') %></label>
                <select name="module">
                  <option value="" disabled selected><%= t('exports.custom_exports.module_placeholder') %></option>
                  <% @current_modules.each do |cm| %>
                    <option value="<%= cm.id %>"><%= cm.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <%= render "exports/#{export_type}_exports_select_fields"%>
          </fieldset>
          <fieldset class=<%="#{export_type}_export_form"%>>
            <i class="fa fa-refresh fa-spin pull-right loading"></i>
            <label for="forms"><%= t('exports.custom_exports.forms') %></label>
            <select name="forms" multiple></select>
          </fieldset>
          <%= render "exports/#{export_type}_exports_fields"%>
          <div id="password-prompt">
            <div class="flash hide">
              <p class="error"></p>
            </div>
            <label for="password-field"><%= t('encrypt.password_label') %></label>
            <input type="password" id="password-field" name="password-field">
            <small><%= t('encrypt.password_extra_info') %></small>
            <label for="export-filename"><%= t('encrypt.file_name') %></label>
            <input type="text" id="export-filename">
          </div>
        </div>
        <div class="clear"></div>
        <fieldset class="no-border submit_button">
          <button id="submit_export" class="btn button hollow right"><%= t('exports.custom_exports.submit') %></button>
        </fieldset>
      </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
