<div id="password-prompt-dialog" class="reveal tiny" title="<%= t("encrypt.password_title") %>" data-reveal>
  <%= render 'shared/modal_close' %>
  <div class='flash hide'>
    <p class='error'></p>
  </div>
  <form>
    <div class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> <%= I18n.t("encrypt.password_mandatory") %></p>
    </div>
    <label for="password-prompt-field"><%= t("encrypt.password_label") %></label>
    <input type="password" name="password-prompt-field" id="password-prompt-field" />
    <small><%= t("encrypt.password_extra_info") %></small>
    <label id="export-file-name-label" for="export-file-name-field"><%= t("encrypt.file_name") %></label>
    <input type="text" id="export-file-name-field" name="export-file-name" />
    <button class="button" type="submit" value="Submit"><%= t("encrypt.ok") %></button>
  </form>
</div>
