<%# Copyright (c) 2014 - 2023 UNICEF. All rights reserved. %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= csrf_meta_tag %>
  <%= csp_property_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" interactive-widget=resizes-content">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google" value="notranslate" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= @theme&.site_title || 'Primero' %></title>
  <link rel="manifest" href="/manifest.json?__WB_REVISION__=<%= @theme.revision %>">
  <link rel="icon" type="image/x-icon" href="<%= @theme&.favicon.present? ? rails_blob_path(@theme&.favicon, only_path: true) : '/favicon.ico' %>" />
  <meta name="emotion-insertion-point" content="" />
  <%= stylesheet_bundle_tag 'application', skip_pipeline: true, manifest: :application, nonce: true %>
</head>
<body dir="ltr">
  <div id="root"></div>
  <%= javascript_tag nonce: true do %>
    window.locationManifest = "<%= available_locations %>"
    window.useTheme = <%= @theme.present? %>
    window.themeRevision = "<%= @theme.revision %>"
  <% end %>
  <%= javascript_include_tag '/javascripts/i18n.js', nonce: true %>

  <% translations_file_names = Rails.configuration.i18n_translations_file.split("\n")%>
  <% I18n.available_locales.each do |locale|%>
    <% translation_file = translations_file_names.find{|file_name| file_name.starts_with?("translations-#{locale}.")} %>

    <% next if translation_file.blank? %>

    <%= javascript_include_tag "/#{translation_file}", nonce: true %>
  <% end %>
  <%= javascript_bundles_with_chunks_tag 'application', skip_pipeline: true, manifest: :application, nonce: true %>
</body>
</html>
